.cy-record_container .btn_discard_timer{
    transform: translateX(50%);
    display:none;
}
.cy-timesheet_table .cy-navigation-icon-box i {
    padding: 2px 4px;
}
.cy-timesheet_subhead {
    color: #9ea07d;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    margin-bottom: 0.6rem;
}
.cy-timesheet_time .time-format::before {
    content: attr(data-time);
}
.cy-timesheet_time .time-format::before {
    content: attr(data-time);
    /* Replace comma with colon */
    content: attr(data-time) !important; /* Ensure the specificity of this rule */
}
.task-span-width{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn_width-btn_stop{
    width: 90px;
}
.project-span-width{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#total-hours .total-hours-div {
    background-color: #b5b78f;
    padding: 0.8rem 0.5rem;
    border-bottom: none;
    margin-right:1px;
    text-align:right;
    height:100px;
}
#total-hours{
    height:35px;
}
.timesheet-grid-table .text-align-right{
    text-align:right !important;
}
.data-container-body .input_field{
    width: 94%;
    border: none;
    border-bottom: 1px solid #ced4da;
    background: none;
    text-align: center;
    margin-top: -3%;
}
.cy-timesheet_table .cy-select_form{
    border: none;
    outline: none;
    font-size: 14px;
    color: #505050;
    background-color: transparent;
    padding: 0 2rem 0 0;
}
.cy-timesheet_table #nav_buttons{
//     transform: translateX(-52px) !important;
    margin-left: 0 !important;
}
.my_timesheet_nav-divs{
    transform: translateX(-52px) !important;
}
.all_timesheet_nav-divs{
    transform: translateX(0) !important;
}
.cy-timesheet_table #table-head{
    background: #f9fafb !important;
}
.cy-timesheet_table #table-body{
    background: #ffffff !important;
}
.cy-timesheet_table .date-container{
    text-align: center;
    width:100%;
    min-width:85px;
}
.sticky-left-0{
    position:sticky;
    left:0;
    z-index:97;
}
.sticky-left-50{
    position:sticky;
    left:50px;
    z-index:97;
}
.sticky-left-45{
    position:sticky;
    left:45px;
    z-index:97;
}
.serial-number{
    width:3%;
    background:white !important
}
.sticky-right {
    position:sticky;
    right:0;
}
#employee-total-hour{
    padding:0px;
}
.serial-number-btn{
    border-radius: 25%;
    width: 1.9rem;
}
.cy_timesheet_project{
    font-size: 14px;
    color: #222222;
    font-weight: 400;
}
.total-hours-data-div{
    background-color: #b5b78f;
    border: 1px solid #AFAE9C;
    padding: 1rem 0.5rem;
    height: 100%;
    margin-right:1px;
    text-align:right;
}
.cy-timesheet_mainHead{
    color: #71735a;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 0px
}
.cy-timesheet_table tr:nth-last-child(4) td:not(:first-child):last-child div {
    padding: 1rem 0.5rem;
    background-color: #b5b78f;
    border-top: 0px;
}
#total-hours-data{
    padding:0px;
}
.border_bottom-style{
    border-bottom: 1px solid #DFDFDF !important;
}
.data-seperator{
    opacity:0.5;
}
.add-line-div{
    width:100%;
}
.add-line-div:hover{
    cursor:pointer;
    color:#014f52;
}
#table-row-body:hover + .table-project-task{
    background: #d9dbda;
}
.data-color:hover{
    cursor:pointer;
}
.table-project-task-div{
    display:flex;
    width:max-content;
}
.cy-timesheet_add {
    font-size: 14px;
    font-weight: 600;
    color: #9EA700;
}
#head-date{
    border-bottom:1px solid #d8dadd !important;
}
#head-serial-number{
    border-bottom:1px solid #d8dadd !important;
    background:white !important;
    padding: 1.6rem;
}
button:focus{
    background-color:#dee2e6;
}
.table-head-date{
    border-bottom:1px solid #d8dadd !important;
    color:Black;
}
#serial-number-add{
    background:#e7e9ed !important;
}
.table-head-div{
    width:100%;
}
.cy-record_container {
    position: absolute;
    top: 2.5rem;
    height: max-content;
    background-color: #fff;
    right: 0px;
    padding: 1.4rem;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    z-index: 99;
    min-width: 300px;
    width: 100%;
}
.cy-success-txt {
    color: #1EC39A;
}
.cy-danger-txt {
    color: #FF8982;
}
.cy-overtime-indication {
    font-size: 12px;
}
.timer-play-img{
    height: 4.5rem;
    transform: translateX(10%)translateY(10%);
}
.timer-stop-img{
    height: 5rem;
    transform: translateX(4%)translateY(3%);
}
.cy-record_count {
    color: #000;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
}
.timer-float-time-small{
    font-weight:bold;
    margin-left: auto;
    font-size: large;
}
.timer-project-field{
    z-index: 200;
}
.timer-project-field-small{
    transform: translateX(-1%);
    width:250%;
    max-width: max-content;
}
.span-text-enter{
    font-weight:bold;
}
.hoverable .icon {
    visibility: hidden;
    position: absolute;
    transform: translateY(30%);
    left:0;
    }

.hoverable:hover .icon {
    visibility: visible;
    cursor: pointer;
}
.text-opacity-25 {
  opacity: 0.25;
}

.hovered-text-opacity {
  opacity: 1;
}
.data-time-italic{
    font-style:italic;
}
.total-hours-calculated{
    text-align:center;
    font-weight:bold;
}
#total-calculated-hours{
    border: none;
    background-color: white;
    text-align: right;
}
.extra-hours-main:has(.overtime-hour){
    background-color: #ebedca !important;
    bottom: 0px;
    border-top: 1px solid #AFAE9C;
    left: 0px;
    z-index: -1;
}
:not(.overtime-hour) .extra-hours-main {
  background:white;
}
.final-raw .rounded-pill{
    background: white;
    width: fit-content;
    text-align: center;
    font-weight: bold;
}
.cy-button-stroke {
    border-radius: 6px;
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 2px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    background-color: #fff;
    color: #505050;
    font-weight: 600;
    font-size: 13px;
}
.timesheet-grid-table table > :not(caption) > * > * {
    padding: 0.75rem 0.75rem;
    background-color: var(--table-cy);
    border-bottom-width: 0px;
    box-shadow: inset 0 0 0 9999px var(--table-accent-cy);
}
.final-raw{
    height: 3rem;
}
.cy_grid_renderer{
    background:white;
}
.extra-hours-serial-main{
    background:white !important;
}
.overtime-hour{
    display:none;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}
.extra-hours-main{
    text-align: center;
    vertical-align: middle;
    height: 100%;
}
#head-date{
    background:white !important;
}
.table-project-task{
    background:white !important;
    min-width:max-content;
    color: #222222;

}
.cy-timesheet_table thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 98;
    }
.add-a-line-main-row-div{
    border-bottom: 1px solid #DFDFDF !important;
}
.timesheet-head-name{
    transform: translateX(6%);
}
.timesheet-grid-table .table > :not(:first-child){
    border-top:none !important;
}
.cy-timesheet_btn {
    padding: 0.4rem 1.2rem;
}
.project-input{
    width:100%;
}
.analytic-description{
    width:100%;
}
.task-input{
    width:100%;
}
.add-a-line-main{
    background:white !important;
}
.total-hours-calculated-serial{
    background:white !important;
}
.cy-timesheet_label {
    color: #222;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.total-hours-calculated-main{
    background:white !important;
}
.extra-hours-main-serial{
    background:white !important;
}
.o_web_client > .o_action_manager > .o_action .o_content {

    overflow-x: unset !important;

}
.timesheet-grid-table{
    overflow-x:scroll ;
}
.timesheet-grid-table::-webkit-scrollbar{
height: 0px !important;
width: 0px !important;
}

.timesheet-grid-table::-webkit-scrollbar-track {
    background-color:transparent !important;
    width:0 !important;
    height:0 !important;
}

.timesheet-grid-table::-webkit-scrollbar-thumb {
    background-color:transparent !important;
}
.add-line-serial{
    width:3%
}
.data-container-body{
    position:relative;
    color:#71735a;
}
.cy-timesheet_table tr{
    &:hover{
    background:#f9faf0 !important;
    .table-project-task{
    background:#f9faf0 !important;
    }
    .serial-number{
        background:#f9faf0 !important;
    }
    .add-a-line-main{
        background:#f9faf0 !important;
    }
    .add-a-line-serial{
        background:#f9faf0 !important;
    }
    .total-hours-calculated-serial{
        background:#f9faf0 !important;
    }
    .total-hours-calculated-main{
        background:#f9faf0 !important;
    }
    .total-hours-calculated{
        background:#f9faf0 !important;
    }
}
}
.final-raw{
    &:hover{
    .overtime-hour{
        display:block !important;
    }

}
}
.o_web_client > .o_action_manager > .o_action .grid-contents{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow: unset !important;
    height: 100%;
    }
.cy-timesheet_table tr{
    &:hover{
    background:#f9faf0 !important;
    .table-project-task{
    background:#f9faf0 !important;
    }
}
}
.user-span{
    margin-left: 2%;
    font-weight: bold;
}
.user-avatar{
    width: 1.5rem;
    border-radius: 0.5rem;
}
.employee-name{
    position: sticky;
    left: 0;
    z-index:97;
    background: #F5F6E6 !important;
}
.employee-hour{
    background:#F5F6E6;
    text-align:center;
    font-weight:bold;
    text-align:right;
    color: #71735a;
}
.employee-total-hour{
    background:#F7F7F7 !important;
    color:black;
    position: sticky;
    right: 0;
    font-weight: bold;
    padding:0px !important;
}
.add-a-line-main-row-div .add-line-row-div{
    background-color: #b5b78f;
    padding: 1rem 0.5rem;
    border-top: none;
    height: 3.2em;
    border-bottom: 0px;
    margin-right:1px;
}
.cy-timesheet_table tr:nth-last-child(-n+3) td:not(:first-child):last-child .add-line-row-div{
background:white;
border:none;
}
.add-a-line-main-row-div .add-line-row-head{
    padding:0px;
}
.add-a-line-main-row{
    border-bottom: 1px solid #DFDFDF !important;
}
.raw-total_hours-calc{
    border-bottom: 1px solid #DFDFDF !important;
}
.employee-total-hour-div{
    background-color: #b5b78f;
    padding: 1rem 0.5rem;
    border-top: none;
    height: 100%;
    border-bottom: 0px;
    margin-right: 1px;
    color: #f6f7e8 !important;
    text-align:right;
}
.employee-hour-row{
    &:hover{
    background:#f9faf0 !important;
    .employee-name{
    background:#f9faf0 !important;
    }
    .employee-hour{
        background:#f9faf0 ;

    }
}
}
.employee-hour-row{
    background:#F5F6E6;
}
.btn_start_timer{
    background:none;
    border:none;
}
.btn_start_timer:hover{
    background:none;
    cursor:pointer;
}
.btn_stop_timer{
    background:none;
    border:none;
    display:none;
}
.btn_stop_timer:hover{
    background:none;
    cursor:pointer;
}
.cy-record_discard {
    font-weight: 700;
    font-size: 14px;
    color: #9EA700;
    margin-left: -11px;
}
.total-hours-div_style{
    color:#ffffff;
}
.cy-record_controller {
    width: 86px;
    height: 86px;
    background-color: #f7f7f7;
    border-radius: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
}
.cy-record_container .btn_discard_timer:hover{
    cursor:pointer;
    color: #bbc14d;
}
.serial-play{
    display:none;
    transform: translateY(2%) translateX(-17%);
    content:url(/cyllo_timesheet_grid/static/src/icons/play-large-fill.png);
}
.serial-number-btn:hover{
    cursor:pointer;
}
.cy-timesheet_add:hover {
    color: #bbc14d;
}
.serial-number.play{
    &:hover{
        .serial-number-btn{
            background:#EBFAF7 !important;
        .main-serial-div{
            .serial-alphabet{
                display:none !important;
            }
            .serial-play{
                display:block !important;
            }

        }
        }
    }
}

.main-serial-div{
    text-align: center;
    color: black;
}
.serial-stop{
    display:none;
    transform: translateY(2%) translateX(-17%);
    content:url(/cyllo_timesheet_grid/static/src/icons/stop_serial.png);
}
.cy-searchbox-K {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    color: #AFB7C9;
}
.active {
    display : block !important;
}
.selector-days{
    width:max-content;
    min-width: 64%;
}
.add-a-line-serial{
    width:3%;
    background:white !important
}
.button-active:active,
.button-active:focus{
    box-shadow:none;
    outline:none;
    color: #343a40;
    background-color: white;
    border-color: #dee2e6;
}
.cy-timesheet_table .cy-aligned-icons i:active{
    background-color: #F7F7F7;
}
.cy-timesheet_table .cy-aligned-icons {
    border: 1px solid #AFAE9C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    padding: 0 0.2rem;
}
.cy-timesheet_table .cy-aligned-icons i:not(:last-child) {
    border-right: 1px solid #AFAE9C;
}
.cy-timesheet_nav{
    cursor:pointer
}
.cy-timesheet_selector:focus{
    box-shadow:none;
}
.timesheet-grid-table table{
    margin-bottom:0px !important;
}
.btn-filter_today{
    border: 1px solid #AFAE9C !important;
}
#timesheet-table #view-selector {
    max-width:70px !important;
    background-color:#FFF !important
}

.cy-navigation-icon:active {
    color: #505050;
}

.cy-timesheet_table #total-hours{
    padding:0 !important;
}

@media (max-width:767px){
    .sticky-none{
        position:unset;
    }
}
