.cy-start {
    color: #4CAF50;
}
.cy-stop {
    color: #008CBA;
    display: none;
}
.cy-reset {
    color: #f44336;
}
i {
  margin: 0 5px; /* Adjust the 5px value to increase or decrease the space */
}
.cy-timer {
    display: flex;
    align-items: center;
}
