/*.....................................*/


.view-icons{
padding: 0.3rem 0.6rem;
color: #BCBBA7;
cursor: pointer;
transition: 0.3s;
font-size:16px;
filter: drop-shadow(1px 1px 1px #000) drop-shadow(-1px -1px 1px #333);
}

.view-icons:hover{
    color:#fff;
    transform: translateY(-1px) scale(1.01);
}

.view-icons.active {
    color:#9ea700;
}

.hnk-dropdown__container {
    max-height: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #2e2e2e ;
    box-shadow: 0 6px 40px 0 rgba(28, 28, 28, 0.1019607843);
    border-radius: 3px;
    padding: 0 5px;
    position: absolute;
    z-index: 999;
    border: 1px solid #2e2e2e;
    color:#BCBBA7 !important;
}

.hnk-dropdown__container:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 25px;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: none;
}

.hnk-dropdown__container:before{
    content: "";
    position: absolute;
    top: -10px;
    right:  47%;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #2e2e2e transparent;
}

.hnk-dropdown--open .hnk-dropdown__container,
.hnk-dropdown--open .hnk-dropdown__options {
    max-height: 200px !important; /* Reduced Max height 220px to 200px */
    visibility: visible !important;
    pointer-events: unset !important;
    min-width: 170px;
}
/*.....................................*/

/*.....................................*/
.hnk-dropdown__options {
    max-height: 0;
    visibility: hidden;
    pointer-events: none;
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
    list-style: none;
    overflow-y: auto;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
}

.hnk-dropdown__options::-webkit-scrollbar {
    width: 4px;
}

.hnk-dropdown__options::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 15px;
}

.hnk-dropdown__options::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 15px;
}

.hnk-dropdown__options::-webkit-scrollbar-thumb:hover {
    background: #cbcbcb;
}
/*.....................................*/

/*.....................................*/
.hnk-dropdown__option {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.hnk-dropdown__option .hnk-dropdown__label {
    display: flex;
    grid-template-columns: 20px auto;
    width: 100%;
    padding: 8px 8px 8px 1.85rem;
    gap: 12px;
    align-items: center;
    cursor: default;
}

/* Style the label when the checkbox is disabled */
.hnk-dropdown__option .hnk-dropdown__label.disabled {
    background: repeating-linear-gradient(
        -45deg,
        rgba(128, 128, 128, 0.2),
        rgba(128, 128, 128, 0.2) 10px,
        rgba(128, 128, 128, 0) 10px,
        rgba(128, 128, 128, 0) 20px
    ); /* Striped background */
    color: gray; /* Gray text */
    opacity: 0.6; /* Dim the appearance */
    border-radius: 5px; /* Add rounded corners */
    padding: 5px; /* Add some spacing for better visuals */
    cursor: not-allowed; /* Indicate it's non-interactive */
}
/*.....................................*/

/*.....................................*/
.hnk-dropdown__radio-container {
    position: absolute;
    bottom: 13px;
}

.hnk-dropdown__radio-container.disabled {
    bottom: 8px;
}
/*.....................................*/

/*.....................................*/
.hnk-dropdown__radio {
    display: none;
}
/*.....................................*/

/*.....................................*/
.hnk-dropdown__radio-label {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: -18px;
    background-color: #dadada;
    cursor: pointer;
}

.hnk-dropdown__radio-label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-image: url('/cyllo_studio/static/src/img/check (1).svg');
    background-size: contain;
    opacity: 0;
}
/*.....................................*/

/*.....................................*/
.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/*.....................................*/

/*.....................................*/
.cy-studio-view-pin {
    padding: 0 0.8rem;
    opacity: 0
}

.cy-studio-view:hover .cy-studio-view-pin{
    color: #9EA700;
    opacity: 100
}
/*.....................................*/

/*.....................................*/
/* Active View pushpin */
.cy-pushpin-fill{
    padding: 0 0.8rem;
}

.cy-pushpin-fill{
    color: #9EA700;
}
/*.....................................*/

/*.....................................*/
.hnk-dropdown .hnk-dropdown__radio:checked+.hnk-dropdown__radio-label {
    background: #9EA700;
}
.Cylloview{
    height: 34px;
    display: flex;
    padding-top: 10px !important;
}

.hnk-dropdown--open .hnk-dropdown__container{
 display: flex;
 margin-top: 0.7%;
 margin-left: -4%;
}

.hnk-dropdown .hnk-dropdown__radio:checked+.hnk-dropdown__radio-label::after {
    opacity: 1;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
}
/*.....................................*/
@media (max-width: 1666px) {
  .hnk-dropdown--open .hnk-dropdown__container {
    margin-left: -4.5%;
  }
}

@media (max-width: 1500px) {
  .hnk-dropdown--open .hnk-dropdown__container {
    margin-left: -5%;
  }
}