.cy_accounting_report_title {
  font-size: 20px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #686363;
}

.cy_accounting_filters-main {
  justify-content: space-between;
}

.cy_accounting_filters_sub {
  gap: 5px;
}

.cy_accounting_report_main .cy_accounting_sub {
  border-bottom: 1px solid #d8dadd;
}

.cy_accounting_filters-main .dropdown-toggle {
  color: #000;
  padding: 0.5rem;
  border-radius: 4px;
  background: #dfdfdf;
}

.cy_accounting_report_print {
  gap: 10px;
  display: flex;
}

.cy_accounting_report_print .btn-report-print {
  position: relative;
  border-radius: 4px;
}

.cy_accounting_filters_sub .cy_date_range {
  gap: 1.5rem;
}

.cy_date_range #start_date {
  border: none;
  border-bottom: 1px solid #dee2e6;
  padding: 5px;
  outline: none;
}

.cy_date_range .report-filter-button {
  border: none;
  background-color: inherit;
  padding: 4px 20px;
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  font-size: 0.875rem;
}

.cy_date_range #end_date {
  border: none;
  border-bottom: 1px solid #dee2e6;
  padding: 5px;
  outline: none;
}

.cy_accounting_filters_sub .report-filter-button {
  border: none;
  background-color: inherit;
  padding: 4px 20px;
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  font-size: 0.875rem;
}

.cy_accounting_filters_sub .comparison {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: stretch;
  width: 82%;
  border: 1px solid black;
  align-content: center;
  justify-content: center;
  margin-left: 17px;
}

.cy_filtered_data-body .cy_table_main-view {
  min-width: fit-content;
  background: #fff;
  border: 1px solid gainsboro;
  box-shadow: 0 5px 20px -15px black;
  margin: 24px 12px 48px;
  padding: 24px;
  max-height: 75vh;
  min-height: 75vh;
  border-radius: 5px;
  scrollbar-width: none;
}

.cy_aged-pr-view {
  min-width: fit-content;
  background: #fff;
  border: 1px solid gainsboro;
  box-shadow: 0 5px 20px -15px black;
  margin: 24px 12px 48px;
  max-height: 70vh;
  min-height: 70vh;
  overflow-x: scroll;
  scrollbar-width: none;
  border-radius: 5px;
}

.cy_table_age_pr {
  margin: 24px;
  overflow-y: scroll;
  height: 65vh;
}

.report-comparison-input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px;
  outline: none;
}

.report-comparison-apply-btn {
  margin-left: 19px;
  margin-top: 4px;
}

.minimal-border {
  border: 1px solid #dfdfdf;
}

.h-2-rem {
  height: 2rem;
}

.h-1-rem {
  height: 1rem;
}

.cy_div-table-body_sheet .table_view_dfr,
.cy_div-table-body_sheet .table_view_gl {
  overflow-y: scroll;
  height: 69vh;
  scrollbar-width: none;
}

.cy-report-line-acc {
  transition: height 0.33s ease;
}

.cy_o_journal {
  background-color: transparent;
  color: #0d3554;
  border: 2px solid grey;
  width: fit-content;
  border-radius: 4px;
  font-size: 13px;
  padding: 0.1rem 0.8rem;
}

.cy_acc_report_info, .cy_report_info_ques {
  cursor: pointer;
  display: none;
}


.cy-report-line-acc.on-hover-show:hover {
  .cy_acc_report_info {
    display: inline;
  }

  .cy_report_info_ques {
    display: inline;
  }
}

.border_unset_button button {
  background: unset;
  border: none;
}

.cursor-pointer {
  cursor: pointer;
}

.on-h-red:hover {
  color: red;
}

.cy-annotation-tooltip {
  position: relative;
  display: inline-block;
}

.cy-annotation-tooltip-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  font-size: smaller;
}

.cy-annotation-tooltip:hover + .cy-annotation-tooltip-content {
  display: block;
}

.cy_o_heading {
  font-weight: 500;
  color: black;
}

.delete-on-h-show {
  display: none;
}

.cy-report-line-acc:hover {
  .delete-on-h-show {
    display: block;
  }
}

.on-h-blue:hover {
  color: #7777d1;
}

.table_view_dfr_tax,
.table_view_dfr_tbr {
  overflow-x: hidden;
}

.class-date-alert {
  border-color: red !important;
  color: red;
}

.fa.fa-signal.fa-signal::before {
  font-size: 15px !important;
}

.report-fw-bold {
  font-weight: bold;
}

@media (max-width: 1480px) {

  .cy_table_main-view-side-bar {
    min-width: unset !important;
    //width: 83vw;
  }

  .cy_table_main-view-side-bar-off {
    min-width: unset !important;
    width: 92vw;
  }
}

.cy_accounting_report_table tr:nth-child(even) {
  background-color: #f2f2f2; /* Light grey */
}

.cy_accounting_report_table tr:nth-child(odd) {
  background-color: #ffffff; /* White */
}

.cy_pnl_report_table thead tr:nth-child(2) {
  background-color: #ffffff; /* Light grey */
}

.table-cy-report > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
}

.cy-balance-sheet-heading {
  font-size: 14px;
  font-weight: 600 !important;
}

.cy-accounting-sub-heading {
  font-size: 14px;
  color: #5b6268;
}

.cy-acc-year {
  font-size: 14px;
  font-weight: 600 !important;
}

.cy_accounting_report_table .border-dark {
  border-color: #a6a8a9 !important;
}

.name_desc_class {
  overflow-x: auto;
  padding: 10px;
}

.gn_tbody {
  text-wrap: nowrap;
}

.gl-div-container-scroll {
  overflow: scroll;
  scroll-behavior: smooth;
}

.dropdown-toggle-none::after {
  display: none !important;
}

@media (max-width: 1480px) {
  .balance_body_on, .balance_body_off {
    .cy_table_main-view{
      max-height: 70vh;
      min-height: 70vh;
      overflow: scroll;
    }
  }

  .cy_div-body_sheet.cy_div-table-body_sheet {
    th {
      font-size: 12px !important;
    }
  }

  .cy_div-body_sheet.cy_div-table-body_sheet th:hover {
    background-color: #f6f6f6;
  }

  .cy_aged-pr-view {
    max-height: 68vh;
    min-height: 68vh;
  }

  .receivable_menu_off {
    width: 94vw;
    padding-right: 16px;
  }
  .receivable_menu_pager_on {
    width: 82vw;
  }
  .receivable_menu_pager_off {
    width: 94vw;
  }
  .receivable_menu_on {
    width: 82vw;
    padding-right: 16px;
  }
  .general_ledger_body_on {
    width: 83vw;
    .cy_table_main-view {
      min-width: unset;
      max-height: 68vh;
      min-height: 68vh;
    }
  }
  .receivable_menu_body_off {
    width: 96vw;
    padding-right: 16px;
    .cy_aged-pr-view{
      min-width: unset;
    }
  }
  .receivable_menu_body_on {
    width: 84vw;
    padding-right: 16px;

    .cy_table_age_pr {
      max-width: 80vw;
      overflow-x: scroll;
      margin: 16px;
    }
    .cy_aged-pr-view{
      min-width: unset;
    }
  }
}

