body.o_profile_readonly button,
body.o_profile_readonly a.btn,
body.o_profile_readonly .btn,
{
pointer-events: none !important;
opacity: 0.65 !important;
cursor: not-allowed !important;
}

body.o_profile_readonly .o_user_menu button,
body.o_profile_readonly .o_user_menu a,
body.o_profile_readonly .o_navbar_apps_menu button,
body.o_profile_readonly .o_navbar_apps_menu a {
    pointer-events: auto !important;
    opacity: 1 !important;
    cursor: pointer !important;
}

body.o_profile_readonly .modal-header .btn-close,
body.o_profile_readonly .o_facet_remove,
body.o_profile_readonly .o_searchview_facet_label,
body.o_profile_readonly .dropdown-toggle,
body.o_profile_readonly .o_graph_button,
body.o_profile_readonly .modal-header .o_close,
body.o_profile_readonly .modal-footer .btn-secondary,
body.o_profile_readonly .o-default-button,
body.o_profile_readonly .o_error_dialog .modal-footer button {
    pointer-events: auto !important;
    opacity: 1 !important;
    cursor: pointer !important;
}