.cy-studio-blink-container{
    width: 35px;
    height: 35px;
    position: relative;
}

.cy-studio-blink-container .ri-add-line{
    font-size: 1.1rem;
}

.cy-studio-blink-anim {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cbe02e87;
  /* animation */
  -webkit-animation: cy-studio-pulse 1.4s ease-out;
  -moz-animation: cy-studio-pulse 1.4s ease-out;
  animation: cy-studio-pulse 1.4s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes cy-studio-pulse {
   0% {
     -webkit-transform:scale(0);
     opacity:0;
   }
   25% {
     -webkit-transform:scale(0.3);
     opacity:1;
   }
  50% {
     -webkit-transform:scale(0.6);
     opacity:.6;
   }
  75% {
     -webkit-transform:scale(.9);
     opacity:.3;
   }
  100% {
     -webkit-transform:scale(1);
     opacity:0;
   }
}

@keyframes cy-studio-blink-key {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3) rotate(180deg);
  }
}

.cy-studio-blink {
  animation: cy-studio-blink-key 2s infinite;
  font-size: 1rem;
  color: #7e8600;
}

a[href*="downloads"]:not(.cy-studio-allowed) {
    pointer-events: none !important;
    cursor: not-allowed !important;
}
