
.cy-box_container:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #dfdfdf
}

.cy-userdashboard_user-container {
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
}

.cy-userdashboard_user-container .cy-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.cy-userdashboard-name {
    color: #222222;
    font-size: 1.4rem;
    font-weight: 600
}

.cy-userdashboard_md-txt {
    color: #505050;
    font-size: 0.694rem;
    font-weight: 400;
    line-break: anywhere;
}

.cy-non-admin-dashboard-main {
    height: 93vh;
    overflow-y: scroll;
}

.cy-user_form-content {
    width: 100%
}

.cy-userdashboard_label {
    color: #222222;
    font-weight: 500;
    font-size: 0.833rem;
    margin-bottom: 0.5rem
}

.cy-userdashboard_dropdwn {
    width: 100%
}

.cy-userdashboard_btn-container {
    width: 100%
}

.cy-button-stroke {
    border-radius: 6px;
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    background-color: #fff;
    color: #505050;
    font-weight: 500;
    font-size: 13px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05)
}

.cy-button-stroke:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #dfdfdf
}

.cy-button-primary-stroke {
    border-radius: 6px;
    border: 1px solid #9EA700;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    background: #9EA700;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 0.5rem 1rem;
    position: relative
}

.cy-active-btn {
    text-shadow: none;
    font-weight: 500
}

.cy-box_container {
    border-radius: 2px;
    background-color: #fff;
    color: #505050;
    border: 1px solid #dfdfdf;
    font-size: 13px;
    border-top: none;
}

.cy-border-right {
    border-right: 1px solid #dfdfdf
}

.cy-border-btm {
    border-bottom: 1px solid #dfdfdf
}

.cy_tile-text {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0
}

.cy-userdashboard_shortcut-btn {
    border: none;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    color: #505050;
    width: 198px;
    gap: 0.5rem;
    white-space: nowrap;
    margin: 0.4rem
}

.cy-userdashboard_sm-head {
    color: #6F7500;
    font-weight: 400;
    font-size: 12.8px;
    margin-bottom: 0.4rem
}

.cy-userdashboard_sm-head th {
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 0.5rem
}

.cy-userdashboard_sm-head td {
    color: #505050
}

.cy-userdashboard--detail {
    color: #505050;
    font-size: 12.8px;
    font-weight: 400;
    margin-bottom: 0.4rem
}

.cy-userdashboard-system_label {
    color: #6F7500;
    font-weight: 500;
    font-size: 0.9rem
}

.cy-userdashboard-system_content {
    color: #222222;
    font-weight: 500;
    min-width: 70px;
    font-size: 0.9rem
}

.cy-userdasboard_system-monitor {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.cy-userdashboard_system-container {
    padding: 1.5rem 1rem;
    background-color: #F5F6E6;
    border-radius: 6px;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.cy-userdashboard_system-size {
    font-size: 1.3rem;
    color: #6F7500;
    font-weight: 600;
    margin-bottom: 1rem
}

.cy-userdashboard_system-name {
    color: #505050;
    font-size: 1rem
}

.cy-userdashboard__upcoming-container {
    padding-left: 0.8rem;
    position: relative
}

.cy-userdashboard__upcoming-txt {
    color: #222222;
    margin-bottom: 0.2rem;
    font-weight: 600;
    font-size: 1rem
}

.cy-userdashboard_upcoming-vsm-txt {
    font-size: 12.8px;
    color: #505050;
    font-weight: 400;
    margin-right: 1rem
}

.cy-userdashboard__upcoming-box-count {
    color: #6F7500
}

.cy-userdashboard__upcoming-container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: rgb(158, 167, 0);
    left: -0.2rem;
    border-radius: 3px;
}

.cy-user_form-content select {
    background-position-x: 97%;
    font-size: 13.33px;
}

.cyllo_user_dashboard {
    background: #F0F1F3;
    overflow: auto;
}

.cy-userdasboard_system-monitor-no-content .cy-userdashboard_system-container {
    background: linear-gradient(90deg, #f5f6e7 25%, #E4EEB8FF 50%, #F5F6E6 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    width: 200px;
    height: 105px;
}

.cy-performanceInsight-no_content .cy-performanceInsight {
    background: linear-gradient(90deg, #f5f6e7 25%, #E4EEB8FF 50%, #F5F6E6 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    height: 20px;
    padding: 1.4rem;
}

.cyllo_user_dashboard .row.cy-box_container {
    border-top: none;
    border-left: none;
}

.cy-userdashboard_btn-container .cy-button-primary-stroke {
    padding: 7px;
    font-size: 12px;
}

.cy-userdashboard_btn-container .cy-button-stroke {
    padding: 7px;
    font-size: 12px;
}

.cyllo_user_dashboard-row {
    height: 94vh;
}

.cyllo_user_dashboard .ri-add-circle-line {
    font-size: 20px;
}

/* The switch-auto-edit - the box around the slider-auto-edit */
.switch-auto-edit {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 21px;
}

.cy-non_admin_main_div {
    background: #ecebeb;
}

.cy-img-non-admin {
    height: 200px;
    max-width: -webkit-fill-available;
}

.cy-non-admin-div {
    background: #fff;
}

.cy-non_admin_label {
    font-weight: 600;
}

.cyllo-useradmin__nameheader {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.cyllo-useradmin__name {
    color: #222222;
    font-size: 1.5rem;
    font-weight: 600
}

.cyllo-main {
    background-color: #F0F1F3
}

.cyllo_useradmin-md--txt {
    color: #505050;
    font-size: 12px;
    font-weight: 400
}

/*.cyllo_useradmin_detail-box {
    *//* width: 75% *//*
     width: 50%
}*/

.cyllo_useradmin--label {
    color: #222222;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.5rem
}

.cy-non-admin-radio label {
    font-size: 15px;
}

.cyllo_useradmin_sm-txt {
    color: #505050;
    font-size: 0.9rem
}

.cyllo-useradmindashboard-input {
    height: 38px
}

@media (max-width: 575px) {
    .cyllo_useradmin--badge {
        padding: 0.4rem 0.8rem;
        font-size: 12.8px
    }
}

.cyllo-groups-box {
    border: 1px solid #dfdfdf !important;
}


.cyllo-userdashboard__list {
    padding: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.cyllo_main-dashboard-icon {
    color: #9EA700;
    font-size: 1.3rem
}

.cy-userdashboard-system_label {
    color: #000;
    font-weight: 500;
    font-size: 0.9rem;
    display: block
}

.cy-userdashboard-system_content {
    color: #505050;
    font-weight: 400;
    font-size: 0.9rem
}

.cy-db-border-btm {
    border-bottom: 1px solid #dfdfdf
}

@media (max-width: 575px) {
    .cyllo-admindashboard-detail-mainbox {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.cyllo_useradmin-state--btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.5rem 1.1rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 2px;
    font-size: 0.9rem;
    color: #505050;
    font-weight: 500;
    min-width: 140px;
    cursor: pointer
}

.cyllo_useradmin-state--btn:hover {
    border-color: #9EA700
}

@media (max-width: 575px) {
    .cyllo_useradmin-state--btn {
        padding: 0.4rem 1rem;
        -webkit-box-flex: unset;
        -ms-flex-positive: unset;
        flex-grow: unset;
        font-size: 0.8rem
    }
}

.cy-na-userdashboard_shortcut-btn {
    border: none;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.9rem;
    color: #505050;
    width: 198px;
    gap: 0.5rem;
    white-space: nowrap;
    margin: 0.4rem
}

@media (max-width: 768px) {
    .cy-na-userdashboard_shortcut-btn {
        width: 139px;
        font-size: 0.8rem
    }
}

.cyllo-userdashboard-shortcut {
    width: 177px;
    color: #6F7500;
    background-color: #F5F6E6;
    padding: 0.5rem 0.8rem;
    border-radius: 5px
}

.cyllo-userdashboard-shortcut i:hover {
    color: black;
}

.cyllo-userdashboard-shortcut span:hover {
    color: black;
}

.cyllo-upcoming_activity-container {
    max-height: 46vh;
    overflow-y: auto
}

.cyllo_useradmin--icon {
    color: #6F7500;
    font-size: 24px;
    margin: 0.2rem
}

.cyllo_state_btns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.cy-non-admin-button-primary-stroke {
    border-radius: 6px;
    border: 1px solid #9EA700;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    background: #9EA700;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 0.5rem 1rem;
    position: relative
}

.cy-non-admin-button-primary-stroke:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.cyllo-non-admin-main {
    height: 93vh;
    overflow-y: scroll;
}

.cy-non-admin-button-stroke {
    border-radius: 6px;
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    background-color: #fff;
    color: #505050;
    font-weight: 500;
    font-size: 13px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}


.cy-non-admin-button-stroke:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #dfdfdf
}

.cy-user-non-admin-border-btm {
    border-bottom: 1px solid #dfdfdf;
}

.cy-db-border-right {
    border-right: 1px solid #dfdfdf
}

.cy-non-admin-button-primary-stroke:hover {
    color: #fff
}

.cyllo_useradmin_btn-group {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.cyllo-useradmin__btn {
    padding: 0.6rem 2.6rem
}

.cy-non-admin-user_form-content {
    width: 100%
}

.cy-user-non-admin-dashboard_dropdown {
    width: 100%
}

.cy-non-admin-box_container {
    border-radius: 2px;
    background-color: #fff;
    color: #505050;
    /*border: 1px solid #dfdfdf;*/
    font-size: 13px
}

.cyllo-border-top-dashboard {
    border-top: 1px solid #dfdfdf;
}

.cy-non-admin-box_container:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #dfdfdf
}

.cy-non-admin-userdashboard_shortcut-btn {
    border: none;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.9rem;
    color: #505050;
    width: 198px;
    gap: 0.5rem;
    white-space: nowrap;
    margin: 0.4rem
}

.cy-non-admin-box_container {
    border-radius: 2px;
    background-color: #fff;
    color: #505050;
    border: 1px solid #dfdfdf;
    font-size: 13px;
    width: 30%;
}

.cy-non-admin-box_container:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #dfdfdf
}

.cy-border-container {
    border: 1px solid #dfdfdf;
    width: 30%;
}

@media (max-width: 768px) {
    .cy-non-admin-userdashboard_shortcut-btn {
        width: 139px;
        font-size: 0.8rem
    }
}

.cyllo_useradmin--detail--text {
    min-width: 200px;
    margin-bottom: 1rem
}

@media (max-width: 575px) {
    .cyllo_useradmin--detail--text {
        min-width: 160px
    }
}


@media (max-width: 575px) {
    .cyllo_useradmin_btn-group {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}


@media (max-width: 575px) {
    .cyllo_useradmin_detail-box {
        width: 100%
    }
}

.cy-user-non-admin-dashboard--main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem
}

@media (max-width: 575px) {
    .cy-user-non-admin-dashboard--main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.cyllo-useradmin-profile {
    border-radius: 2px;
    overflow: hidden;
    max-height: 250px
}

@media (max-width: 992px) {
    .cyllo-useradmin-profile {
        max-height: 400px
    }
}

.cyllo-useradmin-profile img {
    width: 100%;
    height: 100%
}

@media (max-width: 575px) {
    .cyllo-useradmin-profile {
        width: 100%;
        height: auto;
        max-height: 300px
    }
}

.cy-non-admin-user_form-content {
    width: 100%
}

.cy-non-admin-userdashboard_label {
    color: #222222;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.5rem
}

.cy-non-admin-userdashboard_dropdwn {
    width: 100%
}

.cy-userdashboard_btn-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%
}

.form-check-input {
    cursor: pointer
}

.form-check-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.cy-admin-dashboard-button-stroke {
    border-radius: 6px;
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    background-color: #fff;
    color: #505050;
    font-weight: 500;
    font-size: 13px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05)
}

.cy-admin-dashboard-button-stroke:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #dfdfdf
}

.cy-admin-dashboard-button-primary-stroke {
    border-radius: 6px;
    border: 1px solid #9EA700;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    background: #9EA700;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 0.5rem 1rem;
    position: relative
}

.cy-admin-dashboard-button-primary-stroke:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.cy-db-border-right {
    border-right: 1px solid #dfdfdf
}

.cy-admin-dashboard-button-primary-stroke:hover {
    color: #fff
}

@media (max-width: 1300px) {
    .cy-userdashboard_btn-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media (max-width: 992px) {
    .cy-userdashboard_btn-container {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

.cyllo_useradmin--badge {
    padding: 0.5rem 0.9rem;
    background-color: #F5F6E6;
    color: #6F7500;
    font-weight: 600;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    white-space: nowrap;
    font-size: 0.8rem;
}

.cy-change-pw-btn {
    text-shadow: none;
    font-weight: 500
}

.cy-db-subhead-text {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px
}

.cyllo-user-dashboard_ps-container {
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 0.6rem 0.8rem;
    margin-bottom: 0.4rem;
    margin: 0.2rem
}

.cyllo-user_dashboard-textarea {
    border: 1px solid hsl(213, 22%, 84%);
    margin-top: 0.5rem;
    border-radius: 2px;
    padding: 0.4rem
}

.cyllo-user_dashboard-textarea:focus {
    border-color: #6F7500;
    outline: none
}

.cy-non-admin-allowed_comp {
    background-color: transparent;
    border: 1px solid;
    width: fit-content;
}

.cyllo-useradmin--md-text {
    display: block;
    font-size: 0.9rem;
    color: #000;
    font-weight: 600
}

.cyllo-userdashboard-feature-btn {
    padding: 0.2rem;
    color: #505050
}

.cyllo-userdashboard-feature-btn:hover {
    color: #6F7500
}

.cyllo-userdashboard-feature-btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.cy-company-text {
    font-weight: 500 !important;
}

.cyllo-useradmin-profile {
    /*   width: 290px;
       border-radius: 2px;
       overflow: hidden;
       height: 220px*/
    border-radius: 2px;
    overflow: hidden;
    max-height: 320px;

}

.cyllo-useradmin-profile img {
    width: 100%;
    height: 100%
}

@media (max-width: 575px) {
    .cyllo-useradmin-profile {
        width: 100%;
        height: auto;
        max-height: 300px
    }
}

.cy-user-non-admin-text {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px
}

.switch-auto-edit input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider-auto-edit */
.slider-auto-edit {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-auto-edit:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider-auto-edit {
    background-color: #9EA700;
    padding-right: 48px;
}

input:focus + .slider-auto-edit {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-auto-edit:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded slider-auto-edits */
.slider-auto-edit.round {
    border-radius: 34px;
}

.slider-auto-edit.round:before {
    border-radius: 50%;
}

.cy-non-admin-userdashboard-name {
    color: #222222;
    font-size: 1.4rem;
    font-weight: 600
}

.cy-non-admin-userdashboard_md-txt {
    color: #505050;
    font-size: 11px;
    font-weight: 400
}

@media (max-width: 768px) {
    .cy-userdashboard_shortcut-btn {
        width: 139px;
        font-size: 0.8rem
    }

    .cy-userdashboard_system-container {
        width: 144px
    }
}

@media (max-width: 1570px) {
    .cy-userdashboard_btn-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 1798px) {
    .cy-userdashboard_btn-container {
        flex-wrap: wrap;
    }

    /* .cy-userdashboard_md-txt {
        font-size:9px;
     }*/
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}