.cy-md-header {
  font-size: 1.25rem;
  color: $black;
  font-weight: 500;
}

.cy-map__container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 64vh;
  overflow-y: auto;
}

.cy-map__contact--list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .cy-map__contact-detail {
    align-items: center;
    display: none;
  }

  &:hover {
    .cy-map__contact-detail {
      display: block;
    }
  }

}

.cy-profile {
  display: flex;
  align-items: center;
}

.cy-profile__avatar {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.cy-profile__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.cy-profile__name {
  color: #222222;
  font-size: 0.8rem;
  font-weight: 500;
}

.cy-map__get-focus,
.cy-map__get-direction {
  padding: 0.2rem 0.5rem;
  background-color: #f7f7f7;
  margin-right: 0.4rem;
  color: $black;

  &:hover {
    color: #6F7500;
  }
}

.cyllo-map.cy-dashboard-container {
  width: 98%;
  margin: 2rem auto;
  margin-bottom: 1rem;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0
}

.cyll-map-dashboard {
  position: relative;
}

.o_action_manager:has(.cyllo-map) {
  background: #F0F1F3 !important;
}

.cyllo-getdriection-container {
  /*   padding: 1rem;
 position: absolute;*/
  left: 1rem;
  top: 0;
  background-color: $white;
  width: 23%;
  z-index: 99;
  @media(max-width: 992px) {
    flex: 0 0 40%;
  }

  @media(max-width: 768px) {
    flex: 0 0 100%;
  }
}

.cy-direction__detail-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(213, 22%, 84%);
  padding: 0.5rem 0;
  gap: 2rem;
}

.cy-direction_sm-detail-title {
  color: #505050;
  font-size: 12px
}

.cy-map__direction-detail--content {
  color: #9EA700;
  font-size: 1.3rem;
  display: block
}

.cy-direction_sm-detail-title {
  color: #505050;
  font-size: 12px
}

.cy-getdirection__box {
  overflow-y: auto;
  height: 55vh;

  @media (max-width: 992px) {
    max-height: 38vh;
  }
}

.cy-direction__route--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cy-direction__route--container {
  padding: 0.5rem 0;
}

.cy-direction--desc {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.cy-directing-icon {
  color: #9EA700;
  background-color: #f7f7f7;
  border-radius: 2px;
  padding: 0.3rem 0.6rem
}

.cy-direction__path {
  color: #222222;
  font-size: 0.8rem
}

.cy-direction_sm-detail-title {
  color: #505050;
  font-size: 12px
}

.cyll-map__view-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.cyll-map__view-container {
  position: relative;
}

.cy-map__search--container {
  position: absolute;
  right: 0;
  margin: 1.4rem;
  z-index: 401;
}

.cy-map-box_container {
  border-radius: 2px;
  background-color: #fff;
  color: #505050;
  border: 1px solid #dfdfdf;
  font-size: 13px
}

.cy-map-box_container:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #dfdfdf
}

.cy-map__search-box {
  border-radius: 30px;
  min-width: 300px;
  padding: 0.4rem 1rem;
  transition: all 0.3s linear;
  padding-right: 2rem;
border-radius: 15px !important;


  &:focus {
    box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    border: 1px solid #9EA700;;
    outline: none;
    background-color: white;
  }
}

.cy-map__search-box--icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.3rem 0.7rem;
}

.cy-map__location-display-box {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  padding: 0.6rem;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  z-index: 401;
}

.cy-map__location-desc {
  font-size: 0.9rem;
  color: #222222;
  margin-right: 0.2rem;
  font-weight: 500
}

.cyllo-getdirection-close {
  font-weight: 500;
  color: $black;
  border: 0;
  background-color: transparent;
}

.cy-map-detail--section {
  @media (max-width: 992px) {
    height: auto;
  }
}

.cyllo_map-detail_input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 0;
  border: 1px solid hsl(213, 22%, 84%);
  font-family: var(--inter-sans);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 0.9rem;
  border-radius: 2px
}

.cyllo_map-detail_input:focus {
  -webkit-box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: 1px solid #9EA700;
  outline: none
}

#cyllo_map {
  width: 100%;
  height: 100%;
}

#firstColumn {
  order: 1;
  flex: 0 0 23%;

  @media(max-width: 992px) {
    flex: 0 0 40%;
  }

  @media(max-width: 768px) {
    flex: 0 0 100%;
  }
}

#secondColumn {
  order: 2;
}

#thirdColumn {
  order: 3;
  flex: 0 0 20%;

  @media(max-width: 992px) {
    flex: 0 0 100%;
  }

}

.cy_map-input {
  border-radius: 2px;
  background-color: #fff;
  color: #505050;
  border: 1px solid #dfdfdf;
  font-size: 13px
}

.cy_map-input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #dfdfdf
}

.cy_map-input {
  border-radius: 30px;
  padding: 0.4rem 1rem;
  transition: all 0.3s linear;
  padding-right: 2rem;

  &:focus {
    box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    border: 1px solid #9EA700;;
    outline: none;
  }
}
.cy-warning__msg {
    position: absolute;
    right: 0px;
    top: 0px;
    width: fit-content;
    background-color: #fff;
    z-index: 402;
    padding: 1rem;
    margin: 1rem 2rem;
    border: 1px solid #a7a2a2;
    max-width: 400px;
    box-shadow: rgba(0,0,0,0.3) 0px 1px 4px -1px;
    transition: all 0.3s linear;
}

.cy-warning_header {
    font-size: 14px;
    color: #FF4B4B;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #a7a2a2;
    display: block;
    display: flex;
    gap: 0.2rem;
    font-weight: 500;

}

.cy-warning_msg-content {
    font-size: 12px;
    color: #505050;
    margin-bottom: 0;
    margin-top: 0.7rem;
}

.cy-warning_closing{
    position: relative;
    float: right;
    top: -8px;
    padding: 0px;
}
