.cy-support_service_container {
    padding: 2rem 1rem;
    background: #FFF;
}
.cy-support_service_title {
    color: #222222;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 1rem;
}
.cy-support_service-table {
    width: 100%;
}
.cy-support_service-table {
    thead {
        border-radius: 3px 3px 0px 0px;
        background: #FAFAFA;
        height: 35px;
    }
}
.cy-support_service-table {
    tr {
        td:first-child {
            color: #717684;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            padding-left: 0px;
        }
    }
}
.cy-support_service-table {
    .cy-support_service_btn {
        p {
            font-size: 24px;
            margin-bottom: 0px;
            color: #000;
        }
    }
}
.cy-support_service-table {
    td {
        padding: 0.8rem 0.4rem;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
}
.cy-support_service_btn {
    border-radius: 5px;
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 2px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    background: #FFF;
    padding: 6px 8px;
    color: #505050;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    width:100%;
    min-width: 110px;
}
.cy-support_service_high-priority {
    border-top: 1px solid #F9AA4F;
    border-right: 1px solid #F9AA4F;
    border-bottom: 2px solid #F9AA4F;
    border-left: 1px solid #F9AA4F;
}
.cy-support_service_urgent {
    border-top: 1px solid #FF8982;
    border-right: 1px solid #FF8982;
    border-bottom: 2px solid #FF8982;
    border-left: 1px solid #FF8982;
}
.cy-support_service_card {
    border-radius: 10px;
    border: 1px solid #DFDFDF;
    background: #FFF;
    box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.10);
    padding: 0.4rem 0.8rem;
    width: 100%;
    white-space: nowrap;
}
.cy-support_service_dropdown {
    font-size: 16px;
    padding: 0.2rem 0.6rem;
}
.cy-support_service_dropdown::after {
    display: none;
}
.cy-support_service_dropdown:focus {
    box-shadow: none;
}
.cy-support_service-card {
    padding-bottom: 0px;
    font-size: 16px;
}
.cy-support_service_subtitle {
    font-size: 12.8px;
    color: #717684;
    font-weight: 500;
    font-family: 'Inter', sans-serift;
}
.cy-support_service_card {
    .btn:focus {
        box-shadow: none;
    }
}
.cy-support_service-btn:hover {
    color: #fff;
}
.cy-support_service-btn{
    font-size: 12.8px;
    font-weight: 500;
}
.cy-support_service_card-count {
    color: #222222;
    font-size: 12.8px;
    font-weight: 600;
}
.cy-support_service_card-state {
    span {
        font-size: 14px;
        font-weight: 600;
        color:  #0E3A5D;
        font-family: 'Inter', sans-serif;
    }
    p {
        font-weight: 500;
        font-size: 14px;
        color: #717684;
    }
}
@media(max-width:575px){
    .cy-support_service_btn {
        min-width: 100%;
        min-width: 100%;
        min-height: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
    .cy-support_service-table .cy-support_service_btn p {
        font-size: 18px;
    }
}
