.nav_btn{
    float: right;
    background: #4368FA;
    border-radius: 3px;
    border: none;
    color: #fff;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav_btns{
    gap: 20px;
    justify-content: flex-end !important;
}
.create_user_image{
    height: 3rem;
    width: 3rem;
    border-radius: 25px;
}
.cy-support_service_ticket_table{
    width: 65%;
}
.cy-support_service_ticket_row{
    display: flex;
    justify-content: space-between;
}
.create_ticket_btn{
    margin-left: 255px;
}
.cy-support_service_ticket_cursor{
    cursor: pointer;
}
.cy-support_service_ticket_name{
    width: 100%;
}
.cy-support_service_ticket_head{
    margin-left: 1.6rem;
    display: flex;
    align-items: center;
}
.o_date_error{
    transition:all .1s linear;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 1rem;
}
.cy-support_service_ticket_date{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: end;
    padding-top: 2rem;
}
.state_badge{
    float: right;
}
.s_website_form_input{
    padding: 0.675rem 0.75rem;
}
.details_input{
    font-weight: 300;
}
.cy-support_service-ticket-state-btn:active,.cy-support_service-ticket-state-btn:hover,.cy-support_service-ticket-state-btn:focus, {
    color: red !important;
}
.nav_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13%;
}
.ht_home_div{
    padding: 0 20rem 0 20rem;
}
.ht-tab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.tab-pane{
width: 64%;
}
.cy-support_service-ticket_container {
    height: 82vh;
    padding: 1rem 1.6rem;
    font-family:var(--fira-family);
}
.cy-support_service-ticket_heading {
    margin-top:1rem;
    margin-bottom: 0px;
    font-weight: 500;
}
.cy-support_service-ticket_form {
    margin: 1.2rem 0 1rem 0;
    width:90%;
}
.cyllo_register_support_ticket_form{
    height:100%;
}
.support_service_description{
    transform: translateX(25%) translateY(-84%);
}
.support_service_description {
    transform: translateY(-84%);
    margin-left: 25%;
}
.cy-support_service-ticket_input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 0;
    border: 1px solid hsl(213, 22%, 84%);
    font-family: "Fira Sans", sans-serif;
    transition: all 0.3s linear;
    font-size: 0.9rem;
    border-radius: 2px;

    &:focus {
        box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.3s linear;
        border: 1px solid #3E54D5;
        outline: none;
    }
}
.cy-support_service_ticket-label {
    margin: 1rem 0;
    font-weight: 600;
}
.cy-support_service_submit{
    margin-top: 1rem;
    padding: 0.5rem 1.7rem;
    font-size: 0.9rem;
}
.cy-support_service-container{
    margin: 2rem;
    background-color: white;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 2px 0px;
}
.cy-button-primary-stroke {
  border-radius: 2px;
  border-top: 1px solid #4B9212;
  border-right: 1px solid #4B9212;
  border-bottom: 1px solid #4B9212;
  border-left: 1px solid #4B9212;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  background: #5EB717;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 0.5rem 1rem;
  text-shadow: 1px 1px #4B9212;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0px;
    height: 2px;
    background-color: #7EC545;
    left: 0px;
  }
  &:focus {
    outline: none;
  }

}
.cy-button-primary-stroke:hover {
  color: #fff;
}

.cy-button-primary-stroke:focus {
  box-shadow: none;
  border-color: #2A3779;
}

.cy_support_priority_div .stars-box {
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 15px;
}
.heading_align-style{
    margin-left:25%;
    transform: translateY(-56px);
}
.property_container_style{
    border: 1px solid #e2e5b3;
    border-radius: 88px 24px;
    margin-bottom: 21px;
}
.service_request-request_container{
    height: 10vh;
    padding: 1rem 1.6rem;
    background: #f5f6e6;
    font-family:var(--fira-family);
    margin-bottom: 84px !important;
}
.cy_support_priority_div .stars-box .star {
  color: #ccc;
  cursor: pointer;
  font-size:25px;
}

.cy_support_priority_div .stars-box .star.hover {
  color: #ff5a49;
}

.cy_support_priority_div .stars-box .star.selected {
  color: #ff5a49;
}

.o_cyllo_support_date{
     width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: end;
    padding-top: 2rem;
}
.o_support_ticket_layout_list div.td_support_ticket{
    display: block !important;
    width: 100%;
}
.td_support_ticket{

}
.o_support_ticket_layout_list col {
    width: 100%;
}
.o_support_ticket_layout_list table td div.support_ticket_row {
    padding: 1rem !important;
}
.td_support_ticket div.card{
     height: 100%;
    }
.o_support_ticket_layout_list div.card{
    height:auto !important;
}
.request_top {
    background-image: url("/cyllo_support_service/static/src/img/");
    background-repeat: no-repeat;
    background-size: contain;
}