.o_action_manage{
    width:100%
}
.cy-main{
    background-color: #F0F5FA;
    height:100%
}
.cy-breadcrumbs-marketing-titlebar {
    position: sticky;
    z-index: 9;
    background: #fff;
}
.cy-breadcrumbs-marketing-titlebar .cy-breadcrumbs-bar {
    padding-left: 15px;
    padding-right: 15px;
}
.cy-border-btm {
    border-bottom: 1px solid #dfdfdf;
}
.cy-marketing-auto-sm_head {
    font-size: 14px;
    font-weight: 500;
    color: #505050;
    cursor:pointer
}
.cy-marketing-tile_total {
    background-color: #FFBFCA !important;
}
.cy-marketing-tile_running{
    background-color: #94d3d3 !important;
}
.cy-marketing-tile_completed{
    background-color: #ffe6cc !important;
}
.cy-marketing-auto_tile:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4px;
    border-radius: 1px 0px 0px 1px;
    height: 100%;
}
.cy-marketing-auto_tile {
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    position: relative;
    background: #fff;
    padding: 1rem 1.6rem;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.cy-marketing-auto_tile-headline {
    color: #222222;
    font-weight: 500;
    font-size: 18px;
}
.cy-marketing-auto_tile-state {
    color: #222222;
    font-size: 36px;
    font-weight: 300;
}
.cy-marketing-tile-list:first-child {
    padding: 0px;
}
.cy-marketing-tile-list {
    padding-right: 0px;
}
.card-header{
    color: #0D3554;
}
.card-text{
    text-align: right;
    font-size: 30px;
    padding: 3% 5% 0% 0%;
}
.cy-market-activity-btn {
    text-shadow: none;
    font-weight: 500;
}
.cy-active-btn {
    position: relative;
}
.c-button-primary-stroke {
    border-radius: 6px;
    border-top: 1px solid #9EA700;
    border-right: 1px solid #9EA700;
    border-bottom: 1px solid #9EA700;
    border-left: 1px solid #9EA700;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    background: #9EA700;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    text-shadow: 0.200000003px 0.200000003px 0px rgba(0, 0, 0, 0.25);
}
.cy-active-btn:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 0px;
    left: 0px;
}
.btn_parent_activity:focus{
    background-color: #9EA700 !important;
}
.cy-marketing-auto_tab-view {
    background-color: #fff;
    height: 49em;
    min-height: 20em;
    width: 100%;
}
.cy-marketing-auto_tab-view .tab-content{
    overflow-y: scroll;
    height: 37rem;
}
.cy-test_participation-timing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    left: -100px;
}
.cy_trigger-details-div .after{
        margin-left: 3%;
}
.cy-marketing-auto_timing {
    position: absolute;
    left: -100px;
    top: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.2rem;
    color: #505050;
    font-weight: 600;
    font-size: 11px;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.cy-marketing-auto_timing-test {
    position: absolute;
    top: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.2rem;
    color: #505050;
    font-weight: 600;
    font-size: 11px;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.cy-test-participation_list-btn:last-child {
    border-right: 0px;
}
.cy_marketing-activity-session{
    width: 109%;
    display: block;
    transform: translateX(-2%);
    border-top: 1px solid #dfdfdf;
    overflow-x: scroll;
}
.cy-marketing-auto_timing-test:after {
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: 2px solid #5669DB;
    margin-left: 6px;
    background-color: #fff;
    right: -20px;
    top: 2px;
    position: absolute;
}
.cy_icon-style-marketing{
    padding-right: 4px;
}
.cy-marketing-auto_list {
    padding-left: 6rem;
    position: relative;
    list-style: none;
}
.cy-marketing-auto_list-item {
    padding: 2rem;
}
.cy-marketing-auto_list-box {
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    -webkit-box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.1);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    max-width: fit-content;
    width: 307px;
    position: relative;
}
.cy_name-adjust{
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cy-marketing-auto_list-box-test {
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    -webkit-box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.1);
    width: max-content;
    min-width: max-content;
    position: relative;
    margin-bottom: 4%;
}
.cy-marketing-auto_timing:after{
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    border: 2px solid #5669DB;
    margin-left: 6px;
    background-color: #fff;
    position: absolute;
    right: -18px;
    top: 3px;
}
.cy-test_participation-main__view{
    overflow:auto;
}
.cy-test_participation-list__item {
    padding-left: 9rem !important;
}
.cy-sampleDiv{
    padding:1rem;
}
.cy-child-activities-head{
    max-width:65%;
}
.cy-nav-item-style-width{
    min-width: 75px;
}
.cy_btn-stop-campaign{
    background:#BF1E1E !important;
    color:white !important;
}
.cy_btn-stop-campaign:hover{
    background:#BF1E1E !important;
    color:white !important;
}
.cy-marketing-auto_mail-icon {
    background-color: #9EA700;
}
.cy-marketing-auto_delete-icon {
    background-color: #fff;
    color: #FF4B4B;
    border: 1px solid #dfdfdf;
}
.cy-marketing-auto_icon-btn {
    border-radius: 2px;
    padding: 10px;
    color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.cy-marketing_auto-box_title {
    color: #222222;
    font-size: 12.8px;
    font-weight: 500;
}
.cy-marketing_status{
    transform: translateY(16px);
}
.cyllo_statics_automation_card .total{
    width: 140%;
}
.cyllo_statics_automation_card .running{
    width: 140%;
}
.cyllo_statics_automation_card .completed{
    width: 140%;
}
.cy-headName{
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cy_date-class{
    white-space: nowrap;
}
.cy-marketing_auto-box-subtitle {
    color: #717684;
    font-size: 10.3px;
    font-weight: 400;
}
.selected {
    background-color: #0d355433;
}
.marketing-child-activities-svg{
    height: 1.5rem;
}
.cy-marketing-auto_delete-icon {
    background-color: #fff;
    color: #FF4B4B;
    border: 1px solid #dfdfdf;
}
.cy-marketing-auto_edit-icon {
    color: #5669DB;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border: 1px solid #dfdfdf;
}
.child-style{
    transform: translateY(10%);
}
.child-activity-add-buttons{
    cursor:pointer;
    display:flex;
    align-items:center;
    margin-top: 4%;
}
.add_div-style{
    cursor:pointer;
}
.child-activity-add-buttons .active-div:hover{
    background :rgba(14, 58, 93, 0.1);
}
.cy-marketing_activity .tab-content{
    overflow-y: scroll;
    height: 43em;
    overflow-x: scroll;
}
.fa-icon_style-div{
    margin-left: -12px;
    transform: translateX(19px);
    font-size: 15px;
}
.button-property_change{
    font-size: 15px !important;
    border-left: 0px solid #9EA700 !important;
}
.cy-marketing-auto_icon-active {
    background-color: #fff;
    color: #9EA700;
}
.cy-marketing-auto_icon-inactive {
    color: #FF4B4B;
    background-color: #fff;
}
.cy-marketing-auto_tab-view .cy-marketing-auto-tab.active {
    color: #495057 !important;
}
.cy-marketing-auto_tab-view .cy-marketing-auto-tab {
    padding: 0.8rem 1.4rem;
    color: #657500;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cy-mainChild_div{
    position:relative
}
.child_level{
    position:relative;
}
.cy-marketing-auto-sm_head {
    font-size: 14px;
    font-weight: 500;
    color: #505050;
}
.cy-marketing-auto_back {
    font-size: 20px;
    font-weight: 400;
}
.ri-arrow-left-s-line:before {
    content: "\ea64";
}
.cy-button-stroke {
    border-radius: 6px !important;
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    background-color: #fff;
    color: #505050;
    font-weight: 600;
    font-size: 13px;
}
.btn-launch_test{
    border-radius: 6px;
    border-top: 1px solid #0D3554;
    border-right: 1px solid #0D3554;
    border-bottom: 1.5px solid #0D3554;
    border-left: 1px solid #0D3554;
    background: #0E3A5D;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
}
.cy-marketing-auto_add-parent-container {
    position: absolute;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    background: #fff;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.09);
    right: 0px;
    width: 100%;
    top: 50px;
    min-width: 300px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.cy-marketing-auto-dialog-head {
    color: #222222;
    font-size: 12.8px;
    font-weight: 600;
    margin-bottom: 0;
}
.cy-marketing-auto-dialog-txt {
    color: #222222;
    font-size: 12.8px;
    white-space: nowrap;
}
.cy-record-name{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cy-component-widgetDiv-main{
    width:max-content;
}
.cy-test_activity_ids-div{
    width:100%;
    min-width:150%;
}
.activity-container{
    width: 100% !important;
    border: 1px solid;
    margin-bottom: 4%;
    height: max-content;
    transform: translateX(2%);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 3px 14px rgba(0, 0, 0, 0.2);
}
.cy-kanban-div-style-marketing{
    padding: 1rem !important;
    border: 1px solid #dfdfdf !important;
    border-radius: 4px !important;
    width: fit-content !important;
}
.cy-pipeline-title {
    color: #222222;
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text_activity_ids-div{
    width: max-content;
}
.cy-short-details{
    border: none !important;
}
.cy-short-details .participants{
    border: 1px solid #F7F7F7 !important;
    background: #f1f2d9 !important;
    border-radius: 14% !important;
}
.cy-campaign_records{
    border: none !important;
}
.badge-style-activity{
    width: 43% !important;
    display: flex;
    justify-content: space-between;
}
.cy-activity-state_container{
    display: flex;
    margin-top: 1rem;
    border:none !important;
    flex-wrap: wrap;
}
.cy-activity_state-box{
    padding: 3px;
    border: 1px solid rgba(223, 223, 223, 0.8745);
    background-color: #F7F7F7;
    min-width: 85px;
    text-align: center;
}
.cy-header-marketing_campaign{
    font-size: 1rem;
    color: #222222;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-bottom: 0.6rem;
}
.state_heading-marketing-campaign {
    font-size: 12px;
    color: #505050;
    margin-top: 0px;
}
.cy-state_count-marketing-campaign {
    color: #222222;
    font-size: 1.2rem;
    font-weight: 400;
    width: 87px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cy-test-participation_list-btn {
    color: hsl(216, 18%, 64%);
    text-transform: uppercase;
    font-size: 12.8px;
    padding: 0.4rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.4rem;
    border: none;
    border-right: 1px solid hsl(213, 22%, 84%);
    background-color: #fff;
}
.cy-trigger-actions .cy-tracked-div{
    color: green !important;
}
.cy-test_participation-tree_box-label {
    color: #222222;
    font-size: 9px;
    font-weight: 600;
    padding: 2px 8px;
    border-radius: 2px;
    margin: 0 8px;
}
.cy-status-tag .cancel{
    background-color: #FFBFCA;
}
.cy-status-tag .schedule{
    background-color: #F0D473;
}
.cy_kanban-box_style{
    height:171px;
}
.marketing_user-cy{
    position: absolute;
    bottom: 0;
    right: 0;
}
.cy-status-tag .processed{
    background-color: #8DF09C;
}
.cy-status-tag .error{
    background-color: #FF8982;
}
.head-content-seperator{
        margin-left: 2%;
}
.cy-mainDiv_buttons{
    margin-left: 2rem;
}
.cy-hide-activityAddButtons{
    display: none !important;
}
.cy-marketing-trigger-btn-active {
    background: red;
}
.cy-hideMain-div{
    display:none !important;
}
.cy-marketing-auto_icon-btn i {
    font-size: 1rem;
}
.cy-schedule-type {
    position: absolute;
    right: -15px;
    bottom: -20px;
    white-space: nowrap;
}
.cy-click-icon {
    height: 15px;
}




.cy-marketing-tile_row .cy-card_box {
    background-color: #fff;
    padding: 1rem 1.2rem;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    min-width: 100%;
}

.cy-marketing-tile_row .cy-cardbox-icon {
    padding: 1rem;
    border-radius: 4px;
    position: absolute;
    top: -27px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}


.cy-marketing-tile_row .cy-card_top-section {
    display: flex;
    gap: 1.2rem;
    text-align: right;
}

.cy-marketing-tile_row .cy-cardbox--state {
    color: #777777;
    font-size: 0.8rem;
    display: block;
    margin-bottom: 0.2rem;
}

.cy-marketing-tile_row .cy-cardbox-state_count {
    font-size: 1rem;
    color: #222222;
    font-weight: 500;
}
.cy-marketing-tile_row .cy-card_desc {
    margin-top: 0.6rem;
    padding: 0.8rem 0 0.2rem 0;
    color: #777777;
    font-size: 0.8rem;
    font-weight: 500;
    border-top: 1px solid #efecec;
}
.cy-marketing-tile_row .cy-card_detail {
    width: 100%;
}
.cy-marketing-tile_row{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
@media (max-width: 768px){
    .cy-marketing-tile-list {
        padding: 0px;
    }
    .cy-marketing-tile_row {
    gap: 0.8rem;
    }
}
