
.cy-dial__pad {
    position: fixed;
    bottom: 20px !important;
    background-color: #fff;
    height: 479px;
    right: 11px;
    padding: 1.4rem 1rem;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    z-index: 22;
    width: 19%;
    min-width: 340px;
    margin: 1rem
}

.cy-dial__pad-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.cy-dial-actionbtn {
    background: transparent;
    color: #000;
    border: none
}

.cy-dial_input--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.cy-dial-input {
    width: 100%;
    border: none;
    padding: 0.35rem
}

.cy-dial-input:focus {
    outline: none;
    border-bottom: 1px solid #dfdfdf
}

.cy-dial_clearbtn {
    color: #222222;
    font-weight: 500;
    font-size: 1.4rem;
}

.cy-dial_clearbtn:hover {
    background-color: #F4F4F7;
    color: #9EA700;
}

.cy-dial_additional-buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    gap: 0.5rem
}

.cy-dial_additional-btn {
    width: 100%
}

.cy-border-right {
    border-right: 1px solid #dfdfdf
}

.cy_twilio_main .cy-button-primary-stroke {
    border: 1px solid #9EA700;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    background: #9EA700;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 0.5rem 1rem;
    position: relative
}

.outgoing_minimise {
    display: none;
    background-color: #9EA700;
    width: 52px;
    height: 52px;
    position: fixed;
    right: 1%;
    z-index: 22;
    margin-top: 868px;
    margin-bottom: 0px;
    border-radius: 50%;
}

.cy_twilio_main .cy-button-primary-stroke:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.cy_twilio_main .cy-button-primary-stroke:hover {
    color: #fff
}

.cy-recent__container {
    margin-bottom: 3rem
}

.cy-dial_pad-numbers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5rem 1fr 0.5rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem
}

.cy-dialing-nmbr {
    font-size: 1.4rem;
    font-weight: 500;
    color: #222222;
    padding: 0.5rem
}

.cy-dialing-nmbr:hover {
    background-color: #F4F4F7;
    color: #9EA700
}

.cy-dialing-nmbr:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.cy-dial_pad-callprocess {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    gap: 0.5rem;
    margin-top: 1rem;
    justify-content: space-around;
}

.cy-call-btn {
    background-color: #9EA700;
    color: white;
    height: 50px;
    width: 50px;
}

.cy-callend-btn {
    background-color: #FF4B4B;
    color: #fff;
    height: 50px;
    width: 50px;
}

.cy-callend-icon {
    font-size: 26px;
    -webkit-transform: rotate(136deg);
    transform: rotate(136deg);
    margin-top: 13px;
    margin-left: 2px;
}

.cy-dial-process-btn {
    border-radius: 50px
}

.cy-dial-process-btn:hover {
    color: #fff
}

.cy-recent_contants {
    display: none
}

.cy-dial__pad-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.cy-dial-actionbtn {
    background: transparent;
    color: #000;
    border: none
}

.out-keypad .cy-dial-actionbtn {
    margin-top: -12px !important;
}

.cy-dial_search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: 1rem 0
}

.cy-dial-search__icon {
    position: absolute;
    left: 8px
}

.cy-search_input {
    border: none;
    padding: 8px 8px 8px 28px;
    width: 100%;
    background-color: #F4F4F7;
    border-radius: 2px;
    color: #222222
}

.cy-search_input:focus {
    outline: none
}

.cy-dial__recent-list {
    height: 283px;
    overflow-y: auto
}

.cy-recent__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.6rem 0.2rem;
    border-bottom: 1px solid #dfdfdf
}

.cy-recent__list-item:hover {
    background-color: #f0f59f;
    cursor: pointer;
}

.cy-dial_pad-recent-number {
    display: block;
    color: #222222
}

.cy-outgoing_icon {
    color: #6F7500
}

.cy-dial_recent--timing {
    color: #505050;
    font-size: 0.8rem
}

.cy-dial_footer--btns {
    position: absolute;
    bottom: 0px;
    padding: 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    width: 100%;
    left: 0px
}

.cy-dial_footer-btn-item {
    color: #9EA700;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0.5rem
}

.cy-dial_footer-btn-item:hover {
    background-color: #F4F4F7
}

.cy-dial_backbtn {
    border: none;
    background-color: #F4F4F7;
    position: absolute;
    left: -1px;
    top: 9px;
}

.cy-dialer__contact-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 3.5rem 0
}

.cy-dialer_contact-profileimg {
    width: 120px;
    height: 120px;
    border-radius: 2px;
    margin-bottom: 2rem
}

.cy-dialer_contact-img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.call-icon {
    margin-top: 4px;
    margin-left: 1px;
    font-size: 27px;
}


.cy-dial_footer-end_btn-item {
    color: red;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0.5rem
}

.incoming {
    width: 320px;
    margin-right: 71px;
    margin-bottom: 48px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    height: 400px;
}