.form_overall_container {
    border-radius: 10px;
    margin: 16px;
    font-family: 'Arial', sans-serif;
}

.light-studio-mode .form_overall_container .cy-components-column {
    background-color: white;
    border: 1px solid #d2d2d2;
}

.form_overall_container .components-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 5px;
    background: unset;
}

.light-studio-mode .form_overall_container .components-container label {
    border-bottom: 1.5px solid #fff4f4;
}

.form_overall_container .components-container label {
    color: #9ea700;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    border-bottom: 1.5px solid #535353;
    width: 100%;
}

.form_overall_container .components-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #BCBBA7 !important;
}

.form_overall_container .cy-studio-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
}

.form_overall_container .cy-components-column {
    display: flex;
    align-items: center;
    background-color: var(--cy-components-column-bg);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 100%;
    height: 40px;
}

.form_overall_container .cy-components-column:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form_overall_container .cy-components-span {
    margin: unset;
    height: 100%;
    width: 40px;
    margin-right: 4px;
}

.form_overall_container .cy-components-text {
    color: #555;
}

.form_overall_container .attributes {
    margin-top: 24px;
}

.form_overall_container .checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.accordion-button:focus {
    box-shadow: unset;
}

.form_overall_container .checkbox-label {
    margin-left: 8px;
    font-size: 14px;
    color: #333;
}
