.CalenderOverall {
    input {
        color: #dedede !important;
    }

    .calenderDropdown {
        .cy-studio-custom-dropdown .d-flex {
            width: auto !important;
            margin: 0.25rem;
            height: 20px;
            background-color: #373627 !important;
            border: none !important;

            i {
                color: black !important
            }
        }

        .cy-drop-down {
            border: 1px solid #474a3a !important;
        }

        .cy-drop-down button {
            background-color: unset;
            color: white;
            width: 100%;
            display: inherit;

        }

        .badge.rounded-pill {
            height: 30px;
        }

        .cy-studio-custom-dropdown i {
            margin-top: 3px;
            color: #BCBBA7 !important;
            margin-right: 3px;
        }

        .dropdown-menu {
            top: 116% !important;
            left: -2% !important;
            width: 104%;
            position: absolute !important;
            background-color: #2e2e2e;
            color: #c7c4b5;
            border: 1px solid #2e2e2e;

        }

        .cy-input .o-dropdown {
            width: 100%;

        }

        .dropdown-toggle::after {
            margin-left: 90%;
        }
    }

    .cy-input .dropdown ul {
        left: 0 !important;
        right: 2px;
        background-color: #2e2e2e;
        border: 1px solid #2e2e2e;
    }

    .cy-input .dropdown ul li a {
        padding: 3px 10px !important;
        color: #BCBBA7;
    }

    .cy-input .dropdown ul li .ui-state-active {
        color: #BCBBA7 !important;
    }

    .event-limit-input:focus {
        border: 1px solid #474a3a !important;
        box-shadow: none;
        background-color: #32352a !important;
    }

    .accordion .overall_container_list {
        padding: 8px 16px !important;
    }
}