.cy_lang_systray {
    max-width: 40px;
    padding-left: 5px;
    font-weight: 700;
    font-size: medium;
    font-family: var(--fira-family);
}

.cy_lang_systray:hover {
    color: black;
}

.cy_lang_systray_container:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.cy_lang_dropdown {
    padding: 0.4rem 0.8rem;
}

.cy_lang_flag {
    width: 25px;
    height: 20px;
}

button:hover > .cy_lang_systray {
    color: black;
}

.o_menu_systray {
    align-items: center;
}
