.div_properties{
    margin: 9px 12px 0px 17px;
    }
.cy-navbar_label{
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: #BCBBA7;
    font-family: inter, sans-serif;
    font-weight:500 !important;
    }
.cy-btn_save{
    background-color: #9ea700;
    color: #fff;
    border: 1px solid #9ea700;
    padding: 8px 20px;
    border-radius: 3px;
    box-shadow: none;
}
 .cy-cancel_btn{
        padding: 8px 20px;
      border-radius: 3px;
    border: 1px solid #BCBBA7;
    color: #BCBBA7;
    font-weight: 500;
    background-color: transparent;
    }

 .cy-studio-div-flex{
     background-color: #25281a !important;
     border: 1px solid #474a3a !important;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
     .cy-studio-div_in_flex{
         background-color:#32352a !important;
         }
     .cy-studio-flex_text{
         color: #BCBBA7 !important;
         }
     }
 .cy-studio-div-flex-hover:hover{
     transition: all 0.3s ease;
     transform: translateY(-1px);
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);

     .cy-studio-flex_text{
         color: #BCBBA7 !important;
          }
      .cy-studio-div_in_flex{
         background-color:#32352a !important;
         }
}

.cy-studio-div-flex-selected{
    border: 1px solid #9EA700 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 0 15px rgba(158, 167, 0, 0.2);
    .cy-studio-flex_text{
         color: #BCBBA7 !important;
          }
      .cy-studio-div_in_flex{
         background-color:#32352a !important;
         }
    }
