.ribbon-dialogue{
    .cy-navbar_label{
        color: #495057;
        }
    .cy-input{
        background-color: #ffffff;
        border: 1px solid #ced4da;
        }
    .form-control:focus{
         background-color: #ffffff;
        border: 1px solid #ced4da;
        }
    }