:root {
    /* background */
    --background-color: #F9FAFB;
    /* Colors */
    --bg-white-100: hsl(0, 0%, 100%);
    --bg-light-100: hsl(0, 0%, 99.5%);
    --bg-light-200: hsl(0, 0%, 98.5%);
    --bg-steel-100: hsl(210, 50%, 95%);
    --bg-steel-200: hsl(210, 50%, 93%);
    --bg-steel-300: hsl(210, 50%, 91%);
    --bg-steel-400: hsl(210, 50%, 86%);
    --bg-steel-500: hsl(210, 50%, 75%);
    --bg-primary-500: hsl(231, 58%, 19%);
    --bg-secondary-300: hsl(93, 52%, 58%);
    --bg-secondary-400: hsl(93, 52%, 52%);
    --bg-secondary-500: hsl(93, 78%, 40%);
    --bg-secondary-600: hsl(93, 78%, 32%);
    --bg-secondary-700: hsl(93, 78%, 24%);
    --bg-highlight-100: hsl(230, 75%, 98%);
    --bg-highlight-500: hsl(231, 65%, 60%);
    --bg-dark-700: hsl(0, 0%, 30%);
    --bg-dark-800: hsl(0, 0%, 13%);
    --bg-dark-900: hsl(0, 0%, 0%);

    /* Card Colors */
    --bg-red-500: hsl(360, 63%, 48%);
    --bg-blue-500: hsl(206, 92%, 46%);
    --bg-purple-500: hsl(247, 74%, 63%);
    --bg-green-500: hsl(168, 100%, 36%);
    --bg-pink-500: hsl(331, 55%, 42%);
    --bg-orange-500: hsl(12, 70%, 61%);
    --bg-rebecca-500: hsl(270, 50%, 40%);
    --bg-skirret-500: hsl(112, 58%, 47%);
    --bg-naval-500: hsl(207, 42%, 44%);
    --bg-fuchsia-500: hsl(332, 53%, 46%);
    --bg-india-500: hsl(206, 97%, 55%);

    /* Font Sizes */
    --bg-font-size-sm: clamp(0.7rem, 0.28vw + 0.6rem, 0.85rem);
    --bg-font-size-base: clamp(0.81rem, 0.34vw + 0.73rem, 1rem);
    --bg-font-size-md: clamp(1.02rem, 0.58vw + 0.87rem, 1.33rem);
    --bg-font-size-lg: clamp(1.27rem, 0.92vw + 1.04rem, 1.78rem);
    --bg-font-size-xl: clamp(1.59rem, 1.42vw + 1.23rem, 2.37rem);
    --bg-font-size-xxl: clamp(1.98rem, 2.13vw + 1.45rem, 3.16rem);
    --bg-font-size-xxxl: clamp(2.48rem, 3.14vw + 1.69rem, 4.21rem);

    /* Font Family */
    --bg-font-family-base: "Fira Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

    /* Breakpoints */
    --bg-breakpoint-xs: 0;
    --bg-breakpoint-sm: 576px;
    --bg-breakpoint-md: 768px;
    --bg-breakpoint-lg: 992px;
    --bg-breakpoint-xl: 1200px;
    --bg-breakpoint-xxl: 1400px;
}

.cy-app-install-demo-container {
    display: grid;
    grid-template-columns: 100% 0;
    transition: all 0.3s linear;
    border: 1px solid var(--bg-steel-400);
    height: 100vh;
}

@media screen and (max-width: 992px) {
    .cy-app-install-demo-container {
        max-width: 100%;
        border: none;
    }
}

.cy-app-install-demo-card--sidebar {
    display: grid;
    grid-template-columns: 75% 25%;
    transition: all 0.3s linear;
}

.cy-app-install-appbar {
    display: none;
}

.cy-app-install-demo-card--sidebar .cy-app-install-appbar {
    display: block;
    position: sticky;
    height: calc(99vh + 8px);
    padding-top: 10px;
    padding-right: 0;
    top: 0;
    overscroll-behavior: contain;
    background: #e9ebb5;
}


.cy-app-install-user_addbtn-text {
    width: fit-content;
    font-family: var(--inter-sans);
    cursor: pointer;
    transition: all 0.3s linear;
    font-weight: 500;
    color: white;
    background-color: #9EA700;
    font-size: var(--bg-font-size-base);
    padding: 0.7rem 1rem;
    border-radius: 10px;
}

@media screen and (max-width: 991.98px) {
    .cy-app-install-demo-apps {
        padding-left: 10px;
        padding-right: 10px;
    }

    .cy-app-install-demo-card--sidebar .cy-app-install-appbar {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .cy-app-install-demo-card--sidebar {
        display: unset;
    }

    .cy-app-install-demo-card--sidebar .cy-app-install-appbar {
        position: sticky;
        top: unset;
        height: unset;
        bottom: -15px;
        background-color: #e9ebb5;
    }

    .cy-app-install-appbar__items {
        max-height: 140px;
        overflow-y: auto;
    }
}

.cy-app-install-demo-card {
    background-color: var(--background-color);
    height: 100vh;
    padding: 2rem;
    overflow-y: hidden;
}

.cy-app-install-demo-card__hero {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    align-items: flex-start;
    gap: 1rem;


}

.cy-app-install-demo-card__title {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-size: 35px !important;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--bg-dark-900);
    white-space: nowrap;
}

.cy-app-install-demo-card__lead {
    font-size: medium;
    color: var(--bg-dark-800);
}

.cy-app-install-demo-apps__cat {
    margin-top: 3rem;
}

.cy-app-install-demo-apps__cat:first-child {
    margin-top: 0;
}

.cy-app-install-demo-apps__cat-header {
    padding-bottom: 0.8rem;
}

.cy-app-install-demo-apps {
    position: relative;
    bottom: 0px;
}

.cy-app-install-app-scroll {
    overflow: auto;
    height: 100vh;
}

.cy-app-install-form-data {
    height: 50vh !important;
    overflow: hidden;
}

.cy-app-install-demo-apps-items {
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    transition: all 0.3s linear;
}

.cy-app-install-demo-apps__checkbox {
    display: none;
}

.cy-app-install-demo-apps__label {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    padding: 1rem;
    min-height: 80px;
    width: 100%;
    background-color: var(--bg-light-100);
    border: 1px solid var(--bg-steel-200);
    border-radius: 0.7rem;
    cursor: pointer;
    color: var(--bg-dark-800);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    transition: all 0.3s linear;
    font-size: 16px;
    line-height: 20px;
}

.cy-app-install-demo-apps__label:hover {
    border-color: #ecedcc;
    transition: all 0.3s linear;
    box-shadow: inset 0 0 0 2px #9EA700;
    transform: translate3d(0, -1px, 0);
}

.cy-app-install-demo-apps__checkbox:checked + .cy-app-install-demo-apps__label {
    border-color: var(--bg-highlight-500);
    background-color: var(--bg-highlight-100);
    box-shadow: rgba(87, 107, 219, 0.2) 0px 1px 5px 0px;
    color: var(--bg-dark-900);
    transition: all 0.3s linear;
    display: none;
}

.cy-app-install-demo-apps__cat-title {
    font-weight: 500;
    font-family: var(--inter-sans);
    font-size: var(--bg-font-size-base);
}

.cy-app-install-demo-apps__icon-container {
    width: 50px;
    height: 50px;
    border-radius: 0.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    pointer-events: none;
}

/* App Sidebar */
.cy-app-install-appbar {
    padding: 3rem 20px;
}

.cy-app-install-appbar__count {
    font-weight: bold;
    font-size: var(--bg-font-size-md);
    display: block;
    margin-bottom: 0.5rem;
}

.cy-app-install-appbar__lead {
    color: var(--bg-dark-800);
}

.cy-app-install-appbar__header {
    margin-bottom: 2rem;
    margin-top: 1rem;
    /*min-width: 400px;*/
}

.cy-app-install-appbar__body {
    height: calc(97vh - (52px + 7rem + 3rem));
    overflow-y: auto;
    overscroll-behavior: contain;
}

.cy-app-install-appbar__footer {
    padding-top: 0.5rem;
    height: 58px;
    display: flex;
    justify-content: center;
}

.cy-app-install-appbar__items {
    padding-left: 0;
    list-style: none;
}

.cy-app-install-appbar__item {
    display: flex;
    align-items: center;
    background: #FFFFFF !important;
    margin-right: 20px;
    padding-right: 12px;
    border-radius: 1rem;
    padding-left: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.cy-app-install-appbar__item:first-child {
    margin-top: 0;
}

.cy-app-install-appbar__item-label {
    font-weight: bold;
    margin-left: 10px;
}

.cy-app-install-appbar__item-icon-container {
    width: 48px;
    height: 48px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scale 0.4s linear forwards;
    border-radius: 5px;

}

.cy-app-install-appbar__item-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* Buttons */
.cy-app-install-btn {
    padding: 0.5rem 1rem;
    font-family: var(--inter-sans);
    cursor: pointer;
    transition: all 0.3s linear;
}

.cy-app-install-btn:hover {
    transition: all 0.3s linear;
}

.cy-app-install-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.cy-app-install-btn--block {
    display: block;
    width: 50%;
}

.cy-app-install-btn--primary {
    height: 50px;
    background: #9ea700;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 12px;
    border: none !important;
    font-family: var(--inter-sans);
    transition: all 0.3s linear;
}

.cy-app-install-btn--primary:hover {
    font-family: var(--inter-sans);
    background: #8e9600 !important;
    transition: all 0.3s linear;
}

.cy-app-install-btn--primary:disabled:hover {
    background-color: var(--bg-secondary-500);
    border-color: var(--bg-secondary-400);
    box-shadow: 0px 0px 0px 1px var(--bg-secondary-600);
    text-shadow: 1px 1px var(--bg-secondary-600);
}

.cy-app-install-btn--link {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.cy-app-install-btn--link:hover {
    background-color: #dfe1b7 !important;
}

/* Steps */

.cy-app-install-steps {
    display: flex;
    font-family: "Manrope", sans-serif;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 8px;
    padding: 0 24px !important;
    list-style: none;
    gap: 10px;
}

.cy-app-install-steps-text {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 !important;
    list-style: none;
    gap: 10px;
}

.cy-app-install-steps-text li {
    width: 130px;
}

.cy-app-install-step {
    position: relative;
}

.cy-app-install-step--checkbox {
    background-color: #dfe1b7;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.cy-app-install-step--checkbox span {
    padding-bottom: 1px;
    font-weight: bold;
}

.cy-app-install-step--checkbox.completed {
    background-color: var(--primary);
    color: var(--white);
}

.cy-app-install-step--checkbox.active {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: inset 0 0 0 2px var(--primary), inset 0 0 0 8px var(--background-color);
}

.cy-app-install-step--checkbox i {
    font-size: 20px;
    color: #fff;
}

.cy-app-install-step--bar {
    content: "";
    width: 100%;
    height: 5px;
    display: inline-block;
    border-radius: 25px;
    background-color: #F0F1F3;
}

.cy-app-install-step--bar.completed {
    background-color: var(--primary);
}

.cy-app-install-first_step::after {
    content: "";
    width: 100%;
    height: 5px;
    display: inline-block;
    border-radius: 25px;
    background-color: #9ea700;
}

.cy-app-install-step.cy-app-install-step--active::after {
    background-color: #9ea700;
}

.cy-app-install-step__label {
    visibility: visible;
    font-size: var(--bg-font-size-base);
    font-weight: 500;
    color: black;
}

.cy-app-install-step__label_two {
    visibility: hidden;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cy-app-install-step__label_three {
    visibility: hidden;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cy-app-install-step.cy-app-install-step--active .cy-app-install-step__label {
    visibility: visible;
    font-size: var(--bg-font-size-base);
    font-weight: 500;
    color: black;
}

/* Responsive Styles */
@media screen and (max-width: 992px) {
    main .cy-app-install-demo-container--sidebar {
        grid-template-columns: unset;
    }

    .cy-app-install-demo-card__hero {
        padding-left: 10px;
        padding-right: 10px;

    }

    .cy-app-install-demo-card {
        padding: 1rem;
    }

    .cy-app-install-demo-container--sidebar .cy-app-install-demo-card {
        height: unset;
    }

    .cy-app-install-demo-container--sidebar {
        grid-template-columns: 100% 0;
    }

    .cy-app-install-appbar__header {
        min-width: unset;
    }

    .cy-app-install-demo-container--sidebar .cy-app-install-appbar {
        left: 0;
        bottom: 0px;
        width: 100vw;
        z-index: 2;
        background-color: var(--bg-steel-100);
        max-height: 40vh;
        padding: 2rem;
        border-left: none;
        border-top: 1px solid var(--bg-steel-300);
        box-shadow: rgba(0, 0, 0, 0.1) 0px -3px 13px 0px;
        height: unset;
        position: sticky;
    }

    .cy-app-install-appbar .cy-app-install-appbar__body {
        height: auto;
        max-height: 200px;
        overflow: auto;
    }

    .cy-app-install-appbar__items {
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        gap: 20px;
    }

    .cy-app-install-appbar__item {
        width: 100%;
        margin: 0;
    }

    .cy-app-install-appbar__item-delete {
        padding: 1rem;
    }

    .cy-app-install-appbar__footer {
        padding-top: 1rem;
        padding-bottom: 61px;
    }
}

.cy-app-install-apps_footer {
    position: sticky;
    bottom: 0;
    background: var(--background-color);
    padding: 8px 6px 0;
    height: 95px;
}

.cy-app-install-apps_footer .cy-app-install-btn {
    margin-bottom: 36px;
}

.cy-app-install_user_table {
    position: relative;
    bottom: 7px;
}

.cy_app-install-get_started {
    padding: 36px;
    height: unset;
}

.cy-app-install-demo-card__page {
    color: var(--bg-dark-700);
    font-size: var(--bg-font-size-sm);
}

.cy-app-install-demo-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Update your CSS file for loading indicator */

.cy_app-install-loading-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 3000;
}

.cy-app-install-welcome-message {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cy-app-install-welcome-text {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.cy-app-install-loading-message {
    text-align: center;
}

#cy-app-install-loading-text {
    font-size: 18px;
    font-weight:500;
    font-family: var(--inter-sans);
}

#cy-app-install-cyllo-info {
    color: #222;
    max-width: 800px;
    font-weight: 500;
    font-size: 15px;
    font-family: var(--inter-sans);
}

.cy-app-install-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid var(--bg-highlight-500);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cy_app_install_selected {
    border-color: #ecedcc;
    transition: all 0.3s linear;
    box-shadow: inset 0 0 0 2px #9EA700;;
}

.cy-app-install-demo-card__skipbtn {
    background-color: transparent;
    border: none;
    font-weight: 500;
    padding: 0.5rem;
    font-size: var(--bg-font-size-sm);
    color: var(--bg-dark-700);
    cursor: pointer;
}

.cy-app-install-demo-card__skipbtn:hover {
    color: var(--primary);
    background-color: var(--bg-highlight-100);
}

/* .....................................User Information............................*/

.cy-app-install-onboarding-card__input {
    width: 100%;
    padding: 0.35rem;
    border-radius: 5px !important;
    border: 2px solid #9EA700;
    font-family: var(--inter-sans);
    transition: all 0.3s linear;
}

.cy-app-install-onboarding-card__input:focus {
    outline: none;
    border-color: #9EA700;
    box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.cy-app-install-onboarding-card__form {
}

.cy-app-install-onboarding-card__form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 0.75rem;
}

.cy-app-install-onboarding-card__form-row-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.cy-app-install-userinform-form__label {
    font-weight: 600;
    margin: 1rem 0;
    font-size: 15px;
    display: block;
    color: #212529;
}

.cy-app-install-form_submit {
    padding: 0 36px 36px 36px;
    height: unset;
}

@media screen and (max-width: 575.98px) {
    .cy-app-install-onboarding-card__form-row {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Font Icons*/
@font-face {
    font-family: "remixicon";
    src: url("/web/static/fonts/remixicon.eot?t=1702456851606"); /* IE9*/
    src: url("/web/static/fonts/remixicon.eot?t=1702456851606#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("/web/static/fonts/remixicon.woff2?t=1702456851606") format("woff2"),
    url("/web/static/fonts/remixicon.woff?t=1702456851606") format("woff"),
    url("/web/static/fonts/remixicon.ttf?t=1702456851606") format("truetype"),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url("/web/static/fonts/remixicon.svg?t=1702456851606#remixicon") format("svg"); /* iOS 4.1- */
    font-display: swap;
}

[class^="cy-app-install-ri-"],
[class*="cy-app-install-ri-"] {
    font-family: "remixicon" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cy-app-install-ri-lg {
    font-size: 1.3333em;
    line-height: 0.75em;
    vertical-align: -0.0667em;
}

.cy-app-install-ri-xl {
    font-size: 1.5em;
    line-height: 0.6666em;
    vertical-align: -0.075em;
}

.cy-app-install-ri-xxs {
    font-size: 0.5em;
}

.cy-app-install-ri-xs {
    font-size: 0.75em;
}

.cy-app-install-ri-sm {
    font-size: 0.875em;
}

.cy-app-install-ri-1x {
    font-size: 1em;
}

.cy-app-install-ri-2x {
    font-size: 2em;
}

.cy-app-install-ri-3x {
    font-size: 3em;
}

.cy-app-install-ri-4x {
    font-size: 4em;
}

.cy-app-install-ri-5x {
    font-size: 5em;
}

.cy-app-install-ri-6x {
    font-size: 6em;
}

.cy-app-install-ri-7x {
    font-size: 7em;
}

.cy-app-install-ri-8x {
    font-size: 8em;
}

.cy-app-install-ri-9x {
    font-size: 9em;
}

.cy-app-install-ri-10x {
    font-size: 10em;
}

.cy-app-install-ri-fw {
    text-align: center;
    width: 1.25em;
}

.cy-app-install-ri-file-copy-line:before {
    content: "\ecd5";
}

.cy-app-install-ri-git-branch-line:before {
    content: "\edbd";
}

.cy-app-install-ri-git-merge-line:before {
    content: "\edc1";
}

.cy-app-install-ri-database-2-line:before {
    content: "\ec16";
}

.cy-app-install-ri-box-3-line:before {
    content: "\f2f5";
}

.cy-app-install-ri-delete-bin-6-line:before {
    content: "\ec26";
}

.cy-app-install-ri-delete:hover {
    color: red;
}

/* Colors */
.cy-app-install-color--excluded {
    display: none;
}

.cy-app-install-appbar__item-delete {
    margin-left: auto;
    cursor: pointer;
}

/* Show the selected color */
.cy-app-install-color--selected {
    display: block;
}

.cy-app-install-colors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 6px 6px 6px 0;
    list-style: none;
    gap: 10px;
}

.cy-app-install-color__input {
    display: none;
}

.cy-app-install-color__label {
    display: inline-block;
    width: 35px;
    height: 22px;
    outline: 1px solid var(--bg-dark-700);
    outline-offset: 1.5px;
    position: relative;
    cursor: pointer;
}

.cy-app-install-color__label--transparent::after {
    content: "";
    width: 2px;
    height: 40px;
    display: block;
    position: absolute;
    left: 17px;
    top: -9px;
    background-color: var(--bg-red-500);
    transform: rotate(-60deg);
    pointer-events: none;
}

.cy-app-install-color__label--red {
    background-color: #FF8E96;
}

.cy-app-install-color__label--orange {
    background-color: #ffc895;
}

.cy-app-install-color__label--yellow {
    background-color: #fdeb84;
}

.cy-app-install-color__label--blue {
    background-color: #b8d3f9;
}

.cy-app-install-color__label--sakura {
    background-color: #e59bcb;
}

.cy-app-install-color__label--beige {
    background-color: #fed5c6;
}

.cy-app-install-color__label--turquoise {
    background-color: #63e7dd;
}

.cy-app-install-color__label--purple {
    background-color: #9393fa;
}

.cy-app-install-color__label--green {
    background-color: #a0f7c0;
}

.cy-app-install-color__label--pink {
    background-color: rgb(243, 164, 235);
}

.cy-app-install-color__label--lavender {
    background-color: #ecd4fc;
}

.cy-app-install-color__input:checked + .cy-app-install-color__label {
    box-shadow: 0px 0px 0px 2px black;
}

/*.......................index3.......................*/

.cy-app-install-main__placeholder {
    border: none;
    width: fit-content;
    background-color: var(--background-color);
}

.cy-app-install-main__placeholder:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--bg-steel-400);
    padding-bottom: 0.5rem;

}

.cy-app-install-main__placeholder::placeholder {
    font-size: var(--bg-font-size-lg);
    font-weight: bold;
    margin-bottom: 0.75rem;
    color: var(--bg-dark-900);

}

.cy-app-install-top_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

.cy-app-install-user_addbtn {
    padding: 0.5rem 1rem;
}

.cy-app-install-demo_usertable-container {
    background-color: var(--bg-white-100);
    border-radius: 2px;
    border: 1px solid var(--bg-steel-200);
    margin: 2rem 0;
    overflow: auto;
    max-height: 450px;
}

.cy-app-install-userlist_head {
    font-weight: 600;
    margin: 1rem 0;
    font-size: var(--bg-font-size-base);
    min-width: 180px;
    text-align: left;
    padding: 1rem;
}

.cy-app-install-userlist_data {
    padding: 0.85rem 1rem;
    font-size: var(--bg-font-size-base);
    font-weight: 400;
}

.cy-app-install-userlist_avatar {
    width: 30px;
    height: 30px;
    margin-right: 0.3rem;
}

.cy-app-install-user-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.cy-app-install-user_profile-data {
    display: flex;
    align-items: center;
}

.cy-app-install-usertable__head,
.cy-app-install-usertable__row:not(:last-child) {
    border-bottom: 3px solid var(--bg-steel-200);
    border-left:3px solid var(--bg-steel-200);
    border-right: 3px solid var(--bg-steel-200);
}

.cy-app-install-usertable__head {
    background-color: #c5ca66;
}

.cy-app-install-demo_usertable {
    border-collapse: collapse;
    width: 100%;
}

.cy-app-install-userdetail__modal {
    border-radius: 2px;
    border: 1px solid var(--bg-steel-400);
    padding: 1rem;
}

.cy-app-install-close_btn {
    border: none;
    background-color: transparent;
}

.cy-app-install-demo-card-modal__title {
    font-size: var(--bg-font-size-md);
    font-weight: bold;
    margin-bottom: 0px;
    color: var(--bg-dark-900);
}

.cy-app-install-user_modal--head {
    padding: 1rem 0;
    border-bottom: 1px solid var(--bg-steel-200);
    margin: 0 1rem;

}

.cy-app-install-usertable__row:hover {
    background-color: var(--bg-light-200);
}

.cy-app-install-usertable__row{
    border-bottom: 3px solid var(--bg-steel-200);
    border-left: 3px solid var(--bg-steel-200);
    border-right: 3px solid var(--bg-steel-200);
}

.cy-app-install-userdetail_delete {
    color: var(--bg-red-500);
}

.cy-app-install-demo-card__hero-profile {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    border-radius: 10%;
    display: flex;
    position: relative;
}

.cy-app-install-demo_step2-hero {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    background: var(--background-color);
    border-radius: 10px 10px 0px 0px;
}

.cy-app-install-demo_hero-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.trash_icon {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    width: 25px;
    height: 25px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trash_icon:hover {
    background-color: #f0f0f0;
    color: red;
    width :30px;
    height :30px;
}

.pencil-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
    width: 25px;
    height: 25px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pencil-icon:hover {
    background-color: #f0f0f0;
    color : blue;
    width :30px;
    height :30px;
}

.cy_app_mass_install_main {
    font-family: var(--inter-sans);
    width: 100%;
    background-color: #F0F1F3 !important;
}

.cy-app-install-guidance-message {
    margin-top: 5px;
    font-style: italic;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.cy-app-mass-install-scrollable {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.cy-app-install-view {
    display: flex;
    flex-direction: column;
    background-color: #ecedcc;
}

.cy-app-install-company-card {
    overflow: auto;
    padding: 1rem 0 0 0;
    padding-top: 0;
    scrollbar-width: none;
}

.cy-app-install-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    background-color: var(--background-color);;
}

.cy-app-install-company-form {
    height: 100% !important;
    overflow: auto;
    background: var(--background-color);
    border-radius: 0px 0px 10px 10px;
}

.cy-app-install-sticky {
    z-index: 1000;
    position: sticky;
    top: 0px;
    background-color: var(--background-color);
    padding-top: 15px;
    padding-bottom: 15px;
}

.cy-app-install-company-demo-container {
    height: 97vh !important;
}

@media screen and (max-width: 991.98px) {
    .cy-app-install-view {
        display: flex;
        flex-direction: column;
        padding-top: 1px;
        background-color: white;
        padding-left: 0px;
    }

    .cy-app-install-container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        padding-top: 0px;
    }
}

.cy-app-install-demo-card__search-container {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 30%;
    border: 1px solid #dfdfdf;
    border-radius: 0.5rem !important;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    background: white;
}

.cy-app-install-demo-card__search-container:focus-within {
    border-color: var(--primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.cy-app-install-demo-search_input {
    background: transparent !important;
    border: 1px solid var(--bg-steel-200);
    border-radius: 0rem;
    color: var(--bg-dark-800);
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    transition: all 0.3s linear;
    padding-right: 1.2rem !important;
    padding-left: 0.25rem !important;
    width: 100%;
    font-size: 0.84rem;
    outline: none;
}


.cy-app-install-demo-search_btn {
    position: absolute;
    border: none;
    border-left: 0px;
    color: var(--bg-dark-800);
    transition: all 0.3s linear;
    background-color: transparent;
    font-size: 1rem;
    position: relative;
    right: 0px;
    cursor: pointer;
    bottom: 0px;
    padding-left: 0.7rem;
    padding-right: 1rem;
    font-size: 1.3rem;
}

.cy-app-install-demo_selection-container:focus {
    box-shadow: rgba(87, 107, 219, 0.2) 0px 1px 5px 0px;
    outline: none;
}

.cy-app-install-demo_selection-container {
    padding: 0.5rem 1rem 0.6rem 1rem;
    font-size: var(--bg-font-size-base);
    font-size: 0.85rem;
    font-weight: 500;
    --border-rad: calc(0.5rem - 1px);
    border-radius: var(--border-rad) 0 0 var(--border-rad);
    transition: all 0.3s linear;
    color: white;
    background-color: #9ea700;
}

.cy-app-install-demo-card__search-container input {
    width: auto;
    font-size: 0.85rem !important;
    border-radius: 0 10px 10px 0 !important;
    border: none;
    box-shadow: none;
    flex-grow: 1;
}

.cy-app-install-demo-card__search-container input::placeholder {
    color: #444;
}

.cy-app-install-nothing_to_display {
    font-size: 23px;
    font-family: var(--inter-sans);
    color: #333;
    padding: 10px;
    margin: 20px auto;
}

.cy-app-install-highlighted-term {
    justify-content: space-between;
    padding: 0 8px;
    border-radius: 0 5px 5px 0;
    background-color: #f5f6e6 !important;
    line-break: anywhere;
    width: -webkit-fill-available;
    margin-right: 0;
    height: 28px;
    overflow-x: hidden;
}

.cy-app-install-highlighted-term span {
    padding-bottom: 4px;
}

.cy-app-install-highlighted-category span {
    padding-bottom: 2px;
}

.cy-app-install-close-button {
    border-color: transparent !important;
    background-color: transparent !important;
    margin-left: 8px;
}

.cy-app-install-select-input-button {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
}

.cy-app-install-options {
    background: #f8f9fa;
    color: black;
}

.cy-app-install-single_searchTerm {
    background-color: var(--bg-steel-100) !important;
    padding: 5px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.cy-app-install-select-highlighted {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.cy-app-install-select-highlighted > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1105px) {
    .cy-app-install-demo-card__hero {
        flex-wrap: wrap;
    }

    .cy-app-install-select-input-button {
        flex-wrap: nowrap;
    }

    .cy-app-install-demo-card__search-container {
        min-width: 68px;
    }

    .cy-app-install-div-wrap {
        flex-wrap: wrap;
    }

    .cy-app-install-select-wrap {
        min-width: 68px !important;

    }

    .cy-app-install-demo-card__search-container input {
        width: 100%;
        min-width: unset;
    }

    .cy-app-install-demo-card__search-container .cy-app-install-input-conditional {
        border-radius: 10px 10px 10px 10px !important;
    }

    .cy-app-install-demo-search_btn {
        bottom: 0px;
        position: absolute;
    }

    .cy-app-install-highlighted-phone {
        width: 100%;
    }

    .cy-app-install-demo_selection-container {
        width: 100%;
        padding: 0.6rem 1.4rem 0.7rem 0.8rem;
        position: relative;
    }

    .cy-app-install-highlighted-term {
        flex-wrap: wrap;
        white-space: wrap;
        overflow-y: scroll;
        border-radius: 0px 10px 10px 0px;
    }
}

@media screen and (max-width: 1275px) {
    .cy-app-install-demo-card--sidebar-optional {
        flex-wrap: wrap;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background: none;
    cursor: pointer;
    font-size: 1em;
}

select::-ms-expand {
    display: none;
}

.select-cy {
    height: 40px;
    position: relative;
    display: flex;
    width: 4rem;
}

.cy-app-install-select-input-button .select-cy {
    height: 40px;
    width: 5rem;
}

.select-cy::after {
    content: '\ea4e';
    position: absolute;
    right: 6px;
    pointer-events: none;
    transition: .25s all ease;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    font-family: 'remixicon', serif !important;
    font-style: normal;
    color: white;
}

.select-cy +div {
    padding-left: 8px;
}

#cy-app-install-autocomplete {
    position: absolute;
    top: calc(100% + 3px);
    left: auto;
    bottom: auto;
    right: 0;
    width: 100%;
    padding: 0.5rem !important;
    padding-right: 1.2rem !important;
}

.cy-app-install-suggestions {
    cursor: pointer;
    height: 30px;
    padding: 6px;

}

.cy-app-install-highlighted-suggestion {
    background-color: #F5F6E6; /* Change background color of highlighted suggestion */
}

.cy-app-install-highlighted-category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a8b01a;
    border-radius: 5px 0 0 5px;
    color: white;
    padding: 0 8px;
    font-weight: 500;
    height: 28px;
}

.cyllo_app_install_company,
.cyllo_app_install_user {
    background: var(--background-color);
}

.cyllo_app_install_company .cy-app-install-sticky,
.cyllo_app_install_company .cy-app-install-demo-card,
.cyllo_app_install_user .cy-app-install-sticky,
.cyllo_app_install_user .cy-app-install-demo-card {
    background: var(--background-color);
}

.cy-appbar__count-label {
    color: #222
}
.cy-hidden {
    display: none !important;
}

.company-logo-upload {
    height: 75px;
    border: 2px dashed #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #fafafa;
    margin: auto;
    border-radius: 15px;
    width: 75px;
}

.avatar-upload {
    position: relative !important;
    max-width: 205px !important;
    margin: 50px auto !important;
    .avatar-edit {
        position: absolute !important;
        right: 12px !important;
        z-index: 1 !important;
        top: 10px !important;
        input {
            display: none !important;
            + label {
                display: inline-block !important;
                width: 34px !important;
                height: 34px !important;
                margin-bottom: 0 !important;
                border-radius: 100% !important;
                background: #FFFFFF !important;
                border: 1px solid transparent !important;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12) !important;
                cursor: pointer !important;
                font-weight: normal !important;
                transition: all .2s ease-in-out !important;
                &:hover {
                    background: #f1f1f1 !important;
                    border-color: #d6d6d6 !important;
                }
                &:after {
                    content: "\f040" !important;
                    font-family: 'FontAwesome' !important;
                    color: #757575 !important;
                    position: absolute !important;
                    top: 10px !important;
                    left: 0 !important;
                    right: 0 !important;
                    text-align: center !important;
                    margin: auto !important;
                }
            }
        }
    }
    .avatar-preview {
        width: 192px !important;
        height: 192px !important;
        position: relative !important;
        border-radius: 100% !important;
        border: 6px solid #F8F8F8 !important;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1) !important;
        > img {
            width: 100% !important;
            height: 100% !important;
            border-radius: 100% !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
        }
    }
}
