.status_bar_dialog {
    cy-arrow-btn:hover {
        border: 1px solid #373627;
    }

    .cy-edit-btn {
        font-weight: 600;
        border: 1px solid #dfdfdf;
    }

    .cy-edit-btn:hover {
        border: 1px solid #373627;
    }

    .cy-btn_stroke,
    .cy-btn_stroke:hover,
    .cy-btn_stroke:focus {
        color: #9EA700;
        border: 1px solid #9EA700;
        margin: 0.4rem 0.2rem;
        font-size: 14px;
    }

    .cy-modal_content {
        border-radius: 4px;
        /*padding: 1rem;*/
        border: none;

    }

    .cy-studio_head {
        padding-left: 1rem !important;
    }

    .cy-modal-title {
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .cy-close_btn {
        font-size: 12px;
    }

    .cy-check_label {
        font-size: 14px;
        color: #505050;
    }

    .cy-modal_label {
        color: #222222;
        font-size: 14px;
        display: block;
        padding: 0.3rem 0;
        font-weight: 600;
    }

    .cy-input-modal {
        border: none;
        border-bottom: 1px solid #dfdfdf;
        border-radius: 0;
        margin-top: 0.3rem;
        //     border-radius: 3px;
        padding: 0.4rem !important;
        font-size: 12px;
        width: 100%;
        position: relative;
    }

    .cy-input-modal-default-value {

        border: 1px solid #dfdfdf;
        margin-top: 0.3rem;
        border-radius: 3px;
        padding: 0.4rem !important;
        font-size: 14px;
        width: 100%;
        position: relative;
    }

    .cy-studio-custom-dropdown-dialog {
        padding: 1px !important;

    }

    .cy-input-modal:focus {
        outline: none;
        border-color: #9EA700;
        box-shadow: none;
    }

    .cy-input-visible-to

    /*Added existing field class for visible field in status bar model */
        {
        border: none;
        border-bottom: 1px solid #dfdfdf;
        border-radius: 0;
        margin-top: 0.3rem;
        padding: 0;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        min-height: auto;
        display: flex;
        align-items: center;
    }

    .o_multi_record_selector {
        width: 100% !important;
        height: 100% !important;
        //     padding: 0.4rem 2rem 0.4rem 0.6rem; /* adjust padding if arrow is overlapping text */
        border: none !important;
        background: transparent;
        box-shadow: none;
    }


    .cy-input-visible-to ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
    }

    .cy-input-visible-to-new-field

    /*Added New class for visible field in status bar model */
        {
        border: none;
        border-bottom: 1px solid #dfdfdf;
        border-radius: 0;
        margin-top: 0.3rem;
        padding: 0;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        min-height: auto;
        display: flex;
        align-items: center;
    }

    .cy-input-visible-to-new-field ul {
        margin-left: -8px;
        width: 449px;
    }


    .cy-drop-down {
        border: none !important;
        /*border: 1px solid #828176 !important;*/
        border-radius: none !important;
        margin-top: 5px;
        border-bottom: 1px solid #dfdfdf !important;
        border-radius: 0;


    }

    .cy-drop-down .o-dropdown {
        width: 100%;
    }

    .cy-drop-down button {
        background-color: #fff;
        border: none;
        width: 100%
    }

    .cy-modal__body .form-check {
        padding: 0px;
    }

    .cy-modal__body .cy-checked-input {
        margin-left: 1rem;
        float: right;
    }

    .cy-studio-modal_subtitle {
        margin: 0.5rem 0;
        font-size: 14px;
    }


    .cy-checked-input:checked {
        background-color: #9EA700;
        border-color: #9EA700;
    }

    .cy-primary_btn:focus,
    .cy-primary_btn {
        background-color: #9EA700;
        color: #fff;
        border-radius: 3px;
        font-size: 14px;
    }

    .cy-primary_btn:hover {
        background-color: #9EA700;
        color: #fff;
    }

    .cy-modal_dialog {
        max-width: 100%;
        padding: 0 !important;
    }

    .cy-modal-close_btn {
        border: 1px solid #dfdfdf;
        color: #505050;
        border-radius: 3px;
        font-size: 14px;
    }

    .cy-modal-close_btn:hover {
        border: 1px solid #dfdfdf;

    }

    .cy-modal__body {
        padding: 1rem;
    }

    .cy-drag-input_container {
        margin-top: 0.3rem;
        display: flex;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        overflow: hidden;
        padding: 0.3rem;
    }

    .cy-drag_edit-btn {
        border: 1px solid #dfdfdf;
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
        font-size: 14px;
    }

    .cy-drag_edit-btn.handle-drag {
        cursor: grab !important;
    }

    .o_multi_record_selector {
        border: none !important;
    }

    .dropdown-toggle::after {

        margin-left: 95%;
    }

    .o-dropdown.dropdown>.o-dropdown--menu {
        margin-left: unset;
        width: 100%;
        max-width: 450px;
        /* or any suitable limit */
        min-width: 200px;
        /* optional */
        box-sizing: border-box;
    }

    .dropdown-item {
        color: #000000 !important;
    }

    .cy-drag_delete {
        background-color: #fff;
        color: red;
        margin-left: 0.2rem;
    }

    .default-new-dropdown {
        display: flex !important;
        position: inherit !important;
        width: 100%;
    }

    .custom-dropdown.o-autocomplete {
        position: relative;
        font-family: var(--inter-sans) !important;

    }

    .custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu .o-autocomplete--dropdown-item a {
        padding: 3px 20px !important;

    }

    .custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu {
        position: absolute !important;
        top: 100%;
        /* place below the input */
        left: 0;
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        z-index: 1000;
        background: white;
        border: 1px solid #dfdfdf;
        border-radius: 4px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .existing_field .custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu {
        left: 0;

    }

    .custom-dropdown.o-autocomplete .d-flex input {
        margin-top: 12px;

    }

    .cy-dropdown_space {
        //   margin-top: 0.2rem;
        //   border-radius: 3px;
        //   padding: 0.4rem;
        font-size: 14px;
        width: 100%;
        position: relative;
        //   border: 1px solid #dfdfdf;

    }

    .option_visible .cy-dropdown_space {
        padding: 4px;
    }


}