.nav_btn{
    float: right;
    background: #4368FA;
    border-radius: 3px;
    border: none;
    color: #fff;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav_btns{
    gap: 20px;
    justify-content: flex-end !important;
}
.create_user_image{
    height: 3rem;
    border-radius: 25px;
}
.document_request_table{
    width: 65%;
}
.document_request_row{
    display: flex;
    justify-content: space-between;
}
.create_req_btn{
    margin-left: 255px;
}
.document_request_name{
    cursor: pointer;
}
.document_req_name{
    width: 100%;
}
.document_req_head{
    margin-left: 1.6rem;
    display: flex;
    align-items: center;
}
.service_req_card{
    width: 80%;
}
.document_req_nav{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 26rem;
}
.o_date_error{
    transition:all .1s linear;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 1rem;
}
.document_request_date{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: end;
    padding-top: 2rem;
}
.state_badge{
    background-color: red;
    color: #fff;
    float: right;
}
.s_website_form_input{
    padding: 0.675rem 0.75rem;
}
.details_input{
    font-weight: 300;
}
.template_preview{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid;
        padding: 15px;
}
.document_request_container{
bottom: 40px
}
.download_doc{
    margin-left: 9px;
    background-color: #685563;
    border-radius: 25px;
    border-color: #685563;
}
