.cy_timepicker-component {
  width: fit-content;
}

.wickedpicker__controls__control-up::before {
  content: "\25B2"; /* Unicode character for an upward-pointing arrow */
  color: black; /* Change the text color */
  font-size: 16px; /* Adjust the font size */
  cursor: pointer; /* Change cursor style on hover */
}

.wickedpicker__controls__control-down::before {
  content: "\25BC"; /* Unicode character for an upward-pointing arrow */
  color: black; /* Change the text color */
  font-size: 16px; /* Adjust the font size */
  cursor: pointer; /* Change cursor style on hover */
}