.btn-primary.o_mobile_barcode {
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
}

.o_hr_attendance_kiosk_mode:has(.o_kanban_view) {
    min-width:100%;
    max-width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;

    .o_control_panel {
        padding-top: 1rem !important;
    }

    .o_control_panel_main {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .o_hr_attendance_back_button_md {
        padding: 8px !important;
        transform: translate(50%, 16%) !important;

        i {
            font-size: 1.5rem !important;
        }
    }

    .o_cp_searchview {
        width: 25% !important;

        .form-control {
            background-color: #edeee6 !important;
            border: 2px solid transparent !important;

            & * {
                background-color: transparent !important;
            }
        }

        .form-control:has(input:focus-visible) {
            border: 2px solid #858900 !important;
        }

        input:focus-visible {
            outline: none !important;
        }
    }

    .card-body {
        padding: 0 !important;
    }

    .o_hr_attendance_kiosk_company_image {
        display: none !important;
    }

    .card-body h2:has(small) {
        display: none !important;
    }

    .o_kanban_renderer {
        min-height: 100vh !important;
        max-width:unset !important;
        max-height: 100vh !important;
        background-color: #edeee6 !important;
    }

    .oe_kanban_global_click {
        padding: 0 !important;
        display: flex !important;
        align-items: center !important;
        border-radius: 10px;
        overflow: hidden;
    }

    .oe_kanban_details {
        padding: 0 !important;
    }

    .o_kanban_image {
        width: 100px !important;

        img {
            min-width: 100px !important;
            max-width: 100px !important;
            height: 100px !important;
            object-fit: cover !important;
        }
    }

    .o_search_panel {
        max-height: unset !important;
        width: var(--SearchPanel-width, 275px) !important;

        &.pe-1 {
            padding-right: 1rem !important;
        }

        li {
            background-color: #f2f3ee !important;
            border-bottom: 2px solid white !important;
        }

        .o_search_panel_category_value header {
            padding: 8px 12px !important;
            background-color: transparent !important;
        }

        .o_search_panel_category_value:has(header:hover) {
            background-color: #edeee6 !important;
        }
    }

}