.o_input_search {
  height: 35px;
  width: 420px;
  background: #6282FF;
  border: none;
  padding: 0 0.8rem;
  font-size: 1rem;
  border-radius: 2px;
  color: #ffff;
  padding-left: 36px;
}

.o_input_search {
  position: relative;
}

.o_input_search::placeholder {
  color: #FFFFFF;
  font-size: 12px;
  margin-left: 2rem;

}

.o_menu_list {
  padding: 0.6rem 1rem;
  width: inherit;
}

.o_menu_list a {
  color: #3C4D62;
  font-size: 0.9rem;
}

.dropdown-item:has(.selectedapp) {
  background: #dfdfdf;;
}

.o_global_search_menu .dropdown-toggle {
  width: 100%;
}

.o_global_search_menu .dropdown-toggle:hover {
  background-color: unset;
}

.o_global_search_menu {
  position: relative
}

.o_global_search_menu:before {
  content: url('/cyllo_base/static/src/img/cy_search_icon.svg');
  position: absolute;
  left: 10px;
  font-size: 16px;
  z-index: 11111;
  color: #fff;
  bottom: 3px;
}

.o_main_navbar .o_menu_systray .dropdown.show > .dropdown-toggle, .o_main_navbar .o_menu_sections .dropdown.show > .dropdown-toggle {
  background-color: unset;
}

.o_main_navbar .o_menu_systray .o_nav_entry:hover, .o_main_navbar .o_menu_systray .dropdown-toggle:hover, .o_main_navbar .o_menu_sections .o_nav_entry:hover, .o_main_navbar .o_menu_sections .dropdown-toggle:hover {
  background-color: transparent !important;
}

.o_global_search_menu .o-dropdown--menu {
  position: fixed;
  top: 58.7926px;
  width: 420px;
}

.o_global_search_menu .o-dropdown--menu {
  position: absolute !important;
  top: 42px;
  left: 0 !important;
}

.systray_div .o_global_search_menu button {
  position: relative;
  padding-left: 0 !important;
}

.systray_div .o_global_search_menu .o-dropdown--menu {
  position: absolute !important;
  top: 42px !important;
  left: 0 !important;
}

.cy-search_suggestion-list.active {
  background: #F1F1F1;
}

.cy-search_modal-content .cy-sidebar-nav:hover {
  background: #f1f1f1;
}

.o_searchview_input_container .cy-search.focused{
  background: #EAEAEA;
}

.o_main_navbar .navbar-nav .nav-item:nth-child(2){
  z-index: 3;
}

.cy-global_search_container{
  background: #EAEAEA;
  border-radius: 6px;
  border-bottom: unset !important;
  z-index: 3;
}