#add_field {
    margin-left: 34% !important;
}
#edit_field {
    margin-left: 34% !important;
}
.group1 {
    display: inherit;
    margin-left: 10%;
    margin-right: 10%;
}
.group2 {
    margin-left: 10%;
}
.group2 .o_wrap_input {
    margin-left: 20%;
    margin-top: 3%;
}
.xml_id {
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #f5f5f5;
}
