.flow-container {
    width: 65%; /* Adjust to use 65% of the available width */
    max-width: 1200px; /* Set a maximum width for larger screens */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding for better content spacing */
    background-color: #fff; /* Optional: Background color */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add subtle shadow */
    border-radius: 8px; /* Optional: Rounded corners for better appearance */
}

h2, h3, h5, h6, table {
    font-family: 'Kanit', sans-serif !important;
}
th{
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

#flow_name {
    font-weight: 600;
    font-size: 3rem;
}
.screen_name {
    font-weight: 600;
    font-size: 1.8rem;
}
.content_label{
    font-weight: 600;
    font-size: 1.25rem;
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.border-primary {
    color: #7e8600 !important
}