.select-user-spreadsheet-modal {
    .spreadsheet-access-view {
        font-family: Arial, sans-serif;
        margin-top: 10px;
    }

    .spreadsheet-record {
        margin-bottom: 20px;
    }

    .record-name {
        font-size: 1em;
        margin-bottom: 10px;
    }

    .access-list table {
        width: 100%;
        border-collapse: collapse;
    }

    .access-list th, .access-list td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .access-yes {
        color: green;
        font-weight: bold;
        border: 1px solid #dfdfdf;
    }

    .access-no {
        color: red;
        font-weight: bold;
        border: 1px solid #dfdfdf;
    }

    .share-modal-dropdown {
        .o-dropdown.dropdown {
            border-bottom: 1px solid #dfdfdf;
            width: 90px;
            padding-left: 4px;
            border-radius: 6px;
        }

        button {
            border: unset;
            background: transparent;
        }
    }

}

.o_cy_spreadsheet_kanban_view .o_control_panel .o_control_panel_breadcrumbs {
    margin-top: 8px;
}

.cursor-pointer {
    cursor: pointer;
}

.c_spreadsheet_container .o-topbar-topleft {
    align-items: center;
    transform: translateX(24px);
}

.spreadsheet-name-span {
    display: flex;
    align-items: center;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #FAFAFA;
    height: 95%;
}

.o_kanban_record:has(.cy_sheet_kanban) {
    height: auto;
    max-width: 220px !important;
}

.cy_sheet_kanban .o_kanban_attachment .o_kanban_image + div {
    padding-left: 0 !important;
    text-align: center !important;
}

.cy_sheet_kanban .o_kanban_attachment .o_kanban_image {
    width: fit-content !important;
}

.cy_sheet_kanban .o_kanban_image {
    margin-bottom: 16px;
}

.cy_sheet_kanban .o_kanban_record .o_kanban_image img {
    height: 135px;
}

.doc_btn_container {
    padding-bottom: 14px;
    padding-top: 4px;
    border-bottom: 1px solid #dfdfdf;
}

.cy-doc-type-img {
    width: 16px;
    height: 16px;
}

.o_cy_spreadsheet_kanban_view {
    .o_kanban_record {
        flex-direction: column;
    }

    .kanban_document {
        padding: 0 !important;
        padding-top: 4px !important;
    }

    .kanban_document:hover {
        border: 1px solid #9EA700 !important;
    }

    .kanban_document .o_kanban_record {
        max-width: unset !important;
    }

    .document_image {
        border: 1px solid #dee2e6aa !important;
        border-radius: 12px !important;
    }

    .document_image,
    .o_kanban_attachment,
    .o_kanban_image,
    .o_kanban_image_wrapper,
    .o_kanban_image_wrapper > img:not(.dummy) {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
        height: 200px !important;
        overflow: hidden;
    }

    .cy_sheet_kanban .o_kanban_record {
        margin-top: 1px !important;
    }

    .cy_sheet_kanban .o_kanban_image_wrapper > img:not(.dummy) {
        object-fit: none;
        padding-top: 0 !important;
    }

    .o_kanban_image_wrapper:has(img.dummy) {
        min-height: 180px !important;
        background-color: #f3f5ee;
        border-radius: 4px !important;
        height: 200px !important;
    }

    .o_kanban_image_wrapper > img.dummy {
        object-fit: contain;
        border: none !important;
        height: 50px !important;
    }

    .kanban_document .ribbon-top-right {
        margin-top: unset !important;
    }

}

.kanban_document .ribbon-top-right {
    margin-top: -8px !important;
}

.o_kanban_renderer .o_kanban_record .kanban_document div.no-border {
    height: auto !important;
}

.cy-spreadsheet-main .o_kanban_attachment {
    height: unset !important;
}

.o_kanban_record:has(.cy_sheet_kanban.cy-spreadsheet-main) {
    height: unset !important;
}

.text-wrap-it-lg {
    text-overflow: ellipsis;
    max-width: 590px;
    overflow: hidden;
}

.text-wrap-it {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    font-size: 14px;
    font-weight: 500;
}

.no-border {
    border: unset !important;
}

.spreadsheet_name {
    max-width: 20vw;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 16px;
}

.spreadsheet-back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 8px;
    height: 23.5px !important;
    padding: 0 6px;
}

.spreadsheet-back-button:hover {
    background-color: #EBEBEB;
    border-radius: 5px;
}

[data-darkreader-scheme="dark"] {
    .o-spreadsheet {
        canvas {
            background-color: #FAFAFA !important;
        }

        .o-grid-composer {
            background-color: transparent !important;
            span {
                color: black !important;
            }
        }

        .o-composer-container .o-composer {
            caret-color: black !important;
        }
    }

    .select-user-spreadsheet-modal {
        .share-modal-dropdown div {
            color: white;
        }

        .share-modal-dropdown .o-dropdown.dropdown {
            border-radius: 0 !important;
        }
    }
}
