$theme-color1: var(--dashboard-theme-color-2);
$theme-color2: var(--dashboard-theme-color-3);
$theme-color0: var(--dashboard-primary-color);

.popup-button {
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: calc(0.4vw + 0.1vh + 0.5vmin);
    border-radius: 18px;
    margin: 10px;
    padding: 5px 15px;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background-image: linear-gradient(to right, $theme-color1 0%, $theme-color0 50%, $theme-color2 100%);
    transition: 0.5s;

    &:hover {
        background-position: right center;
        color: #000000
    }
}

@media (max-width: 1480px) {
    .popup-button {
        font-size: calc(0.3vw + 0.3vh + 0.3vmin);
        margin: 5px;
    }
    .ai-chat-text-area-container {
        height: 50px;
    }
}

.ai-insight-btn-container {
    bottom: 0;
    left: 0;
    margin: 10px;
    border-radius: 15px;
}

.ai-btn-class {
    cursor: pointer;
}

.popup-button span {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    letter-spacing: 0.2px;
}

.explain-ai-modal-text, .close-icon-modal {
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.explain-ai-modal-text, .present-tool-tip-header, .font-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

.modal-dialog .explain-ai-modal .modal-header {
    background: white;
    border-radius: 8px 8px 0 0;
}

.align-class-ai {
    bottom: 0;
    padding: 5px 15px;
    font-size: calc(0.5vw + 0.5vh + 0.5vmin);
}

.explain-ai-modal {
    border-radius: 10px;
}

.explain-ai-child-container .card {
    border: none;
}

.explain-ai-child-container .text-area {
    padding: 5px;
    margin-right: 40px;
    border-right: 1px solid #dfdfdf;
}

.loading-chat {
    align-items: center;
    display: flex;
    justify-content: start;
}

.loading__dot {
    animation: dot ease-in-out 1s infinite;
    background-color: grey;
    display: inline-block;
    height: 6px;
    margin: 3px;
    width: 6px;
}

.loading__dot:nth-of-type(2) {
    animation-delay: 0.2s;
}

.loading__dot:nth-of-type(3) {
    animation-delay: 0.3s;
}

@keyframes dot {
    0% {
        background-color: grey;
        transform: scale(1);
    }
    50% {
        background-color: $theme-color0;
        transform: scale(1.3);
    }
    100% {
        background-color: grey;
        transform: scale(1);
    }
}

.ai-chat-avatar span {
    padding: 10px;
    border: 1px solid var(--dashboard-primary-color);
    border-radius: 50%;
}

.ai-chat-avatar span.ri-user-line {
    color: var(--dashboard-primary-color);
}

.ai-chat-avatar span.ri-bard-line {
    background-color: var(--dashboard-primary-color);
    color: white;
}

.max-width-restrict {
    max-width: 75%
}

.tools-chat-ai-explain {
    position: absolute;
    border-radius: 8px;
    min-width: 80px;
    padding: 4px;
    bottom: -14px;
    right: -14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#copy_text_message {
    background: #9cf69c;
    padding: 4px;
    border-radius: 5px;
}

.w-89p {
    width: 89%;
}

.ai-explain-group {
    gap: 2px;
    margin-top: 5px;
    .chat-text-container {
        border: 1px solid #dfdfdf;
        padding: 16px;
        border-radius: 16px;
        margin-right: 8px;
        margin-left: 8px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

}
.mb-proxy {
    margin-bottom: 42px
}

.ai-heading-gradient {
    background: linear-gradient(-45deg, #cd2a00, #e73c7e, #00739a, #6a7002);
    background-size: 400% 400%;
    animation: ai-gradient 8s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@keyframes ai-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.ai-tools-container .btn:hover {
    background: var(--dashboard-primary-color) !important;
    color: white !important;
}

.explain-text-container {
    font-size: 1rem;
    overflow-wrap: anywhere;
}

.ai-chat-tools {
    display: none;
}

.ai-explain-group:hover {
    .ai-chat-tools {
        display: flex
    }
}

.explain-ai-child-container .chat-container {
    margin-right: 40px;
    padding-right: 4px;
    display: flex;
    justify-content: center;
}

.w-95 {
    width: 95%
}

textarea.chat-more-ai-analytics{
    display: block;
    box-sizing: padding-box;
    overflow-y: scroll;
    padding: 10px;
    font-size: 16px;
    border: 0;
    resize: none;
    width: 90%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow:
         rgba(0, 0, 0, 0.16) -1px -1px 4px,  /* Top shadow */
         rgba(0, 0, 0, 0.16) -1px 1px 4px,   /* Left shadow */
         rgba(0, 0, 0, 0.16) 0px 4px 4px;    /* Bottom shadow */

    &:focus{
        border: none;
        outline: none;
    }
}

.explain-ai-modal .modal-body {
    overflow: hidden !important;
}

.explain-text-container p:last-child {
    margin: 0;
}
.ai-send-button-div {
    width: 10%;
    background: var(--dashboard-primary-color);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    box-shadow: var(--dashboard-primary-color) 1px -1px 0px, var(--dashboard-primary-color) 1px 1px 0px;
}
.ai-analytics-graph-container {
    min-height:70vh;
    max-height: 50vh;
    display: flex;
    align-items: center;
    .cy_dashboard_chart {
        width: 100%
    }
}

.w-80px {
    width: 80px;
}

.ai-analytics-graph-container .card.cy_dashboard_chart {
    margin-top: unset !important;
}