div[name="favicon"] img{
    width:100px;
}

.o_action_manager:has(.o_website_preview.editor_enable) {
    & > :nth-child(2) {
        margin-left: 0 !important;
    }

    .cy_dashboard_back-btn,
    .cy-submenu-logo,
    .menuListFixed .cy-left-sidebar,
    .cy-left-sidebar-nav {
        width: 0 !important;
        overflow: hidden !important;
        z-index: 0 !important;
    }

}
