.whatsapp_preview {
  background: url("/cyllo_whatsapp/static/images/background.jpg");
  max-width: 370px;
}

.whatsapp_preview .whatsapp_message {
  border-radius: 9px;
  background-color: #ffffff;
  border-top-left-radius: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1;
  float: left;
  word-break: break-all;
  color: #000;
  position: relative;
}

.preview {
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 3rem;
}

.whatsapp_preview .whatsapp_message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: -7px;
  top: 0;
  border-color: transparent #ffffff;
  border-style: solid;
  border-width: 0px 9px 9px 0;
}

.whatsapp-foot_time {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.whatsapp_footer {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}