.colorpicker-component {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.colorpicker-component .colour-picker-square {
    width: auto;
    aspect-ratio: 1;
    border: none;
    padding: 4px !important;
    background: transparent !important;
}