.field_service-request_container {
    height: 10vh;
    padding: 1rem 1.6rem;
    background: #f5f6e6;
    font-family:var(--fira-family);
    margin-bottom: 84px !important;
}
.field_service-request-request_heading {
    margin-top:1rem;
    margin-bottom: 0px;
    font-weight: 500;
}
.cyllo-dashboard-container{
    margin: 2rem;
    background-color: white;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 2px 0px;
}
.field_service-request_form {
    margin: 1.2rem 0 1rem 0;
    width: 90%;
}

.create_ticket_btn{
    margin-left: 255px;
}
.create_user_image{
    height: 3rem;
    border-radius: 25px;
}
.wrap_background{
    background:none !important;
}
.o_portal_fs_service_request{
    height: 100%;
}
.field_service_description{
    transform: translateY(-84%);
    margin-left: 25%;
}
.property_container_style{
    border: 1px solid #e2e5b3;
    border-radius: 88px 24px;
    margin-bottom: 21px;
}
.heading_align-style{
    margin-left:25%;
    transform: translateY(-56px);
}
.field_request-label {
    margin: 1rem 0;
    font-weight: 600;
}
.o_cyllo_service_date{
     width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: end;
    padding-top: 2rem;
}
.field_service-request_input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 0;
    border: 1px solid hsl(213, 22%, 84%);
    font-family: "Fira Sans", sans-serif;
    transition: all 0.3s linear;
    font-size: 0.9rem;
    border-radius: 2px;

    &:focus {
        box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.3s linear;
        border: 1px solid #3E54D5;
        outline: none;
    }
}

.cy-button-primary-stroke {
  border-radius: 2px;
  border-top: 1px solid #4B9212;
  border-right: 1px solid #4B9212;
  border-bottom: 1px solid #4B9212;
  border-left: 1px solid #4B9212;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  background: #5EB717;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 0.5rem 1rem;
  text-shadow: 1px 1px #4B9212;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0px;
    height: 2px;
    background-color: #7EC545;
    left: 0px;
  }
  &:focus {
    outline: none;
  }

}
.cy-button-primary-stroke:hover {
  color: #fff;
}

.cy-button-primary-stroke:focus {
  box-shadow: none;
  border-color: #2A3779;
}

.cy-field_service_submit{
    margin-top: 1rem;
    padding: 0.5rem 1.7rem;
    font-size: 0.9rem;
}
