.cy-avatar-dialog {
    .cy-studio-custom-dropdown-dialog-avatar{
        position: relative;
        margin-top: 16px;

    .custom-dropdown .d-flex input {
        color: #495057 !important;
    }

    .custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu {
        left: 0px !important;
        min-width: 100% !important;
        width: 100% !important;
        top: calc(100% + 4px) !important;
        max-height: 200px !important;
        overflow-y: auto;
        z-index: 9999;
    }
    }
    .form-check{
        padding-left: 2.2rem !important;
        }

    .cy-input-modal{
        border: none;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 10px;
    }
    .cy-input-modal:hover{
        border-bottom: 1px solid #96b500 !important;
        }

.new_field_prop{
    margin-left:1.2rem;
    width:40%;

    }
}
.modal-content {
    min-height:30% !important;
}

.cy-studio-avatar-dialog .o_dialog .d-block .modal-dialog .modal-content .modal-body{
    overflow:unset !important;
    }