.whatsapp_navbar {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #009688;
}

.whatsapp_container {
    position: relative;
    max-width: 100%;
    height: calc(100vh - 20px);
    background: #fff;
    display: flex;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 2px 5px 0 rgba(0, 0, 0, 0.6);
    margin: 1rem auto 0 auto;
}

.whatsapp_left_container {
    position: relative;
    width: 40%;
    height: 100%;
    flex: 30%;
    background: #fff;
}

.whatsapp_right_container {
    position: relative;
    width: 60%;
    height: 100%;
    flex: 70%;
    background: #e5ddd5;
    background-image: url("/cyllo_whatsapp/static/images/background.jpg");
}

.whatsapp_chat_history {
    height: 80vh !important;
}

.whatsapp_top_bar {
    height: 8%;
    background: #f0f2f5;
}

.partner_image {
    width: 12%;
}

.whatsapp_image_preview_container {
    position: relative;
    height: calc(100vh - 215px);
    top: 25px;
}

.whatsapp_image_preview {
    height: 50%;
    width: 50%;
    object-fit: contain;
    max-width: 35vw;
}

.whatsapp_welcome {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.whatsapp_left_container .o-dropdown .dropdown-toggle {
    width: 100%;
}

.whatsapp_message {
    border-radius: 8px;
    max-width: 400px;
}

.whatsapp_composer_icons i {
    font-size: 16px;
    opacity: 75%;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        opacity: 100%;
    }
}

.side_button {
    border: 1px solid black;
    color: black;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 0.2rem;
}

.side_button:hover {
    background-color: rgb(113, 99, 158);
    color: white;
}

.config_div {
}

.config_div:hover {
    background-color: rgb(225, 231, 237);
}

.config_border {
    border: 1px solid var(--o-input-border-color);
    border-width: 1px 0 0 1px;
}

.config_border_above {
    border: 1px solid var(--o-input-border-color);
    border-width: 2px 0 0 1px;
}

.config_border_down {
    border: 1px solid var(--o-input-border-color);
    border-width: 0 0 2px 0;
}

.updt_button {
    text-align: right;
    margin-right: 1%;
}


.chatbox-main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.chatbox-left {
    min-width: 380px;
    border-right: none;
}

.chatbox-left-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.chatbox-left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.chatbox-user-active {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: rgb(42, 181, 125);
    margin-left: 0.25rem;
}

.chatbox-userimg {
    width: 2rem;
    height: 2rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.chatbox-user-name {
    font-size: 16px;
    margin-bottom: 0.25rem;
    text-decoration: none;
    font-weight: 500;
}

.chatbox-status-txt {
    color: rgba(49, 53, 51, 0.75);
}

.chatbox-dots-dropdown .btn,
.chatbox-dots-dropdown .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.chatbox-dots-dropdown .btn.show {
    border-color: transparent;
}

.chatbox-dots-dropdown .dropdown-toggle::after {
    content: none;
}

.checkbox-search {
    font-size: 16px;
    position: absolute;
    left: 13px;
    top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ch-search-box .chatbox-inputbox {
    padding-left: 40px;
}

.dropdown-search-chat {
    width: 240px;
}

.tab-ul-bg {
    background: #f4f4f7;
}

.chatbox-nav-link {
    background: transparent;
    color: #313533;
    font-weight: 500;
}

.nav-pills .chatbox-nav-link.active {
    background: #fff;
    color: #5156be;
}

.nav-pills .chatbox-nav-link:hover {
    color: #5156be;
}

.chatbox-chat-list {
    height: calc(100vh - 406px);
    overflow-y: auto;
}

.chat-content {
    font-size: 0.875rem;
    font-weight: 500;
    color: #121212;
}

.chat-list-container {
    list-style: none;
    padding: 0;
    font-family: var(--inter-sans);
}

.chat-list-container li.active .chat-textbox {
    background-color: rgba(81, 86, 190, 0.075);
    border-color: transparent;
}

.chat-textbox {
    display: block;
    padding: 14px 16px;
    color: rgba(49, 53, 51, 0.75);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-top: 1px solid #e9e9ef;
    text-decoration: none;
    position: relative;
}

.chat-textbox:hover {
    color: rgba(49, 53, 51, 0.75);
}

.chat-list-container li .user-img {
    position: relative;
}

.chat-list-container li .user-img .user-status {
    width: 10px;
    height: 10px;
    background-color: #adb5bd;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.chat-list-container li .user-img.online .user-status {
    background-color: #2ab57d;
}

.chat-user-name {
    font-size: 14px;
    color: #313533;
}

.chat-user-msg {
    font-size: 14px;
}

.chat-time {
    font-size: 11px;
}

.chat-list-container li.unread p,
.chat-list-container li.unread .chat-time {
    font-weight: 600;
    color: #212529;
}

.chat-list-container li .unread-message {
    position: absolute;
    display: inline-block;
    right: 16px;
    top: 33px;
}

.avatar-sm {
    height: 2rem;
    width: 2rem;
}

.avatar-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    background-color: #b9bbe5;
    color: rgb(81, 86, 190);
}

.chat-list-container li .user-img.away .user-status {
    background-color: #ffbf53;
}

.chat-list-container li a:hover {
    background-color: rgba(81, 86, 190, 0.075);
    border-color: transparent;
}

.group-chat-name {
    font-size: 14px;
    color: #313533;
    font-weight: 500;
}

.contact-list-name {
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(49, 53, 51, 0.75);
    font-weight: 600;
    margin-bottom: 7px;
}

.contact-prsn-names {
    font-size: 14px;
    color: #313533;
}

.avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.chatbox-right .avatar-img img {
    width: 100%;
    height: inherit;
}

.chatbox-right a {
    text-decoration: none;
}

.user-chat-nav .dropdown .nav-btn {
    height: 36px;
    width: 36px;
    line-height: 36px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    font-size: 18px;
}

.wa_message_count {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #9EA700;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

.chatbox-right .chatting-container {
    overflow-y: auto;
    height: 78vh;
    background-image: url("/cyllo_whatsapp/static/images/chat-bg (1) 1 (1).png");
}

.chat_whatsapp {
    height: 100%;
}

.chatting-container .chat-day-title {
    position: relative;
    text-align: center;
    margin-bottom: 24px;
    border: none;
}

.chatting-container .chat-day-title:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #e9e9ef;
    top: 10px;
}

.chatting-container .chat-day-title .title {
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 6px 24px;
    font-size: 14px;
    font-family: var(--inter-sans);
}

.msg-lists {
    margin-bottom: 24px;
    position: relative;
}

.text-mg-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.mg-wrapper-content {
    padding: 10px 2px 0 2px;
    background-color: #F5F5F5;
    border-radius: 0 8px 8px 8px;
    color: #121212;
    position: relative;
    margin-left: 16px;
    min-width: 40px;
}

.chat-reply .dropdown {
    z-index: 1;
    left: -5px !important;
}

.chatting-container .msg-lists .mg-wrapper-content:before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-right-color: #F5F5F5;
    border-top-color: #F5F5F5;
    left: -10px;
    top: 0;
}

.mg-wrapper-content p {
    margin-bottom: 0;
}

.conversation-name {
    margin-bottom: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.mg-wrapper-content p {
    font-size: 14px;
    text-align: left;
}

.conversation-name .user-name {
    color: rgba(255, 255, 255, 0.5);
}

.conversation-name .conv-time {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 8px;
    font-weight: 400;
}

.menu-dropdown .dropdown-toggle:after {
    display: none;
}

.menu-dropdown .dropdown-toggle {
    font-size: 17px;
    padding: 8px;
    color: #74788d;
}

.chat-list-container li .menu-dropdown a:hover {
    background: none;
}

.chat-list-container .chat-reply .msg-lists {
    float: right;
    text-align: right;
}

.chat-list-container .chat-reply .msg-lists .text-mg-wrapper .mg-wrapper-content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    background-color: #F6F8DB;
    text-align: right;
    border-radius: 8px 0 8px 8px;
    margin-left: 0;
    margin-right: 16px;
    color: #313533;
}

.chat-list-container .chat-reply .msg-lists .text-mg-wrapper .conversation-name .conv-time,
.chat-list-container .chat-reply .msg-lists .text-mg-wrapper .conversation-name .user-name {
    color: rgba(49, 53, 51, 0.75);
}

.chat-list-container .chat-reply .msg-lists .text-mg-wrapper .mg-wrapper-content:before {
    border: 5px solid transparent;
    border-top-color: #F6F8DB;
    border-left-color: #F6F8DB;
    left: auto;
    right: -9px;
}

.chat-list-container li {
    clear: both;
}

.chat-list-container .chat-reply .msg-lists .text-mg-wrapper .conversation-name {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.msg-lists img {
    max-width: 140px;
}

.chatbox-inputbox {
    background-color: white;
    padding: 13px 13px 13px 30px !important;
}

.chatbox-inputbox:focus {
    background-color: white;
    -webkit-box-shadow: 0 0 0 0.15rem rgba(81, 86, 190, 0.25);
    box-shadow: 0 0 0 0.15rem rgba(81, 86, 190, 0.25);
}

.search-partner .o-dropdown--menu {
    left: 15.9%;
    width: 18.9%;
}

.w-md {
    min-width: 110px;
}

.icon-style {
    color: #74788d;
}

.chat-send {
    background-color: #5156be;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chat-send:hover,
.chat-send:active:focus,
.chat-send:focus {
    background-color: #4549a2;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.chat-input {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    z-index: 2;
}

.search-partner .o-dropdown .dropdown-toggle {
    border: none;
    width: 100%;
    /* white-space: nowrap; */
}

.profile-option .o-dropdown .dropdown-toggle {
    border: none;
    background-color: white;
}

.voice-recording {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.ri-double-line-read {
    color: #4692DD;
}

.msg-lists .dropdown {
    display: none;
    top: -3px;
    right: -12px;
}

.mg-wrapper-content:hover .dropdown {
    display: block;
}

.msg-lists .dropdown i {
    color: #121212;
}

.chat-reply .msg-lists .dropdown i {
    color: #74788d;
}

.cy_whatsapp_message {
    padding: 1px 4px;
}

.whatsapp_composer_icons {
    font-size: 18px;
    align-items: center;
}

.o-dropdown:has(.ri-whatsapp-line) .badge {
    background-color: var(--primary) !important;
    color: #fff;
    font-size: 9px;
    padding: 0.25em 0.82em;
    line-height: 1.1;
}

.whatsapp-partner-profile:hover {
    background: #F5F6E6;
}

.whatsapp-partner-profile.active {
    background: #FEFFEB;
    border-right: 3px solid var(--primary);
}

.msg-lists span {
    font-size: 12px;
    margin-left: 16px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.75rem;
    color: #adb5bd;
    margin-right: 17px;
    margin-top: 0.3125rem;
}

.msg-lists .mg-wrapper-content .fa-ellipsis-v:before {
    content: "\ea50";
    font-size: 26px;
}

.chat-online {
    color: #828176;
    font-size: 0.79rem;
}

.profile-option a:hover, .profile-option a:focus {
    background-color: unset;
}

.cy-whatsapp-user-form .o_wrap_field:nth-child(2) {
    width: 100%;
}

.search-partner {
    padding: 0 16px 16px 16px;
}

.chat-input .chatbox-inputbox {
    border: none;
    background: unset;
    padding: 0 !important;
}

.cy-input-chat-container {
    border: 1px solid #DFDFDF;
}

.chat-input .chatbox-inputbox:focus {
    bottom: 0;
    box-shadow: none;
}

.cy-whatsapp-chat-input-box {
    padding: 10px;
}


@media (max-width: 992px) {
    .chatbox-main-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .chatbox-left {
        width: 100%;
        min-width: unset;
    }
}