.cy_search_view + div{
    display: none;
    }
.cy-search-modal-body .customCheckbox{
    display:none;
    }
.cy_search_view .form-check{
    padding-left: 3.2rem !important;
    }
.cy_search_view .form-check .form-check-input{
    background-color:#f5f5f5 !important;
    }
.cy_search_view .form-check .form-check-input:checked{
    background-color: #9EA700 !important;
    border-color: #6F7500 !important;
    }
.light-studio-mode .view_overall_light .button_properties .cy-input, .light-studio-mode .view_overall_light .cy-studio-custom-dropdown,.light-studio-mode .view_overall_light .button_properties .cy-studio-custom-dropdown .d-flex {
    background-color: white !important;
    }
.cy-drag-input_container .cy-drag_edit-btn{
    background-color: #f5f5f5 !important;
    border: 1px solid #dfdfdf !important;

    i{
        color:#495057 !important;
        }
    }
.o_action:has(.cy_search_view) {
        height: 96vh !important;
    }