.o_mass_mailing_iframe .o_mail_theme_selector_new {
    background: #fff;
}

.o_mass_mailing_iframe .o_mail_theme_selector_new .o_mailing_template_message {
    color: #505050 !important;
    margin-bottom: 1%;
}

.o_mail_theme_selector_new .dropdown-item .text-white {
    color: #505050 !important;
    font-size: 14px !important;
    font-weight: 500;
    margin: 0px;
    padding: 0.4rem 0;
}

.o_mail_theme_selector_new .dropdown-item:hover {
    background-color: #fff !important;
}

.o_mail_theme_selector_new .dropdown-item .o_thumb {
    box-shadow: none !important;
    border: none !important;
}

.o_mail_theme_selector_new .dropdown-item {
    border-radius: 6px;
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 2px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    background-color: #fff;
    color: #505050;
    font-weight: 600;
    font-size: 13px;
    width: 24% !important;
    margin-right: 1%;
    max-width: 100% !important;
    margin-bottom: 10px;
}