.o_frontend_to_backend_nav::before {
    border-top: 20px solid #9EA700FF;
    border-left: 20px solid #9EA700FF;
}

.o_frontend_to_backend_nav .o_frontend_to_backend_apps_btn {
    background-color: #9EA700FF;
    border-color: unset;
}

.o_frontend_to_backend_nav .o_frontend_to_backend_apps_btn:hover {
    background-color: #849600;
}

.o_tour_pointer .o_tour_pointer_tip {
    background-image: radial-gradient(circle, var(--primary-color), var(--primary));
}