[data-darkreader-scheme="dark"] {
    .o_content > div {
        background-image: initial;
        background-color: #0f110a !important;
    }

    .o_datetime_picker .o_date_picker {
        background-color: #0f110a !important;
        color: rgb(209, 205, 199);
    }

    .bg-100,
    .o-mail-MessageReactionMenu-persona:not(.o-isDeviceSmall):hover button.fa-trash:hover,
    .text-bg-100 {
        background-color: var(--darkreader-bg--background-color) !important;
    }

    .bg-view,
    .text-bg-view {
        --darkreader-bg--background-color: #0f110a;
        background-color: var(--darkreader-bg--background-color) !important;
    }

    .o-mail-ChatWindow {
        background: black;
    }

    .bg-info-light {
        background-color: rgba(151, 205, 227, 1) !important;
    }

    .o_action,
    .cy-top-section,
    .breadcrumb,
    .o_content,
    .o_action_manager,
    .o_control_panel,
    .o_form_renderer .o_form_sheet_bg,
    .o_form_sheet,
    .o_notebook .nav,
    .o_modules_field .o_kanban_renderer,
    .o-mail-Chatter,
    .o-mail-Chatter-content,
    .nav-tabs .nav-link.active,
    .ch-search-box,
    .o_list_renderer .o_list_table tbody tr,
    .o_list_renderer tfoot,
    .o_graph_canvas_container,
    .o_onboarding_main,
    .o_calendar_sidebar_container,
    .o_timeoff_dashboard,
    .cy-social_postHead,
    .cyllo_title_social,
    .cyllo_container_social,
    .cyllo_container_social .cy-main,
    .cyllo_container_social .cy-dashboard-container,
    .o_kanban_renderer.o_kanban_grouped .o_column_quick_create,
    .o_action_manager .o_form_view_container .o-setting-container .settings-tab,
    .o_kanban_renderer.o_renderer.o_kanban_ungrouped,
    .dash_searchbar input[type="text"],
    .border-box-tools,
    .cy_sheet_nav_bar,
    .cy_dashboard_sheet .sidebar,
    .cyllo-background,
    .cy-sheet-filter_container,
    .cy-listView-table tbody tr:nth-child(2n),
    .o_spreadsheet_dashboard_action .o_control_panel .o_control_panel_actions,
    .o-spreadsheet-topbar,
    .o-spreadsheet-topbar .o-topbar-composer,
    .o-scrollbar,
    .o-spreadsheet-bottom-bar,
    .o_content > div.o_grid_renderer,
    .cy_grid_renderer,
    .o_configurator_container,
    .o_rightpanel .o_rightpanel_section .o_form_view .oe_button_box,
    .o_navbar .o_main_navbar {
        background-color: #0f110a !important;
    }

    .o_kanban_renderer .o_kanban_record > div:not(.o_dropdown_kanban),
    .o_kanban_renderer .o_kanban_quick_create,
    .auto-card,
    .o_social_media_card,
    .o_social_media_posts,
    .o_account_card,
    .o_post_item,
    .o_kanban_record_bottom .o_field_label_selection span,
    .cy-o_field_label_selection span,
    .o_list_renderer .o_list_table thead tr,
    .dropdown-menu,
    .o_calendar_renderer,
    .chatbox-inputbox,
    .modal-content,
    .modal-header,
    .modal-footer,
    .o-mail-ActivityListPopover,
    .o-mail-ActivityListPopover .o-mail-ActivityListPopoverItem,
    .o_calendar_renderer .o_calendar_widget .fc-head-container,
    .o_calendar_renderer .o_calendar_widget .fc-timeGridDay-view div.fc-day-grid,
    .o_calendar_renderer .o_calendar_widget .fc-timeGridWeek-view div.fc-day-grid,
    .o_datetime_picker_header button,
    .social_glance,
    .cy-marketing-auto_add-parent-container,
    .drop-zone,
    .field_list.card .draggable-item,
    .cy_dashboard_sheet .cy-search,
    .cy-listview-head.cy-churn-prdt_thead,
    .cy-listView-table th,
    .card.cy_tile.cy_dashboard_chart,
    .cy-sale_cust--img-container,
    .cy-sales-analysis_customer-header,
    .o_list_renderer .o_list_table .o_list_actions_header,
    .o_list_renderer .o_list_table tbody tr:nth-child(2n) {
        background-color: #13160d !important;
    }

    .o_kanban_renderer .o_kanban_record > div:not(.o_dropdown_kanban) {
        background-color: #1e1e15 !important;
        border: none !important;
    }

    .o_kanban_renderer .o_kanban_group .o_kanban_record > div:not(.o_dropdown_kanban),
    .cyllo-user-dashboard_ps-container,
    .cy-non-admin-box_container,
    .o_kanban_renderer .o_kanban_quick_create {
        background-color: #323227 !important;
        border: none !important;
    }

    .cy_dashboard_sheet input.cy-custom-search.cy-template_search-bar {
        background-color: #13160d !important;
    }

    .o_calendar_renderer .o_calendar_widget .fc-timeGridDay-view .fc-day.fc-widget-content.fc-today:not(.o_calendar_disabled),
    .o_calendar_renderer .o_calendar_widget .fc-timeGridWeek-view .fc-day.fc-widget-content.fc-today:not(.o_calendar_disabled) {
        background-color: #1d2019 !important;
    }

    .cy_prediction_container #sale_forecast_chart {
        background-color: #1e1e15 !important;
        box-shadow: none;
    }

    .o_searchview_input,
    .o_kanban_record_bottom .o_field_label_selection span,
    .chatbot-center,
    .o-mail-ActivityListPopover .bg-100,
    .o_form_view.o_form_nosheet,
    .o_form_sheet_bg td {
        background-color: transparent !important;
    }

    .o-mail-Chatter-top {
        background-color: #13160d !important;
    }

    .cyllo_user_dashboard {
        background-color: #0f110a !important;
    }

    .o_kanban_renderer.o_kanban_grouped .o_kanban_group,
    .o_searchview_facet,
    .cy-churn_tile,
    .churn-chart,
    .card.cy_tile.cy_dashboard_chart,
    .cy-churn-hover:hover,
    .cy-churn_table--container,
    .cyllo_demand_prdt_main-container,
    .popover,
    .cy-dashboard_container {
        background-color: #1e1e15 !important;
        border: none;
    }
    .ch-churn_predict--table tr:not(.churn-selected-customer):hover, {
        background-color: #323227 !important;
    }

    .o_kanban_dashboard .o_kanban_renderer .o_kanban_record > div:not(.o_dropdown_kanban) .o_kanban_card_header + .container.o_kanban_card_content .o_kanban_primary_bottom.bottom_block,
    .o_kanban_dashboard .o_kanban_renderer .o_kanban_record > div:not(.o_dropdown_kanban) .o_kanban_card_header + .o_kanban_card_content.o_container_small .o_kanban_primary_bottom.bottom_block,
    .o_social_media_posts .o_posts_list,
    .o_social_media_posts .tab-button.active,
    .o_cp_searchview,
    .cy-aligned-icons i.active,
    .cm-s-lesser-dark.CodeMirror,
    .cm-s-lesser-dark .CodeMirror-gutters,
    .cy_dashboard_sheet .cy-custom-search.cy-template_search-bar,
    .churn-selected-customer,
    .cy-demand_predict-btn,
    .cy-templates_search-icon,
    .cy-dem-prod-search,
    .cy-listView-table tbody tr:nth-child(2n).churn-selected-customer,
    .field_list.card,
    .cy-sales-analysis__tile.background-white,
    .cy_dashboard_sheet .main .draggable-item,
//     .chatbot-input-wrapper,
    .chat-messages,
    .chatbot-modal.maximized, .chatbot-modal,
    .cy-global_search_container,
    .partner-search-container,
    .cy-shortcuts,
    .cy-menu-searchbar {
        background-color: #323227 !important;
    }

    .form-select:disabled {
        background-color: #272721 !important;
        cursor: not-allowed;
    }

    .o_social_media_posts .tab-button:not(.active) {
        background-color: #1e1e17 !important;
        color: #EAEAEA !important;
    }

    .o_cy_spreadsheet_kanban_view .o_kanban_image_wrapper > img:not(.dummy) {
        filter: brightness(80%) !important;
    }

    .o_social_media_posts .tab-button:not(.active):hover {
        background-color: #2c2b1f !important;
    }

    .show > .btn-outline-secondary.dropdown-toggle,
    .o_cp_searchview .btn-outline-secondary:hover {
        background-color: #2c2b1f !important;
    }

    .o_searchview .o_searchview_input::placeholder {
        color: #c8c8c8 !important;
    }

    .o_search_panel_section .list-group-item.active {
        background-color: #2c2b1f !important;
    }

    .list-group-item {
        background-color: transparent !important;

        header.list-group-item:not(.active):hover {
            background-color: #171711 !important;
        }
    }

    .o-section-slide .o_calendar_filter_item:not([class*="o_cw_filter_color"]) {
        input.form-check-input:not(:checked) {
            border-color: rgba(140, 130, 115, 0.25) !important;
        }

        input.form-check-input:not(:checked):hover {
            border-color: rgb(209, 220, 0) !important;
        }
    }

    .btn-secondary {
        background-color: #2c2b1f !important;
    }

    .o-mail-DiscussSidebar-item:hover,
    .o-mail-DiscussSidebar-item.o-active {
        background-color: #2c2b1f !important;
    }

    button.o-mail-DiscussSidebarChannel.o-mail-DiscussSidebar-item.btn-secondary {
        background-color: transparent !important;
        border-radius: 0 !important;

        i.fa-cog,
        div.fa-times {
            color: #bcbcbc !important;
        }
    }

    button.o-mail-DiscussSidebarChannel.o-mail-DiscussSidebar-item.btn-secondary:hover {
        background-color: #2c2b1f !important;
    }

    .o-mail-DiscussSidebarCategory {
        i,
        span,
        button {
            color: #bcbcbc !important;
        }
    }

    .field_list.card .draggable-item {
        color: #fafafa !important;
        border-radius: 5px;
    }

    .o-mail-NavigableList-active,
    .bg-300,
    .text-bg-300 {
        background-color: #2c2b1f !important;
    }

    .chatbot-actions div {
        background-color: #2c2b1f !important;
        border-color: #6e712d !important;
    }

    .chatbot-modal.minimized {
        background-color: #546304 !important;
    }

    .cy-tray__menu-item:hover,
    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: #2c2b1f !important;
    }

    a.text-dark:hover,
    a.text-dark:focus,
    a.text-dark:active,
    a.text-dark.active,
    button.text-dark:hover,
    button.text-dark:focus,
    button.text-dark:active,
    button.text-dark.active {
        color: #7e8600 !important;
    }

    .cy_dashboard_sheet .main .draggable-item {
        color: #FAFAFA !important;
    }

    .chatbot-input-wrapper textarea {
        color: #fff !important;
    }

    .response-message .chat-bubble.bot,
    .chat-bubble.bot {
        background-color: #1e1e15 !important;
    }

    .cy_dashboard_sheet input,
    .cy-marketing-auto_add-parent-container input,
    .custom-dropdown.o-autocomplete .d-flex {
        background-color: transparent !important;
        color: #FAFAFA !important;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(100%);
        cursor: pointer;
    }

    #drawflow {
        background-color: #13160d !important;
    }

    .w_card button:focus,
    .o_connected_accounts {
        background-color: transparent !important;
    }

    .cy_w_sidebar {
        .fold-out {
            background-color: #2c2b1f !important;
        }

        .fold-out-header {
            background-color: #2c2b1f !important;
        }

        .variable-item {
            background-color: #2c2b1f !important;
        }
    }

    .o_list_table .o_group_name {
        color: #eaeaea !important;
    }

    .cy-timesheet_table .final-raw {
        border-bottom-width: 1px;
    }

    .custom-modal-input {
        background-color: #323227 !important;
        color: white !important;
    }

    .o_view_sample_data .o_nocontent_help {
        background-color: #2c2b1f !important;
        box-shadow: #2c2b1f 0 0 120px 100px;
    }

    .o_view_nocontent {
        background-image: radial-gradient(at 50% 50%, #2c2b1f 0px, #2c2b1f88 100%);
    }

    .o_control_panel_actions .list-group-item.active .o_list_select_domain {
        background-color: #5b5f0d !important;
        color: white !important;
    }

    .o_theme_preview_kanban_view .o_kanban_renderer .o_kanban_record .o_theme_preview {
        background-color: transparent !important;
    }

    .o_spreadsheet_dashboard_action .o_renderer .o-spreadsheet canvas {
        background-color: transparent !important;
    }

    .o_spreadsheet_dashboard_action .o_renderer .o-spreadsheet .o-grid {
        background-color: #000000 !important;
    }

    .o_graph_view .o_graph_renderer canvas,
    .o_spreadsheet_dashboard_action .o_renderer .o-spreadsheet .o-grid > div {
        filter: invert(100%) hue-rotate(180deg);
        background-color: transparent !important;
    }

    .modal-dialog .modal-content .modal-header,
    .modal-dialog .modal-content .modal-footer {
        background-color: transparent !important;
    }

}

.o_searchview_input_container .cy-search.focused {
    background: transparent !important;
}

.cy-app-hover-name::after {
    border-color: transparent transparent #000 !important;
}

.cy_image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    outline: 0;
}

#cy_check {
    display: none !important;
}

.o_action_manager a {
    text-decoration: none;
}

.o-discuss-GifPicker-search input:focus + .oi-search,
.o-discuss-GifPicker-search input:hover + .oi-search,
.text-bg-view {
    background-color: RGBA(255, 255, 255, 1) !important;
}

.bg-100,
.o-mail-MessageReactionMenu-persona:not(.o-isDeviceSmall):hover button.fa-trash:hover,
.text-bg-100 {
    --background-color: RGBA(248, 249, 250, var(--bg-opacity, 1));
    background-color: var(--background-color);
}

.text-900 {
    color: RGBA(33, 37, 41, 1) !important;
}

.bg-200,
.o-mail-VoiceRecorder.o-recording,
.o-discuss-ChannelMember.cursor-pointer:hover,
.text-bg-200 {
    background-color: RGBA(233, 236, 239, 1) !important;
}

.text-dark {
    color: RGBA(33, 37, 41, 1) !important;
}

.o_input {
    background-color: var(--darkreader-bg--o-input-background-color, rgba(0, 0, 0, 0));
    color: Black;
}

.o_list_renderer .o_list_table .o_list_record_remove button {
    background-image: none;
    background-color: initial;
    color: black;
}

.font-monospace {
    font-family: var(--font-monospace) !important;
    background: #fcf8e3;
    color: black;
}

.bg-white-muted,
.bg-white-disabled,
.bg-white-75,
.bg-white-50,
.bg-white-25,
.bg-white,
.o-mail-AutoresizeInput:not([disabled]):hover,
.o-mail-AutoresizeInput:not([disabled]):focus,
.o-EmojiPicker .o-EmojiPicker-search input:focus + .oi-search,
.o-EmojiPicker .o-EmojiPicker-search input:hover + .oi-search {
    background-color: RGBA(255, 255, 255, 1) !important;
}

.bg-light {
    background-color: RGBA(248, 249, 250, 1) !important;
}

.o_action_manager a {
    text-decoration: none;
}

/* Base for the switch */
.cy_switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

/* Hide default HTML checkbox */
.cy_switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.cy_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.cy_slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    top: 2px;
    bottom: 3px;
    background-color: #121212bf;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .cy_slider {
    background: #151E4E;
}

input:checked + .cy_slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(14px) translateY(0.5px);
}

input:checked + .cy_slider::before {
    background-color: #FA961B !important;
    top: 1px;
}

/* Rounded sliders */
.cy_slider.cy_round {
    border-radius: 34px;
}

.cy_slider.cy_round.cy_not_apply {
    border: 1.9px solid #121212ba;
}

.cy_slider.cy_round.cy_apply {
    border: 2px solid black;
    border-color: black !important;
}

.systray_dark_root .cy_slider {
    width: 93%;
}

.systray_dark_root {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: center;
}

.systray_dark_root:hover {
    background: rgba(0, 0, 0, 0.075);
}

.cy-tray__menu-icon .systray_dark_root:hover {
    background: unset;
}

.cy_slider.cy_round:before {
    border-radius: 50%;
}

input:checked + .cy_slider .cy_picture {
    left: calc(100% - 34px);
}

/* Add a picture inside the toggle button */
.cy_switch .cy_picture {
    position: absolute;
    content: "";
    top: 2px;
    width: 11px;
    height: 11px;
    background-size: cover;
    border-radius: 50%;
    z-index: 2;
    -webkit-transition: .4s;
    transition: .4s;
}

.cy_switch .cy_picture.cy_moon:hover {
    cursor: pointer;
}

input:checked + .cy_slider .cy_picture.cy_sun {
    left: calc(100% - 34px);
}

input:checked + .cy_slider .cy_picture.cy_moon {
    left: 4px;
}

.cy_switch .cy_checked {
    display: none;
}

.wickedpicker {
    z-index: 1060;
}

.cy-checkbox-label-dark-mode {
    background-color: transparent !important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    line-height: 1;
    justify-content: center;
}

.cy-tray__menu-icon .cy-checkbox-label-dark-mode {
    justify-content: unset;
}

.cy-checkbox-label-dark-mode .input {
    display: none;
}

.icon-dark {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
}

.icon--moon-dark {
    transition-delay: 200ms;
}

.icon--sun-dark {
    transform: scale(0);
}

.cy-checkbox-label-dark-mode:hover {
    background: rgba(0, 0, 0, 0.075);
}

#cy_check:checked + .icon--moon-dark {
    transform: rotate(360deg) scale(0);
}

#cy_check:checked ~ .icon--sun-dark {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
}
