.insertedField {
    position: absolute;
    background: #f8d7da;
    border: 2px dashed #f5c6cb;
    cursor: move;
    resize: both;
    overflow: auto;
}

.cy-signboard,
.cy-sign_editor,
.cy-maincontent .row {
    background: #2a2a2e;
}

.cy-signtitle {
    color: #222222;
    font-weight: 500;
    font-size: 20px;
}

.cy-signbtn {
    -webkit-box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.15);
    padding: 8px 24px;
    border-radius: 3px;
    background-color: #fff;
    color: #505050;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #dfdfdf;
}

.cy-sign_primary_btn {
    border: 1px solid #909801;
    background-color: #9EA700;
    color: #fff;
}

.cy-sign_editor {
    padding: 40px 20px;
    height: 100%;
    margin-bottom: 1rem;
}

.cy-sign-top_nav {
    background: #ffffff;
}

.cy-signboard {
    width: 100%;
    height: 100%;
    background-image: url("/grid.png");
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cy-sign_editor-option {
    border: 1px solid #dfdfdf;
    background-color: #fff;
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #505050;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-box-shadow: 0px 1px 30px 0px rgba(38, 51, 77, 0.08);
    box-shadow: 0px 1px 30px 0px rgba(38, 51, 77, 0.08);
    margin: 0.4rem 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.cy-sign_editor-option:hover {
    border-color: #9EA700;
}

.cy-sign_dragicon {
    width: 24px;
}

.cy-sign_editingfeature {
    color: #F5F6E6;
    background-color: #9EA700;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.cy-sign_editingfeature img {
    width: 16px;
}

.cy-signmain_container {
    height: 92%;
    padding: 0 !important;
}

iframe.o_sign_iframe {
    height: 100%;
    width: 100%;
}
.cy-signboard .cy-document {
    height: 100%;
    width: 100%;
}
.cy-maincontent .row {
    height: 100%;
}
.mainRow-cy {
    height: 100%;
}

.cyllo_sign .o_kanban_record {
    width: 260px !important;
    margin: 4px;
}
.cy-nw-kanban_card {
    background-color: #fff;
    padding: 16px !important;
    border-radius: 4px;
    height: 100%;
    border: 1px solid #b7b7b7;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.cy-nw-kanban_card:hover .cy-nw-kanban_card-img img {
    opacity: 1;
}

.cy-nw-kanban_header-title {
    font-size: 16px;
}

.cy-nw-kanban_card-img {
    border-radius: 6px;
    width: 100%;
    height: 240px;
    position: relative;
}
.cy-nw-kanban_card-img img {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
    border-radius: 6px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    border: 1px solid #dadada;
}
.cy-nw-kanban_card-img .cy-nw-kanban_card-buttons {
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}
@media (max-width: 768px) {
    .cy-nw-kanban_card-img .cy-nw-kanban_card-buttons {
        opacity: 1;
    }
}
.cy-nw-kanban_card-img .cy-nw-kanban_card-buttons .btn {
    background-color: #fff;
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
}
.cy-nw-kanban_card-buttons .btn .o_field_widget {
    text-align: inherit;
    display: var(--fieldWidget-display, inline-block);
    margin-top: 5px;
}
.cy-nw-kanban_card:hover .o_priority_star.fa-star-o {
    color: #000000 !important;
}
.cy-nw-kanban_card-img .cy-nw-kanban_card-buttons .btn img {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    border-radius: 0;
    border: none;
}
.cy-nw-kanban_card-img .cy-nw-kanban_card-buttons .btn:hover {
    background-color: #9ea700;
}
.cy-nw-kanban_card-img .cy-nw-kanban_card-buttons .btn:hover img {
    -webkit-filter: invert(100%) brightness(200%);
    filter: invert(100%) brightness(200%);
}

.cy-nw-kanban_card-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Dark overlay */
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.cy-nw-kanban-star {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 5;
    cursor: pointer;
}
.cy-nw-kanban-star img {
    width: 30px;
    border: none;
    border-radius: 0;
}

.cy-nw-kanban-star.favorite {
    right: -0.5px;
    left: auto;
    top: -0.4px;
}
.cy-nw-kanban-star.favorite img {
    width: 50px;
    border-radius: 0 6px 0 0;
}

.cy-nw-kanban_card:hover .cy-nw-kanban_card-buttons {
    opacity: 1 !important;
}
.cy-nw-kanban_card:hover .cy-nw-kanban_card-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Dark overlay */
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.cy-nw-kanban_card-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    width: 100%;
    height: 64px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(transparent));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
    pointer-events: none;
}

.cy-nw-kanban-date {
    color: #808080;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.cy-nw-kanban_card .cy-nw-send-btn {
    border: none;
    background-color: #9ea700;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
}

[data-darkreader-scheme="dark"] {
    .cy-sign-top_nav{
        background-color: #0f110a;
    }

    .cy-signboard,
    .cy-sign_editor,
    .cy-maincontent .row {
        background: #2a2a2e;
    }

    .cy-nw-kanban_card-buttons .btn.oe_kanban_action.oe_kanban_action_button img {
        filter: invert(100%);
    }
}