//variable node
.input-wrapper {
    position: relative;
}

.variable-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.variable-input:focus {
    outline: none;
    border-color: #4A90E2;
}

.variable-input.is-invalid {
    border-color: #E74C3C;
}

.variable-input.is-valid {
    border-color: #2ECC71;
}

.valid-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #2ECC71;
}

.error-message,
.success-message {
    margin-top: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.error-message {
    .text{
        color: #fc9f41 !important;
    }
}

.success-message {
    color: #2ECC71;
}

.error-icon,
.success-icon {
    margin-right: 5px;
    font-size: 16px;
}

.error-icon{
    i{
        font-size: 16px;
        color: #F0BB40;
    }
}

