.doc_btn_container {
  padding-bottom: 12px;
  padding-top: 4px;
  border-bottom: 1px solid #dfdfdf;
}

.nav-item-btn-upload-cy {
  color: #6F7500 !important;
  font-weight: 600;
}

.cy_kanban_document_record.selected .cy_doc_renderer_content {
  background-color: #c4d9c4 !important;
}

.cy_kanban_document_record.doc_locked .cy_doc_renderer_content {
  border: 2px #ff0000 solid !important;
  box-shadow: rgba(255, 0, 0, 0.35) 0 1px 15px;
}

.doc_is_locked_container {
  position: absolute;
  width: fit-content !important;
  height: fit-content !important;
  border: unset !important;
  background-color: transparent !important;
  color: red;
  left: 10px;
  top: 4px;
  font-size: 18px;
}

.doc_auth_container_pass {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.h-40px {
  height: 40px;
}

.background-color-unset {
  background-color: unset !important;
}

.doc_auth_content {
  border-radius: 6px;
  width: 26%;
  position: fixed;
  top: 36% !important;
  left: 36% !important;
}

.wrong-password::placeholder {
  color: red;
}

.wrong-password {
  border: 1px red solid;
}

.o_doc_list_view_view .o_list_table thead th.o_lock_icon_cell {
  width: 30px !important;
}

.doc-delete-modal-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}