.document_preview_template {
    border: 1px solid #000;
    height: 100%;
    padding: 6%;
    margin: 10%;
}

.document_preview_action {
    overflow-y: auto !important;
}

.cy-doc-pdf-preview-image {
    max-width: 265px !important;
}

.cy-doc-main:hover {
    border-color: #b8b6b6 !important;
}

.cy-doc-url-preview-img {
    max-width: 270px !important;
}

.cy-doc-type-img {
    width: 25px;
    height: 25px;
}

.cy_document_right_icons {
    height: 30px;
    width: 30px;
}

.cy-doc-cog_menu {
    border: unset;
    padding: 5px 10px;
    border-radius: 8px;
}

.cy-doc-cog-menu-btn {
    display: none;
    /*position: absolute;*/
}

@media (max-width: 1100px) {
    .cy-doc-cog-menu-btn {
        display: flex;
        position: relative;
    }
    .cy-cog-menu-spread {
        display: none !important;
    }
}

[data-darkreader-scheme="dark"] {
    .o_kanban_renderer .o_kanban_record.cy_kanban_document_record.selected > .cy_doc_renderer_content {
        background-color: #242319 !important;
    }
    .o_kanban_renderer .o_kanban_record.cy_kanban_document_record.selected .document_image.background-transparent {
        background-color: #242319 !important;
    }

    .o_kanban_renderer .o_kanban_record.cy_kanban_document_record.selected .document_details.background-transparent {
        background-color: #242319 !important;
    }
}
