.cy-search-modal-body {
    .custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu {
        top: 85% !important;
        left: 1.5% !important;
        max-height: 100%;
    }
}

.filter_domain {
    .custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu {
        top: 73% !important;
        left: 1.5% !important;
        max-height: 100%;
    }
}

.o_multi_record_selector {
    border: none;
}

.filter_domain_selector_dialog {
    label {
        margin-bottom: 8px !important;
    }

    .form-control {
        border: none !important;
        border-radius: 0px !important;
        border-bottom: 1px solid #e0e0e0 !important;
        padding: 2px 4px !important;
    }

    .form-control:hover {
        border-bottom: 1px solid #9ea700 !important;
    }

    .form-control:focus {
        background-color: transparent;
        border: 1px solid #ced4da;
    }

    .cy-default-period .cy-drop-down {
        height: 57px !important;
        border: none !important;
        border-bottom: 1px solid #dfdfdf !important;
        border-radius: 0px !important;

        .d-inline-flex .dropdown .d-block .dropdown-item span {
            color: #495057 !important;
        }
    }
}


.search_groupby_dialog {
    label {
        margin-bottom: 8px !important;
    }

    .form-control {
        border: none !important;
        border-radius: 0px !important;
        border-bottom: 1px solid #e0e0e0 !important;
        padding: 0px !important;

        .o_input {
            padding: 0px !important;
        }
    }

    .form-control:hover {
        border-bottom: 1px solid #9ea700 !important;
    }

    .cy-navbar_label {
        color: #495057;
    }

    .form-control:focus {
        background-color: transparent;
        border: 1px solid #ced4da;
    }

    .cy-studio-custom-dropdown-dialog-search-groupby-view {
        position: relative;

        .custom-dropdown .d-flex input {
            color: #495057 !important;
        }

        .custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu {
            left: 0px !important;
            min-width: 100% !important;
            width: 100% !important;
            top: calc(100% + 4px) !important;
            max-height: 200px !important;
            overflow-y: auto;
            z-index: 9999;
        }

    }
}

.o_domain_selector .o_tree_editor.w-100.o_edit_mode .o_tree_editor_node .o_tree_editor_condition.d-flex.flex-grow-1.align-items-end.gap-2 .o_tree_editor_editor {

    .o_input {
        border-bottom: 1px solid #e0e0e0 !important;
    }

    .o-autocomplete--input.o_input {
        border-bottom: none !important;
    }
}