.cy-studio-search_panel_value_dialog{
    label{
        margin-bottom: 8px !important;
        }
    .form-control{
        border:none !important;
        border-radius: 0px !important;
        border-bottom: 1px solid #e0e0e0 !important;
        padding: 2px 4px !important;
        }
        .form-control:hover{
            border-bottom: 1px solid #9ea700 !important;
    }
 .form-control:focus {
        background-color: transparent;
        border: 1px solid #ced4da;
        }
    .cy-studio-custom-dropdown-dialog-search-view .custom-dropdown .d-flex input{
        color: #495057 !important;
        }
    .cy-navbar_label{
        color: #495057;
        }
    .cy-studio-custom-dropdown-dialog-search-view{
     position: relative;

    .custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu {
        left: 0px !important;
        min-width: 100% !important;
        width: 100% !important;
        top: calc(100% + 4px) !important;
        max-height: 200px !important;
        overflow-y: auto;
        z-index: 9999;
    }

    }
    .cy-studio-custom-dropdown-dialog-search-view-type .custom-dropdown.o-autocomplete{
        .d-flex .selected-text{
            padding: 2px 4px !important;
            color: #495057 !important;
            }
        ul{
         top:67% !important;
        }
    }
}