.cy-studio-modal_update_search_panel{
    .cy-navbar_label{
        color: #495057;
    }
    .search-types {
         .cy-drop-down{
             border: 0px !important;

             .d-inline-flex .dropdown{
                 border-bottom: 1px solid #ced4da !important;

                 &:hover{
                      border-bottom: 1px solid #9EA700 !important;
                     }

                 .dropdown-menu span{
                     color: black !important;
                 }

                 .dropdown-toggle::after{
                     margin-left: 90% !important;
                 }
             }

         }
    }
    .form-control{
        border: 0px !important;
        padding-left: 0px !important;

        .o_input .dropdown{
               border-bottom: 1px solid #ced4da !important;

               &:hover{
                   border-bottom: 1px solid #9EA700 !important;
                   }
        }

    }

}