.o_search_panel_section_header {
    color: #AFB7C9;
    font-family: var(--inter-sans) !important;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 2rem;
}

.o_search_panel_section .list-group-item.active {
    background-color: #F7F7F7 !important;
    border-radius: 6px !important;
    padding: 0.3rem !important;
}

.o_search_panel_section .list-group-item-action:hover {
    border-radius: 6px !important;
    padding: 0.3rem !important;
}

.o_search_panel_section .list-group-item {
    padding: 0.3rem !important;
}

.o_search_panel_section .list-group-item.active .o_search_panel_label_title {
    color: #0E3A5D;
    transform: translateX(-10px);
}

.o_search_panel_section .list-group-item .o_search_panel_label_title {
    font-weight: 600 !important;
    transform: translateX(-10px);
    color: #505050;
    font-family: var(--inter-sans) !important;
    font-size: 14px;
}

.o_spreadsheet_dashboard_action .o_search_panel {
    width: 15%;
    max-width: 15%;
    border-right: none !important;
}

.o_action_manager .o_spreadsheet_dashboard_action {
    width: 100%;
}

.o_search_panel_section li {
    font-weight: 600 !important;
    transform: translateX(10px);
    color: #505050;
    font-family: var(--inter-sans) !important;
    font-size: 14px;
}

.o_spreadsheet_dashboard_action .o_control_panel .o_control_panel_actions .o_input_dropdown {
    border: 1px solid #DFDFDF;
    padding: 0.375rem 0.75rem;
    border-radius: 6px;
    background-color: #fff;
    color: #505050;
    font-weight: 600;
    font-size: 15px;
}

.o_spreadsheet_dashboard_action .o_control_panel .o_control_panel_actions .o_input {
    border: none !important;
}

.o_spreadsheet_dashboard_action .o_control_panel .o_control_panel_actions .o_field_many2many_tags {
    width: 100% !important;
}

.o_spreadsheet_dashboard_action .o_control_panel {
    position: relative;
}

.o_spreadsheet_dashboard_action .o_control_panel .o_control_panel_actions {
    display: none !important;
    grid-template-columns: repeat(4, 1fr);
    background: white;
    position: absolute;
    left: 15%;
    z-index: 1;
    top: 60px;
    height: 360%;
    width: 85% !important;
}

.o-figure-wrapper {
    z-index: 0 !important;
}

.o_spreadsheet_dashboard_action .o_control_panel .o_control_panel_actions.d-empty-none.d-flex.align-items-center.justify-content-start.justify-content-lg-around.order-2.order-lg-1.w-100.w-lg-auto > div:nth-child(1) {
    border: 1px solid #DFDFDF;
    padding: 0.375rem 0.75rem;
    border-radius: 6px;
    background-color: #fff;
    width: 100% !important;
}

.o_spreadsheet_dashboard_action .o_control_panel .o_control_panel_actions .date_filter_values {
    color: #505050;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--inter-sans) !important;
}

.o_action_manager.d-flex .o_spreadsheet_dashboard_action .o_content.o_component_with_search_panel .o_renderer {
    /*padding-top: 3rem;*/

    canvas:not(.o-figure-canvas){
        padding-top: 3rem !important;
    }

    canvas.o-figure-canvas{
        transform: translateY(3rem);
    }

}

.o_action_manager .o_spreadsheet_dashboard_action .o_component_with_search_panel {
    overflow: hidden !important;
}

.o_spreadsheet_dashboard_action .o-spreadsheet .o-grid-overlay {
    width: 101% !important;
}