.fa-clock-o::before {
    content: "\f20f";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-tasks::before {
    content: "\f398";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-line-chart::before {
    content: "\eeab";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-envelope::before {
    content: "\eef6";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-phone::before {
    content: "\efec";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-refresh::before {
    content: "\f064";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-credit-card::before {
    content: "\ea90";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-exchange::before {
    content: "\ea62";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-truck::before {
    content: "\f231";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-bars::before {
    content: "\eeb9";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-cubes::before {
    content: "\f2f5";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-bell::before {
    content: "\ef9a";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-bell-slash::before {
    content: "\ef9c";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-thumb-tack::before {
    content: "\f037";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-paperclip::before {
    content: "\ea84";
    font-family: "remixicon" !important;
    font-style: normal;
}

.oi-search::before {
    content: "\f0d1";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-user-plus::before {
    content: "\f25e";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-smile-o::before,
.oi-smile-add::before {
    content: "\ec90";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-dollar:before, .fa-usd:before {
    content: "\ef65";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-microphone::before {
    content: "\ef50";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-puzzle-piece::before {
    content: "\f452";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-camera::before {
    content: "\eb31";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-download::before {
    content: "\ec5a";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-pause::before {
    content: "\efd8";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-calendar::before {
    content: "\eb27";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-comments::before {
    content: "\eb4d";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-remove::before,
.fa-times::before {
    content: "\eb99";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-pencil::before {
    content: "\efe0";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-eye-slash::before {
    content: "\ecb7";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-id-card-o::before {
    content: "\f02d";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-pencil-square-o::before {
    content: "\ecdb";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-flag::before {
    content: "\ed3b";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-user-o::before,
.fa-user::before {
    content: "\f264";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-check-square-o::before {
    content: "\eb85";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-square-o::before {
    content: "\eb7f";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-trash::before {
    content: "\ec2a";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-check::before {
    content: "\eb7b";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-list-ul::before {
    content: "\f399";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-list::before {
    content: "\f398";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-money::before {
    content: "\ef6b";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-print::before {
    content: "\f029";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-caret-down::before {
    content: "\ea4e";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-inbox::before {
    content: "\f3a9";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-cog::before {
    content: "\f0ea";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-ellipsis-h::before {
    content: "\ef78";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-star::before {
    content: "\f186";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-star-o::before {
    content: "\f18b";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-reply::before {
    content: "\f07a";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-upload::before {
    content: "\f24a";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-trash-o::before {
    content: "\ec2a";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-clone::before {
    content: "\ecd5";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-star::before {
    content: "\f18b";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-ellipsis-v::before {
    content: "\ef76";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-filter::before {
    content: "\ed27";
    font-family: "remixicon" !important;
    font-style: normal;
}

.oi-settings-adjust::before {
    content: "\ec9d";
    font-family: "remixicon" !important;
    font-style: normal;
}

.oi-group::before {
    content: "\f181";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-plus::before {
    content: "\ea13";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-users::before {
    content: "\ede3";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-bug::before {
    content: "\eb07";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-history::before {
    content: "\ee17";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-gear::before {
    content: "\f0e8";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-minus::before {
    content: "\f1af";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-any::before {
    content: "";
    font-family: "remixicon" !important;
    font-style: normal;
}

.fa-file-text-o::before {
    content: "\ecc5";
    font-family: "remixicon" !important;
    font-size: 20px;
    font-style: normal;
}

.fa-signal::before {
    content: "\ea99";
    font-family: "remixicon" !important;
    font-size: 20px;
    font-style: normal;
}

.fa-credit-card::before {
    content: "\ea90";
    font-family: "remixicon" !important;
    font-size: 20px;
    font-style: normal;
}

.fa-sitemap::before {
    content: "\ef90";
    font-family: "remixicon" !important;
    font-size: 20px;
    font-style: normal;
}

.fa-calendar:before{
    content:"\eb27";
    font-family: "remixicon" !important;
    font-size: 20px;
    font-style: normal;
}