.studioTree {
    .checkbox-item {
        margin: 6px 0 10px 5px;
    }

    .cy-studio-custom-dropdown {
        .custom-dropdown ul {
            max-height: 16rem !important;
            overflow-y: scroll !important;
        }
    }

    .checkbox-input:not(:checked)+.checkbox-label .checkbox-indicator svg {
        stroke: transparent;
    }

    .checkbox-input:checked+.checkbox-label .checkbox-indicator svg {
        width: 12px;
        left: 1px;
        stroke-dasharray: 14px;
    }
}