.cy-inner-trash-container{
    position: absolute;
    left: 97%;
    top: -11px;
    background: #e5ecd1;
    border-radius: 53px;
    z-index: 1;
    padding: unset;
    width: unset;
}

.dd-container {
    position:relative;
}

.o_inner_group {
    border: 2px solid white !important;
  border-right: 2px solid white !important;
}

.o_form_sheet_bg .o_notebook_content .o_inner_group {
      border-right: 2px solid white !important;
}

.o_inner_group:hover  {
  border: 2px solid rgb(181 181 175 / 44%) !important;
  border-right: 2px solid rgb(181 181 175 / 44%) !important;
}

.o_form_sheet_bg .o_notebook_content .o_inner_group:hover  {
  border: 2px solid rgb(181 181 175 / 44%) !important;
  border-right: 2px solid rgb(181 181 175 / 44%) !important;
}

.cy-studio-inner:not(:has(.o_group > &)) {
    padding: 8px;
    background-color: #f8f9e5;                /* inner-group-background */
}

/**/

.o_cell, .o_cell * {
    cursor: move !important;
}

.o_cell:hover .cy-studio-field-icons {
    transition: all 0.3s 0.2s ease;
    opacity: 1;
    margin-right: 0;
    background: #f6fce5;
}

.o_cell:hover ~ * .cy-studio-field-icons {
    transition: all 0.5s 0.2s ease;
    opacity: 1;
    margin-right: 0;
     background: #f6fce5;
}

.o_wrap_field .o_cell.o_cell{
  border: 3px solid #f6fce5;
}
.o_wrap_field .o_cell.o_wrap_input{
  border: 3px solid #f6fce5;
}

.o_wrap_field:hover .o_cell.o_cell{
    border:3px solid #9ea70069;
    cursor: pointer;
}

.o_wrap_field:hover .o_cell.o_wrap_input{
    border:3px solid #9ea70069
}

/**/

.cy-studio-striped {
  background-image: repeating-linear-gradient(
    45deg,
    #7c7c7c69 0,
    #7c7c7c69 6px,
    transparent 6px,
    transparent 12px
  ) !important;
}

.cy-studio-field-icons {
    transition: all 0.3s ease;
    opacity: 0;
    margin-right: -10px;
    z-index:11;
}

.cy-field-panel-menu{
    cursor:pointer!important;
    background:#e5ecd1;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 20px;
    font-size: 24px;
}

.cy-studio-icon {
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    cursor: pointer !important;
}

.cy-studio-icon.active {
    color: #9EA700;
    transform: scale(1.1);
}

.cy-studio-icon:hover{
    border-color: #9EA700 !important;
    transform: scale(1.1);
}
