* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
}

.chat-bubble.user{
    background-color: #e3f9b1;
    color: white;
}

.user-message {
  justify-content: flex-start;
  flex-direction: row-reverse;
}