@import url('https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@100..900&display=swap');

.cyst1 .btn-primary:active,
.cyst1 .btn-primary:focus {
    background-color: #7e8600 !important;
    box-shadow: none;
}

@media (min-width: 576px) {
    .cyst1.modal-dialog {
        max-width: 60%;
        margin: 1.75rem auto;
    }
}

.cyst1 .modal-content {
    border-radius: 0;
    border: none;
    outline: none;
    padding: 30px 20px;
}

.cyst1 .modal-body {
    overflow: visible !important;
}
.cyst1 .modal-header {
    font-size: 28px;
    border: none;
    padding: 1rem 1rem
}

.cyst1 .modal-header span {
    color: #a0a800; /* Green color for the first span */
    font-weight: bold;
    font-size: 28px;
    font-family: var(--inter-sans);
}

.cyst1 .modal-header p {
    font-weight: bold;
    font-size: 28px;
    font-family: var(--inter-sans);
    margin-left: 10px; /* Adjust the gap as needed */
}


/* Tab */
.cyst1 .nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    grid-column-gap: 15px;
}

.cyst1 .nav-tabs {
    border-bottom: transparent;
}

.cyst1 .nav-tabs .nav-item.show .nav-link,
.cyst1 .nav-tabs .nav-link {
    border: 3px solid;
    border-color: #ffffff #ffffff #f0f1f3;
    font-size: 18px;
    font-weight: 700;
    color: hsl(244, 11%, 29%);
    padding-left: 0;
    font-family:'Inter', sans-serif;

}

.cyst1 .nav-tabs .nav-item.show .nav-link,
.cyst1 .nav-tabs .nav-link.active {
    border: 3px solid;
    border-color: #ffffff #ffffff #a0a67e;
}

.cyst1 .nav-tabs2 {
    border-bottom: 1px solid #dee2e6;
}

.cyst1 .nav-tabs2 .nav-link {
    border-color: transparent;
    font-size: 16px;
    font-weight: 700;
    padding-left: 0;
}


.cyst1 .nav-tabs .nav-link:hover, .nav-tabs2 .nav-link:hover {
    border-top-color: transparent;
    /* border-bottom-color: transparent; */
    border-left-color: transparent;
    border-right-color: transparent;
}

.cyst1 .nav-tabs2 .nav-link.active {
    color: #9EA700;
}

.cyst1 .tab-content {
    padding-top: 20px;
}

.cyst1 .tab-content h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'inter', sans-serif !important;
}

.cyst1 .tab-content p {
    color: #505050;
}

.cyst1 label {
    color: hsl(0, 0%, 13%);
    font-weight: 500;
    font-size: 16px;
    font-family: Inter, sans-serif;
}

.cyst1 label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.cyst1 .form-group {
    margin-bottom: 1rem
}

.cyst1 .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #aaaaaa;
    outline: 0;
    box-shadow: none
}

.cyst1 form .form-control {
    border-radius: 3px;
    border-color: #aaaaaa;
}

.cyst1 form .form-control::placeholder,
option {
    font-size: 14px;
}

.cyst1 select {
    font-size: 14px !important;
}

.cyst1 select.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M6 9l6 6 6-6"/></svg>') no-repeat right .75rem center / 8px 10px;
    background-size: 18px 18px;
    padding-right: 30px; /* Adjust based on arrow size */
}

/* Custom Radio Button */
.cyst1 .custom-radio {
    display: none;
}

.cyst1 .custom-radio + .custom-radio-label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    user-select: none;
}

.cyst1 .custom-radio + .custom-radio-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 15px;
    height: 15px;
    border: 1px solid #aaaaaa;
    border-radius: 50%;
    background: white;
}

.cyst1 .custom-radio:checked + .custom-radio-label::before {
    border: 1px solid #a0a800;
}

.cyst1 .custom-radio:checked + .custom-radio-label::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 7px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #a0a800;
}

@media (max-width: 992px) {
    .cyst1 .modal_right_form {
        padding-left: 0 !important;
        margin-top: 15px;
    }
}

.cyst1 .modal_right_form {
    /*padding-left: 20px;*/
    display: flex;
    gap: 0.4rem;
}

.cyst1 .custom-file-upload {
    width: 75px;
    height: 75px;
    border: 2px dashed #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    background-color: #fafafa;
    margin: auto;
    border-radius: 15px;
    /* margin-top:38px;*/
}


.cyst1 #myTabContent .o_multi_record_selector {
    padding: 0px !important;
    overflow: auto;
    max-height: 60px;
    margin-left: -3px;
    border-bottom: 1px solid #353535 !important;
    transition: border-color 0.3s ease;
}
.cyst1 #myTabContent .o_multi_record_selector:hover {
   outline: none !important;
    border-color: #9EA700 !important;
    box-shadow: none;
}

.cyst1 #myTabContent .o_record_selector .o_input{
    border-bottom: 1px solid #353535 !important;
        transition: border-color 0.3s ease;

}
.cyst1 #myTabContent .o_record_selector .o_input:hover{
    outline: none !important;
    border-color: #9EA700 !important;
    box-shadow: none;
}
/*.o_multi_record_selector{*/
/*    border-bottom: 1px solid #ccc !important;*/
/*}*/

.cyst1 #myTabContent input {
    padding-bottom: 0 !important;
    width: 100%;
    padding: 2px;
    border-radius: 0 !important;
    font-size:14px !important;
    /* border: 2px solid #9EA700; */
    font-family: 'Inter', sans-serif;
    border: none;
    transition: border-color 0.3s ease;
    /*border-bottom: 1px solid #353535;*/

}

.cyst1 #myTabContent .o_input {
    padding: 0 !important;
}

.cyst1 .image-container-studio {
    width: 348px;
}

.cyst1 #myTabContent .o_record_selector {
    width: 100%;
}

.cyst1 .down-arrow {
    position: relative;
}

.cyst1 .down-arrow:after {
    position: absolute;
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    background-image: url(./../img/arrow-down-s-line.svg);
    right: 0;
    top: 4px;
}

.cyst1 #myTabContent input:focus, #myTabContent input:hover, #myselect:hover {
    outline: none !important;
    border-color: #9EA700 !important;
    box-shadow: none;
}

.cyst1 #profile h4 {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.cyst1 #profile input, #profile select {
    padding-left: 2px !important;
    padding-top: 0.6rem !important;
    border-radius: 0 !important;
    font-family: var(--inter-sans) !important;
    border: none !important;
    transition: border-color 0.3s ease;
    border-bottom: 1px solid #353535 !important;
    padding: 2px !important;
}

.cyst1 #profile input[readonly], #profile select[readonly] {
    opacity: 0.5;
    color: #636e79;
    border-bottom: 1px solid #636e79 !important;
}

.cyst1 .dummy-position {
    opacity: 0.5;
    color: #636e79;
    width: -webkit-fill-available;
}

/*.dummy-position input {*/
/*    border-bottom: 1px solid #636e79 !important;*/
/*}*/

.cyst1 #profile input:focus, #profile select:hover, #profile input:hover, #profile select:focus {
    outline: none !important;
    border-color: #9EA700 !important;
    box-shadow: none;
}

.cyst1 .custom-file-upload span {
    color: #505050;
    font-size: 12px;
}

.cyst1 .custom-file-upload .max {
    font-size: 12px;
}

.cyst1 .custom-file-upload:hover {
    background-color: #f8f9fa;
    border: 2px dashed #a0a800;
}

.cyst1 .custom-file-upload input[type="file"] {
    display: none;
}

/* Button Css */

.cyst1 .btn {
    outline: none !important;
    box-shadow: none !important;
}

.cyst1 .btn-primary {
    background-color: #9ea700;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
}

.cyst1 .btn-primary:hover {
    background-color: #8e9600 !important;
}

.cyst1 .btn-primary:active,
.cyst1 .btn-primary:focus {
    background-color: #7e8600 !important;
    box-shadow: none;
}

.cyst1 .btn-outline-primary {
    border-radius: 0px;
    background-color: #f5f6e6;
    padding: 10px 20px;
    color: #6f7500;
    border: none;
    font-weight: 600;
    display: block;
    width: fit-content;
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

.cyst1 .btn-outline-primary:not(:disabled):not(.disabled):active, .icon-group .icon-group.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: #a0a800 !important;
}

.cyst1 .icon-group.btn-secondary:not(:disabled):not(.disabled):active {
    border-color: #a0a800 !important;
}

.cyst .btn-outline-primary:hover {
    fill: #fff;
}

.cyst1 .icon-group.btn-secondary {
    background-color: transparent !important;
    border-radius: 25px !important;
    color: #505050 !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    width: 40px;
    margin: 0 !important;
}

.cyst1 .icon-group.btn-secondary:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2) !important;
    background-color: #a0a800 !important;
    border: 1px solid #a0a800 !important;
    color: #fff !important;
}

.cyst1 .icon-group.btn-secondary:active {
    background-color: #a0a800;
}


.cyst1 img.custom-file-upload {
    width: 80px;
    height: 74px;
}

.cyst1 .icon-group.btn-secondary:hover svg path {
    fill: #fff !important;
}

.cyst1 .cyst1 .btn-outline-primary:hover {
    outline: none;
    background-color: hsl(63, 100%, 33%);
}

.cyst1 .btn-outline-primary svg {
    margin-right: 5px;
}

.cyst1 .btn-transparent {
    background-color: transparent;
    border-radius: 25px;
    font-size: 13px;
    padding: 10px 20px;
    font-weight: 600;
}

.cyst1 .btn-transparent svg {
    margin: 0px 5px;
}

.cyst1 .btn-transparent:hover {
    color: hsl(244, 11%, 29%);
    background-color: #8e9600 !important;
    color: #fff;
}

.cyst1 .btn-transparent:hover svg path {
    fill: #fff;
}

.cyst1 .btn-transparent:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #7e8600 !important;
    /* border: 1px solid #7e8600 !important; */
}

.cyst1 .btn_group {
    display: flex;
    flex-direction: column;
}

.cyst1 .checkBox_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0.6rem;
    margin-left: -7px;
}

/* Check box css */
.cyst1 .customCheckbox {
    display: none;
}

.customCheckbox + .customCheckbox-label {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    cursor: pointer;
}

.nolabel + .cstnolabel {
    position: relative;
    display: inline !important;
    padding-left: 20px;
    cursor: pointer;
}

.customCheckbox + .customCheckbox-label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0px;
    top: 4px;
    border: solid #dfdfdf;
    border-width: 1px;
}

.customCheckbox:checked + .customCheckbox-label::before {
    border: solid #a0a800;
    border-width: 1px;
    background-color: #a0a800;
}

.customCheckbox + .customCheckbox-label::after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 5px;
    width: 5px;
    height: 9px;
    border: solid #ffffff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.customCheckbox:checked + .customCheckbox-label::after {
    display: block;
}

.cyst1 .close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    color: #a0a800;
    padding: 0;
}

.cyst1 .close:hover {
    color: #a0a800;
}

.confirm-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    color: #a0a800;
    padding: 0;
}

.confirm-close:hover {
    color: #a0a800;
}

.cyst2 .close {
    margin-left: 575px;
    font-size: 28px;
}

.cyst2 .cy-selection_icon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 235px; /* Set a desired width */
    height: 50px; /* Set a desired height */
    padding: 10px; /* Adjust padding as needed */
    font-size: 28px; /* Adjust font size as needed */
}

.custom-button:hover {
    background-color: #8e9600 !important;
    color: #fff;
}

.custom-button i {
    margin-right: 8px; /* Adjust the space between icon and text */
}


@media (max-width: 768px) {
    .btn_group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-around;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}

@media (max-width: 576px) {
    .nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}

.cyst1 .table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
}

.t-header {
    background-color: #f0f4fa !important;
    font-size: 14px;
    font-weight: 500;
}

.t-header {
    padding: 12px;
    border: 1px solid #dfdfdf;
    width: 14.28%;
}

.t-header {
    text-align: inherit;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 750px;
    padding: 10px; /* Add some padding to create space for the scrollbar */

}

.card-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.oh-card-body {
    padding: 10px;
}

.stat-widget-one {
    margin-bottom: 10px;
}

.stat-content {
    padding: 10px;
}

.stat-head {
    background-color: #e8ebbf;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.stat-head h5 {
    margin-top: 0;
}

.storable_products {
    margin: 10px;
}

/* Parent menu image and icon */
.cyst1 .custom-file-upload-parentmenu {
    width: 30%;
    height: 75px;
    border: 2px dashed #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    background-color: #fafafa;
    margin: auto;
    border-radius: 15px;
}

.cyst1 .custom-file-upload-parentmenu span {
    color: #505050;
    font-size: 11px;
}

/*
.cyst1 .custom-file-upload-parentmenu .max {
    font-size: 10px;
}*/

.cyst1 .custom-file-upload-parentmenu:hover {
    background-color: #f8f9fa;
    border: 2px dashed #a0a800;
}

.cyst1 .custom-file-upload-parentmenu input[type="file"] {
    display: none;
}

/* Custom button */
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-st-custom:not(:disabled):not(.disabled):active {
    background-color: #a0a800;
}

.btn-st-custom:not(:disabled):not(.disabled):active {
    border-color: #a0a800;
}

.cyst1 .btn-st-custom {
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #dfdfdf;
    color: #505050;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
    width: 30px;
    height: 20px;
}

.cyst1 .btn-st-custom:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2) !important;
    background-color: #a0a800 !important;
    border: 1px solid #a0a800 !important;
}

.cyst1 .btn-st-custom:active {
    background-color: #a0a800;
}


.cyst1 .btn-st-custom svg {
    margin-top: -3px;
    margin-right: 5px;
}

.cyst1 .btn-st-custom-st:hover svg path {
    fill: #fff;
}

.cyst1 .btn_group_custom {
    display: flex;
    grid-template-columns: 0fr 1fr;
    justify-content: center;
    grid-column-gap: 15px;
}
@media (max-width: 100px) {
    .btn_group_custom {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-around;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}


.ml-5 {
    margin-left: 5px;
}

/* Checkbox for the tree form kanban */
.checkbox-wrapper-15 .cbx {
    margin-left: 6px;
    display: inline-flex;
    align-items: center;
    padding: 2px 33px;
    border: 2px solid #9ea700;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #8bc34a;
    background-color: #f9fafb;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 0rem;
}

.checkbox-wrapper-15 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    color: #1b1c13;
}

.checkbox-wrapper-15 .cbx span:first-child {
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    transition: all 0.2s ease;
}

.checkbox-wrapper-15 .cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 6px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-15 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #94b300;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}

.checkbox-wrapper-15 .cbx span:last-child {
    margin-left: 8px;
}

.checkbox-wrapper-15 .cbx span:last-child:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #B9B8C3;
    transform-origin: 0 0;
    transform: scaleX(0);
}

.checkbox-wrapper-15 .cbx:hover span:first-child {
    border-color: #94b300;
}

.checkbox-wrapper-15 .cbx:hover span:last-child {
    color: #769000;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx {
    background-color: #9ea700;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child {
    /*border-color: #94b300;
    background: #94b300;*/
    animation: check-15 0.6s ease;
    color: #fbfbf8;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child {
    color: #fbfbf8;
    transition: all 0.3s ease;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child:after {

}

@keyframes check-15 {
    50% {
    transform: scale(1.2);
    }
}


li.nav-item span svg {
    margin-bottom: 2px;
    color: #9ea700;
}

.modal_footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-right: 15.5px;
}

.modal-content .cy-app-install-demo-card__page {
    margin-left: 20px;
    margin-bottom: 0px;
}

.cy-app-install-demo-card__header .close {
    font-size: 27px;
    margin-right: 15px;
}

#contact #myTab {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 2rem;
}

#contact .access_active {
    text-align: center !important;
    border: 1px solid #fff;
    color: #222;
    text-align: center !important;
    font-weight: 400 !important;
}

#contact .access_active.active {
    border: 1px solid #dfdfdf !important;
    border-bottom: 2px solid #fff !important;
    color: #7e8600 !important;
    font-weight: 400;
}

#contact #myTabContent3 {
    border: 1px solid #dfdfdf;
    padding: 1rem;
    min-height: 277px;
}

.nav-tabs .access_active {
    margin-bottom: -2px;
}
.cy-app-install-onboarding-card__input.record_rule_name {
    border: 1px solid #353535;
}
.cy-app-install-onboarding-card__input{
    border-bottom: 1px solid #353535 !important;
}

.cy-app-install-onboarding-card__input.record_rule_name:focus, .cy-app-install-onboarding-card__input.record_rule_name:hover{
    border: 2px solid #9EA700 !important;
}



.position-dropdown {
    position: relative;
    width: 70px;
    font-family: inter, sans-serif;
    font-size: 14px;
}

.position-dropdown-selected {
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #353535;
    position: relative;
    padding-left: 3px !important;
    transition:border-color 0.3s ease;
}

.position-dropdown-options {
    position: fixed;
    top: inherit;
    left: inherit;
    width: 60px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    padding-left: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}

.position-dropdown-option {
    cursor: pointer;
    padding-top: 5px;
    color: #333;
}

.position-dropdown-option:last-child {
    border-bottom: none;
}

.position-dropdown-option:hover {
    background-color: #f1f1f1;
}

.position-dropdown-selected:hover, .position-dropdown-selected:focus, .position-dropdown-selected:focus-visible {
    outline: none !important;
    border-color: #9EA700 !important;
    box-shadow: none;
}




.show{
    display:block !important;
    }
.down-arrow {
    position: relative;
}

.down-arrow:after {
    position: absolute;
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    background-image: url(./../img/arrow-down-s-line.svg);
    right: 0;
    top: 4px;
}
.model-dropdown {
    position: relative;
    width: auto;
    font-family: inter, sans-serif;
    font-size: 14px;
}

.model-dropdown-selected {
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #353535;
    position: relative;
    margin-top: 2px;
    transition: border-color 0.3s ease;
}

.model-dropdown-options {
    position: fixed;
    top: inherit;
    left: inherit;
    width: 500px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    padding-left: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}
.default-view-field{
    .custom-dropdown.o-autocomplete .d-flex .selected-text{
    font-size:14px;
    font-style:inter,sans-serif;
       }
    }
.model-dropdown-option {
    cursor: pointer;
    padding-top: 5px;
    color: #333;
}

.model-dropdown-option:last-child {
    border-bottom: none;
}

.model-dropdown-option:hover {
    background-color: #f1f1f1;
}

.model-dropdown-selected:hover, .model-dropdown-selected:focus, .model-dropdown-selected:focus-visible {
    outline: none !important;
    border-color: #9EA700 !important;
    box-shadow: none;
}

.default-view-field{
    font-family: inter, sans-serif !important;
    font-size: 14px;
    }
.custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu {
    margin-top:0px !important;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    position: absolute !important; /* Ensure absolute positioning */
    top: 100% !important; /* Place dropdown just below the input */
    left: 2px !important; /* Align with the left of the parent */
    width: 379px; /* Set the desired width */
    max-height: 1000%;
    margin-left: 0; /* No additional margin needed */
    z-index: 99999 !important; /* Make sure dropdown is above the modal and footer */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
//     overflow: visible; /* Ensure content is fully visible */
}
.cy-studio-custom-dropdown .custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu{
    margin-top: -9px; /*To check the dropbox alignment*/
    margin-left: -5px;
    width: 100%;
    background: #2e2e2e !important;
    border: 1px solid #2e2e2e;
    border-top: none;
    position: absolute !important;
    min-width: 0px !important;
    animation: dropdownFadeSlide 0.5s ease;
}

.cyst1 .table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
}

.t-header {
    background-color: #f0f4fa !important;
    font-size: 14px;
    font-weight: 500;
}

.t-header {
    padding: 12px;
    border: 1px solid #dfdfdf;
    width: 14.28%;
}

.t-header {
    text-align: inherit;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 750px;
    padding: 10px; /* Add some padding to create space for the scrollbar */

}

.card-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.oh-card-body {
    padding: 10px;
}

.stat-widget-one {
    margin-bottom: 10px;
}

.stat-content {
    padding: 10px;
}

.stat-head {
    background-color: #e8ebbf;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.stat-head h5 {
    margin-top: 0;
}

.storable_products {
    margin: 10px;
}

/* Parent menu image and icon */
.cyst1 .custom-file-upload-parentmenu {
    width: 30%;
    height: 75px;
    border: 2px dashed #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    background-color: #fafafa;
    margin: auto;
    border-radius: 15px;
}

.cyst1 .custom-file-upload-parentmenu span {
    color: #505050;
    font-size: 11px;
}

/*
.cyst1 .custom-file-upload-parentmenu .max {
    font-size: 10px;
}*/

.cyst1 .custom-file-upload-parentmenu:hover {
    background-color: #f8f9fa;
    border: 2px dashed #a0a800;
}

.cyst1 .custom-file-upload-parentmenu input[type="file"] {
    display: none;
}
.cy-new-app-install-onboarding-card__input {
    border: unset !important;
}
.cyst1 .access_records td{
    border:none !important;
}
.cyst1 .access_records td:first-child {
    width: 60%;
}
.cyst1 .access_records .table tbody {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
// .cyst1 .o_input{
//     border:none !important;
//     border-bottom: 1px solid black !important;
// }
.cyst1 .o_record_selector:hover .o_dropdown_button:after {
    content:unset;
}