.o_control_panel_main {
  align-items: center !important;
}

.gantt_date_container .currentDate {
  font-weight: 500;
  color: #212529;
}

#view-selector {
  border: none;
  background-color: #EEEEEE !important;
  color: #505050 !important;
  font-weight: 500;
  font-size: 13px;
  max-width: 70px !important;
  background-position: right 6px center !important;
  background-size: 10px !important;
  padding: 0px 13px;
}

.vis-content {
  top: 0px !important;
  transform: none !important;
}

.vis-group {
  min-height: 35px !important;

  .vis-delete {
    height: 100% !important;
    display: flex;
    align-items: center;
  }
}

.vis-today {
  background: #e7f7021a;
  color: #000 !important;
}

.vis-saturday {
  background: #aba4a41a;
}

.vis-sunday {
  background: #aba4a41a;
}

.vis-labelset {
  .vis-label {
    min-height: 35px !important;
  }
}

.vis-foreground {
  .vis-group {
    min-height: 60px !important;
  }
}