/* Style for buttons in the one2many tree view */
.o_list_view .o_data_row .btn-installment{
    padding: 5px 10px;
    margin: 0;
    font-size: 14px;
    height: 30px;
    width: 100px;
}

.o_list_view .o_data_row .btn-installment:hover {
    background-color: #0056b3; /* Darker color on hover */
    color: white;
}