@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.cy-authentication {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.cy-authentication .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box !important;
    min-height: 80dvh;
    max-height: 90dvh;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .cy-authentication .wrapper {
        height: auto !important;
        margin-bottom: 50px;
    }
}

/*.cy-authentication .wrapper .items {*/
/*    padding: 2rem 0;*/
/*}*/

.cy-authentication .wrapper .items:nth-child(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 47%;
    flex: 1 1 47%;
    width: 47%;
    background-color: #fafbee;
    /*background-color: rgb(254, 255, 240);*/
}

.cy-authentication .wrapper .items:nth-child(1) .login_img_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    /*margin-top: 40px;*/
    /*margin-left: 40px;*/
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;

}

@media (max-width: 768px) {
    .cy-authentication .wrapper .items:nth-child(1) {
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        display: none;
    }
}

.cy-authentication .login_form_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding:  5rem 0;
}

.cy-authentication .wrapper .login_thumbnail_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 3rem;
    /*margin-top: 70px;*/
}

.cy-authentication .wrapper .login_thumbnail_wrapper .login_thumbnail_img {
    max-width: 250px;
}

.cy-authentication .wrapper .login_thumbnail_wrapper .login_thumbnail_img img {
    width: 100%;
}

.cy-authentication .wrapper .login_thumbnail_wrapper .login_thumb_details {
    text-align: center;
}

.cy-authentication .wrapper .login_thumbnail_wrapper .login_thumb_details h4 {
    color: #000000;
    font-size: 26px;
    font-weight: 600;
}

.cy-authentication .wrapper .login_thumbnail_wrapper .login_thumb_details p {
    color: #686B6F;
    font-size: 16px;
    padding-top: 15px;
}

.cy-authentication .items:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 53%;
    flex: 1 1 53%;
    background: #FFFFFF;
    width: 53%;
}

.cy-authentication .login_form_right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: start;
    padding:  1.5rem 0;
}

.cy-authentication .form-group {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .cy-authentication .login_form_right {
        padding: 40px 0px;
    }
}

.cy-authentication .login_form_right .login_form_right_form {
    width: 100%;
    padding: 0px 1.5rem;
    /*padding-top: 40px;*/
    /*padding-bottom: 10px;*/
}

@media (max-width: 992px) {
    .cy-authentication .login_form_right .login_form_right_form {
        padding: 0px 15px;
        width: 100%;
        padding-bottom: 10px;
    }
}


.cy-authentication .login_form_right .login_form_right_form .form_heading {
    margin-bottom: 20px;
}

.cy-authentication .login_form_right .login_form_right_form .form_heading h4 {
    color: #000000;
    padding-top: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600 !important;
}

.cy-authentication .login_form_right .login_form_right_form .form_heading p {
    color: #686B6F;
    font-size: 16px;
    padding-top: 10px;
}

.cy-authentication .login_form_right .login_form_right_form .form-group label {
    color: #455360 !important;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: .5rem;
}

.cy-authentication .login_form_right .login_form_right_form .form-control {
    padding: 10px;
    height: auto;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
    -webkit-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    font-size: 13px;
}

.cy-authentication .login_form_right .login_form_right_form .form-control:hover {
    border-color: #9EA700;
}


.cy-authentication .login_form_right .login_form_right_form .form-control:focus {
    border-color: #9EA700;
    outline: none;
    box-shadow: unset;
}

.cy-authentication .login_form_right .login_form_right_form .form-control:active {
    border-color: #9EA700;
}

.cy-authentication .login_form_right .login_form_right_form .form-select:active {
    border-color: #9EA700;
    box-shadow: unset;
}

.cy-authentication .login_form_right .login_form_right_form .form-select:focus {
    border-color: #9EA700;
    box-shadow: unset;
}


.cy-authentication .login_form_right .login_form_right_form .forgot {
    color: #9EA700;
    font-weight: 600;
    display: block;
}

.cy-authentication .login_form_right .login_form_right_form .forgot:hover {
    text-decoration: none;
    color: #8e9600;
}

.cy-authentication .login_form_right .login_form_right_form .sign_up {
    padding-top: 15px;
    text-align: center;
    color: #000;
}

.cy-authentication .login_form_right .login_form_right_form .sign_up a {
    color: #9EA700;
}

.cy-authentication .login_form_right .login_form_right_form .sign_up a:hover {
    text-decoration: none;
    color: #8e9600;
}

@media (max-width: 768px) {

    .cy-authentication .items:nth-child(1),
    .cy-authentication .items:nth-child(2) {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block;
}

@media (max-width: 1200px) or (max-height: 600px) {
    .cy-authentication .wrapper {
        min-height:  auto !important;
    }

    .cy-authentication .wrapper .login_thumbnail_wrapper {
        padding: 0 1.5rem;
    }

    .cy-authentication .wrapper .login_thumbnail_wrapper .login_thumbnail_img {
        max-width: 200px;
    }

    .cy-authentication .wrapper .login_thumbnail_wrapper .login_thumb_details h4 {
        font-size: 22px;
    }
    .cy-authentication .wrapper .login_thumbnail_wrapper .login_thumb_details p {
        font-size: 14px;
    }

    .owl-dots {
        transform: scale(0.8);
    }
}

@media (max-width: 992px) or (max-height: 500px) {
    .cy-authentication .wrapper .login_thumbnail_wrapper {
        padding: 0 1rem;
    }

    .cy-authentication .wrapper .login_thumbnail_wrapper .login_thumbnail_img {
        max-width: 150px;
    }

    .cy-authentication .wrapper .login_thumbnail_wrapper .login_thumb_details h4 {
        font-size: 18px;
    }
    .cy-authentication .wrapper .login_thumbnail_wrapper .login_thumb_details p {
        font-size: 12px;
    }

    .owl-dots {
        transform: scale(0.6);
    }
}

.owl-dot:focus {
    outline: none !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 4px;
    background: #DFDFDF;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #9EA700 !important;
    width: 30px;
}

@media (min-width: 1400px) {
    .cy-authentication .container {
        max-width: 1140px;
    }
}

.cy-authentication form .form-control::-webkit-input-placeholder {
    font-size: 14px;
}

.cy-authentication form .form-control::-moz-placeholder {
    font-size: 14px;
}

.cy-authentication form .form-control:-ms-input-placeholder {
    font-size: 14px;
}

.cy-authentication form .form-control::-ms-input-placeholder {
    font-size: 14px;
}

.cy-authentication form .form-control::placeholder,
option {
    font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #f5f5f5 !important;
    font-family: "Inter", sans-serif;
}

.cyllo-modal_content {
    border: 1px solid #E4E4E4;
    border-bottom: 2px solid #E4E4E4;
    padding: 2rem;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
}

.cy-modal_header {
    padding: 0px !Important;
    align-items: flex-start;
    padding-bottom: 0.4rem !important;
}

.cy-modal_footer {
    padding: 0;
    border-top: none;
    justify-content: flex-start;
}

.cy-modal_sub-title {
    font-size: 14px;
    color: #777777;
}

.cy-modal-title {
    font-size: 22px;
    color: #222222;
    font-weight: bold;
}

.cy-dashboard-container {
    background-color: #fff;
    width: 87%;
    min-height: 480px;
}

.cy-modal_body {
    padding: 1.2rem 0 !important;
}

.cy-dashboard-left-side-img {
    background-image: url(/cyllo_web/static/src/img/cy-dashboard.png); /*?*/
    height: 100%;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position-y: 10%;
}

.cy-dashboard-left-side_manager .cy-dashboard-left-side-img {
    background-size: cover;
    border-radius: 18px;
}

.cy-dashboard-left-side_manager_row {
    width: 50%
}

.cy-h6-header {
    color: #6F7500;
    font-size: 28px;
    font-weight: 700;
}

.p-cy-section {
    font-size: 16px;
    margin-bottom: 18px;
}

.cy-logo-dashboard-left {
    position: absolute;
    bottom: 10px;
}

.cy-dashboard-container-right .manage-btn {
    border: 1px solid #e4e4e4;
    font-size: 13px;
}

.cy-dashboard-container-right .manage-btn:hover {
    color: #666;
    background-color: #F8F8F8;
}

.cy-database-content {
    padding: 15px;
    border-bottom: 1px solid #DFDFDF;
    /*position: relative;
    padding-left: 30px;*/
}

.cy-database-content:hover {
    background-color: #F8F8F8;
}

/*.warning-icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
}*/

.cy-database-name:hover {
    font-size: 16px;
    color: #9ea700;
    cursor: pointer;
}

.cy-database-name {
    font-size: 16px;
    color: #3C4D62;
}

.cy-database-button-container {
    border: 1px solid #e4e4e4;
    border-radius: 8px;
}

.cy-database-button-container a:hover {
    text-decoration: none;
}

.cy-database-button-container i {
    font-size: 16px;
}

.cy-database-button-container a i:hover {
    color: #9ea700 !important;
}

.cy-box-upload {
    height: 25px;
    width: 33%;
}

.cy-box-copy {
    height: 25px;
    width: 33%;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.cy-box-delete {
    height: 25px;
    width: 33%;
}

.cy-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    color: #3C4D62 !important;
}

a:hover {
    color: #9ea700 !important;
    text-decoration: underline;
}

.btn-primary {
    background-color: hsl(63, 100%, 33%) !important;
    color: var(--white-color);
    border: none !important;
    border-radius: 0.25rem;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: unset !important;
}

.cy-form_group {
    margin-bottom: .6rem !important;
}

.cy-modal__label {
    font-size: 12px;
    font-weight: 600;
    color: #505050;
    padding: 0.4rem 0;
    min-width: 70px;
    margin: 0;
}

.cy-required {
    color: #FF4B4B;
    font-size: 12px;
    padding: 0 0.2rem;
}

.cy-input_control {
    border-radius: 2px !important;
    border: 1px solid #c3c3c3 !important;
    font-size: 14px !important;
    color: #0C0520 !important;
    height: 35px !important;
    font-weight: 500 !important;
    transition: all 0.3s linear !important;
}

.cy-input_control:focus {
    box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s linear !important;
    border: 1px solid #9EA700 !important;
    outline: none !important;
}

.cy-input-container {
    position: relative;
}

.cy-eye {
    position: absolute;
    z-index: 5;
    top: 10%;
    right: 3%;
}

.cy-check_box:focus {
    border: 1px solid #9EA700;
    box-shadow: none;
}

.cy-check_box:checked {
    background-color: #9EA700;
    border: 1px solid #9EA700;
}

.cy-radio_label {
    color: #505050;
    font-size: 12px;
    font-weight: 600;
}

.cy-primary_btn {
    width: 100%;
    background-color: #9EA700;
    border: 1px solid #9EA700;
    margin: 0.4rem 0;
    transition: all 0.3s linear;
    height: 45px;
    border-radius: 5px;
}

.cy-primary_btn:hover {
    background-color: #6F7500;
    border-color: #6F7500;
}

.cy-primary_btn:active:focus,
.cy-primary_btn:active,
.cy-primary_btn:focus {
    box-shadow: none;
    background-color: #9EA700;
    outline: none;
}

.cy-file_btn {
    color: #505050;
    font-size: 12px;
    margin-top: 0.3rem;
    position: relative;
}

.cy-file_btn::file-selector-button {
    color: #fff;
    background-color: #505050;
    font-size: 12px;
    display: block;
    font-weight: 600;
    border-radius: 2px;
    border: 1px solid #505050;
    padding: 8px 20px;
    padding-left: 32px;
    margin-bottom: 0.2rem;
}

.cy-file_btn::before {
    content: '';
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
    top: 0.55rem;
    left: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M14.8287 7.75737L9.1718 13.4142C8.78127 13.8047 8.78127 14.4379 9.1718 14.8284C9.56232 15.219 10.1955 15.219 10.586 14.8284L16.2429 9.17158C17.4144 8.00001 17.4144 6.10052 16.2429 4.92894C15.0713 3.75737 13.1718 3.75737 12.0002 4.92894L6.34337 10.5858C4.39075 12.5384 4.39075 15.7042 6.34337 17.6569C8.29599 19.6095 11.4618 19.6095 13.4144 17.6569L19.0713 12L20.4855 13.4142L14.8287 19.0711C12.095 21.8047 7.66283 21.8047 4.92916 19.0711C2.19549 16.3374 2.19549 11.9053 4.92916 9.17158L10.586 3.51473C12.5386 1.56211 15.7045 1.56211 17.6571 3.51473C19.6097 5.46735 19.6097 8.63317 17.6571 10.5858L12.0002 16.2427C10.8287 17.4142 8.92916 17.4142 7.75759 16.2427C6.58601 15.0711 6.58601 13.1716 7.75759 12L13.4144 6.34316L14.8287 7.75737Z'%3E%3C/path%3E%3C/svg%3E");
}

.cy-modal_sub-text {
    font-size: 12px;
    color: #777777;
    line-height: 18px;
    margin-top: 0.4rem;
}

.cy-db-list {
    max-height: 56vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}


/**::-webkit-scrollbar {
    visibility: hidden;
    width: 5px;
    height: 5px;
}*/

@media (max-width: 980px) {
    .cy-dashboard-left-side-img-container {
        display: none;
    }

    .cy-database-content {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 991px) {
    .cy-database-button-container {
        margin-top: 10px;
    }
}

.cy-input-box:active {
    border: 1px solid #9EA700 !important;
    box-shadow: unset !important;
}

.cy-input-box:focus {
    border: 1px solid #9EA700 !important;
    box-shadow: unset !important;
}

.cy-authentication .btn-primary:focus {
    box-shadow: unset !important;
    border-color: unset !important;
}

*::-webkit-scrollbar {
    visibility: hidden;
    width: 5px;
    height: 5px;
}

*:hover::-webkit-scrollbar {
    visibility: visible;
}

*:hover::-webkit-scrollbar-track {
    background: rgba(233, 237, 241, 0.3);
    border-radius: 25px;
}

*:hover::-webkit-scrollbar-thumb {
    background: hsl(213, 22%, 84%);
    border-radius: 25px;
}

*:hover::-webkit-scrollbar-thumb:hover {
    background: hsl(216, 18%, 64%);
}

.cy-alert-box-60{
    max-width: 60vw;
}