.cy_sticky {
    position: sticky;
    top: 75px;
    z-index: 10;
}

.o_pivot tbody tr .text-nowrap {
    background-color: white;
    left: 0;
    outline: 1px solid #dee2e6;
}

.cy_sticky tr th {
    outline: 1px solid #dee2e6;
    border: none;
    outline-offset: -1px;
    left: 0;
    background-color: white;
}


.o_pivot .o-dropdown.dropdown.o_group_by_menu {
    position: relative !important;
    display: block !important;
}

.o_pivot th .o-dropdown.dropdown.o_group_by_menu > .o-dropdown--menu.dropdown-menu {
    position: absolute !important;
    left: 105% !important;
    top: 100% !important;
}

.sticky_cogMenu {
    position: sticky;
    left: 0;
    top: 0px;
    height: 76px;
    z-index: 11;
    padding: 22px !important;
    opacity: 1 !important;
}

