@import url("//fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --white-color: hsl(0, 0%, 100%);
    --background-color: hsl(0, 0%, 96%);
    --primary-light-color: hsl(64, 47%, 93%);
    --primary-color: hsl(63, 100%, 33%);
    --primary-dark-color: hsl(63, 100%, 23%);
    --label-color: hsl(213, 24%, 31%);
    --border-color: hsl(0, 0%, 85%);
    --super-color: hsl(0, 100%, 65%);
}

body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.cy-auth-container {
    width: 100%;
    height: 100%;
    background-image: url("/cyllo_base/static/src/img/cloud-bg.png");
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}


.cy-auth {
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    padding: 1.25rem;
    border-radius: 0.5rem;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cy-auth__left {
    width: 100%;
    height: 100%;
    background-image: url("/cyllo_web/static/src/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.5rem 1.563rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cy-auth__required {
    color: var(--super-color);
}

.cy-auth__label {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 2.5;
    color: var(--label-color);
}

.cy-auth__input {
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #c3c3c3;
    padding: 0.75rem;
}

.cy-auth__input:focus {
    border: 1px solid var(--primary-color);
    outline: var(--primary-light-color) solid 3px;
}

.cy-auth__form-group {
    margin-bottom: 1rem;
}

.cy-auth__btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem;
    width: 100%;
    font-weight: 600;
}

.cy-auth__btn:hover {
    background: #849600;
}

.cy-auth__footer {
    margin-top: 1.8rem;
    display: flex;
    flex-direction: column;

}

.cy-auth__btn_reset {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    max-width: 400px;
    padding: 0.25rem 0.5rem 0.25rem 0;
    font-weight: 600;
}

.cy-auth__left_content {
    color: var(--white-color);
}

.cy-auth__right {
    padding: 50px 50px 50px 0;
}

.cy-auth__left_title {
    margin-top: 0;
    margin-bottom: 16px;
}

.cy-password-field {
    position: relative;
}

.cy-password-eye {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
}

.cy-password-eye i {
    color: #ddd;
}

@media (max-width: 576px) {
    .cy-auth__left {
        display: none;
    }

    .cy-auth {
        background-color: var(--white-color);
        border: 1px solid var(--border-color);
        padding: 1.25rem;
        border-radius: 0.5rem;
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        gap: 2.3rem;
        position: unset;
        transform: unset;
    }

    .cy-auth__input {
        max-width: unset;
    }

    .cy-auth__right {
        padding: 0;
    }

    .cy-auth__btn_reset {
        max-width: unset;
    }

    .cy-auth__btn {
        max-width: unset;
    }

    .cy-auth-right-title {
        display: block !important;
    }

    .cy-auth-right-title h2 {
        margin-top: 0;
    }
}

.cy-auth-right-title {
    display: none;
}

.form-control[readonly] {
    background-color: var(--white-color);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--primary-color)
}

@media screen and (max-width: 970px) {
    .cy-auth__left {
        display: none;
    }

    .cy-auth {
        grid-template-columns: auto;
    }

    .cy-auth__right {
        padding: 20px 20px 20px 20px;
    }
}

.cy-authentication .btn-primary:focus {
    box-shadow: unset !important;
    border-color: #9EA700 !important;
}


.cy-authentication .btn-primary:hover {
    border-color: #9EA700
}