.cy-app-name {
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.menuListFixed .cy-app-name {
    opacity: 0;
    transition: none;
}

.cy-left-sidebar {
    background-color: #26261A;
    height: 100vh;
    overflow-y: auto;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0;
    position: relative;
    scrollbar-width: none;
}

.cy-left-sidebar::-webkit-scrollbar {
    display: none;
}

.menuListFixed .cy-left-sidebar li:last-child {
    margin-bottom: 32px !important;
}

.cy-sidebar-nav {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #BCBBA7;
    font-weight: 400;
}

div:not(.menuListFixed) .cy-left-sidebar li.nav-item.mb-2 .cy-left-menuLi1 {
    i {
        font-size: unset;
    }
}

div:not(.menuListFixed) .cy-left-sidebar li.nav-item.mb-2:has(a:focus-visible),
div:not(.menuListFixed) .cy-left-sidebar li.nav-item.mb-2:hover {
    background-color: #373627;
    outline: none;

    a {
        color: #fff !important;
        outline: none;
    }
}

.cy-sidebar-nav .cy-image {
    padding: 4px 10px;
    border-radius: 2px;
    font-weight: 500;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.menuListFixed .cy-sidebar-nav .cy-image {
    margin-left: 8px;
}

.menuListFixed .cy_active_main_menu .cy-image,
.menuListFixed .cy_active_main_menu a>i,
.menuListFixed .cy_active_main_menu .cy-svg-container {
    outline: 2px solid #9EA700;
    background-color: #373627;
    border-radius: 8px !important;
}

.menuListFixed .cy-left-sidebar li:hover .cy-image,
.menuListFixed .cy-left-sidebar li:hover a>i,
.menuListFixed .cy-left-sidebar li:hover .cy-svg-container {
    border-radius: 8px !important;
    background-color: #373627;
    animation: cy-icon-rotate 0.3s ease-in-out 2;
}

@keyframes cy-icon-rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.cy-submenu-box {
    background-color: #373627;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none;
}

.cy-submenu-lists {
    width: 100%;
}

.cy_dashboard_back-btn {
    z-index: 2;
    color: #BCBBA7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.8rem;
    top: 0;
    font-size: 26px;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    width: 70px;
    padding-top: 16px;
}

.cy-cyllo_back {
    background-color: #9EA700;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.cy-submenu-logo {
    padding-top: 16px;
    padding-bottom: 16px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #373627;
    width: 100%;
    min-height: 70px;
}

.cy-submenu-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cy-sidebar-heading {
    color: #d3d3d3;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-top: 2rem;
    background-color: #26261a;
}

.cy-sidebar-heading:hover {
    color: #d3d3d3;
}

.cy-sidebar-heading:focus {
    color: #d3d3d3 !important;
}

.cy-submenu-sidebar-nav {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #BCBBA7;
    font-weight: 400;
    padding: 12px 94px 12px 30px;
}

.cy-submenu-sidebar-nav:hover {
    color: #9EA700;
}

.cy-submenu-box .cy-sidebar-nav {
    height: 40px;
    width: auto !important;
}

.cy-accordian.collapsed i {
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    transform: rotate(0deg);
}

.cy-accordian:not(.collapsed) i {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.cy-submenu-box .cy-accordian:has(+ .show) {
    background-color: #343322 !important;
    font-weight: 500;
    color: white;
    transition: background-color 0.1s ease-in-out, font-weight 0.1s ease-in-out;
}

.cy-submenu-box .show {
    background-color: #343322 !important;
    transition: background-color 0.1s ease-in-out, font-weight 0.1s ease-in-out;
}

.cy-left-sidebar .cy-svg-container svg {
    width: 35px;
    height: 30px;
    padding: 1px;
}

.menuListFixed .cy-left-sidebar .cy-svg-container svg {
    width: 30px;
    height: 30px;
}

.cy-sidebar-nav:has(img) {
    padding: 0.5rem 1.5rem;
}

.menuListFixed .cy-left-sidebar .nav-link {
    justify-content: center;
    padding-left: 1rem;
}

.menuListFixed .cy-left-sidebar .nav-link>* {
    padding: 8px;
}

.cy-submenu-box .nav-link {
    padding: 0.5rem 0.6rem;
}

.cy-left-sidebar .nav-link {
    padding-left: 1rem;
}

.cy-submenu-box li:not(.cy_active_menu):hover,
.cy-submenu-box .cy-accordian:hover {
    background-color: #3c3b29 !important;

    a {
        color: #BCBBA7 !important;
    }
}

.cy-submenu-box .cy_active_menu {
    a {
        color: white !important;
    }

    color: white !important;
    background: #46442d !important;
}

.menuListFixed .cy-left-sidebar .nav-item {
    margin-bottom: 16px !important;
    width: 70px;
}

.menuListFixed .cy-left-sidebar .nav-link {
    width: 70px;
}

.menuListFixed .cy-left-sidebar {
    min-width: 70px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.cy-submenu-box>ul>li>ul>li {
    padding-left: 7% !important;
}

.cy-submenu-box>ul>li>ul>a {
    padding-left: calc(0.6rem + 7%) !important;
}

.cy-submenu-box>ul>li>ul>ul>li {
    padding-left: 14% !important;
}

.cy-collapse-menu {
    z-index: 100;
    font-size: 1.728rem;
    color: #A9A78E;
    background: #26261A;
    left: 100%;
    border-radius: 0 10px 10px 0;
    top: 1%;
}

.o_action_manager.menuListFixed.cy_menu-collapsed> :nth-child(2) {
    margin-left: 70px !important;
}

body:has(.cy_menu-collapsed) .o_main_navbar {
    width: calc(100% - 70px) !important;
}

.cy-back-icon {
    width: 25px;
}

.oi-group {
    color: #FFF;
}