/*Set all fields in to readonly
 if there any issue in field click
 please refer this css*/

.cy-studio-readonly * {
    pointer-events: none !important;
}

.cy-studio-readonly-boolean * {
    pointer-events: none !important;
    opacity: 0.5;
}

.o_inner_group .cy-studio-field-h {
    height: 100%;
}

.cy-studio-overlay {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: RGBA(17, 24, 39, var(--bg-opacity, 1));
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    color: white;
    font-size: 20px;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.o_form_sheet .cy-studio-overlay {
    height: calc(100% - 19px) !important;
}