.work-auto-draggable-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    background-color: #F7F7F7;
    cursor: grabbing;
    position: relative;
    padding: 0.5rem;
    text-align: center;
    color: #0E3A5D;
    font-size: 12.8px;
    font-weight: 600;

    .work-auto-condition-remove{
            display: none;
    }
    &:hover{
        .work-auto-condition-remove{
            display: block;
        }
    }
}

.work-auto-drop-zone {
    margin-bottom: 1rem;
    border: 3px dashed #DFDFDF;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 450px;
    overflow-x: auto;

    &::-webkit-scrollbar {
            display: none !important; // Hide the scrollbar in WebKit browsers
    }
}

.work-auto-fields {
    flex: 2;

}

.work-auto-field_list.card {
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    max-height: 439px;
    border: none;

    &::-webkit-scrollbar {
        display: none !important; // Hide the scrollbar in WebKit browsers
    }
}

.work-auto-usable-item {
    border: 1px dashed greenyellow;
}

.work-auto-operators {
    margin-top: 11px;
    max-height: 455px;
    overflow: auto;
    flex: 2;

    &::-webkit-scrollbar {
        display: none; // Hide the scrollbar in WebKit browsers
    }
}

.condition-row {
    .o_input{
    }
    .cy-record-path-selector {
        width: 100%;
    }

    &.cy-condition-err {
        padding: 5px;
        border: 1px dashed red;
        border-radius: 10px;
    }
}

.cy-w-label .o_input.invalid {
    border-bottom: 1px solid red;
}

.condition-row .o_model_field_selector {
    overflow: hidden;
    height: 24px;
}

.drawflow .drawflow-node.Condition.selected .condition-tooltip-container,
.drawflow .drawflow-node.Try.Catch.selected .condition-tooltip-container {
    display: block;
}

.condition-tooltip-container {
     position: absolute;
    text-align: left;
    right: -71%;
    top: -305%;
    width: max-content;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 17px 7px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    max-width: 300px;
    z-index: 1000;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
    display:none;
    }

.condition-tooltip-container span {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    line-height: 1.4;
    position: relative;
    padding-left: 25px;
    padding-right: 12px;
}

.condition-tooltip-container span:last-child {
    margin-bottom: 0;
}

.condition-tooltip-container span::before {
    content: '•';
    position: absolute;
    left: 10px;
    color: #4a90e2;
    font-size: 18px;
    top: -2px;
}

.condition-tooltip-container span:nth-child(1)::before { color: #28a745; }
.condition-tooltip-container span:nth-child(2)::before { color: #ff797a; }
.condition-tooltip-container span:nth-child(3)::before { color: #bc7900; }