.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-menu li .lnik_wrapper {
  border: 1px solid white;
  border-radius: 50%;
  border-width: 3px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown styles */

.dropdown-content {
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  right: 0;
  top: 0;
  border-radius: 0 0 0.375rem 0.375rem;
}

.o_main_navbar .dropdown-menu{
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.cy_user_menu_dropdown{
  transform: translate(0px, 61px) !important;
}

@media screen and (max-width: 400px) {
  .dropdown-content {
    min-width: 250px;
  }
}

.dropdown-content .content_header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.dropdown-content .content_header .left a, .dropdown-content .content_header .right a {
  padding: 0;
}

.dropdown-content .content_body {
  padding-top: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown-content .content_body .img_wrapper {
  max-width: 100px;
  margin-right: 20px;
}

.dropdown-content .content_body .img_wrapper img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.dropdown-content .content_body .profile_info {
  color: #000000;
}

.dropdown-content .content_body .profile_info .profile_name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.dropdown-content .content_body .profile_info a {
  padding: 0;
}

.dropdown-content .content_body .profile_info .user_mail {
  margin-bottom: 15px;
}

.dropdown-content .content_body .profile_info .view_account {
  color: rgb(13, 126, 201) !important;
  text-decoration: underline;
}

.dropdown-content .content_body .profile_info .view_account:hover {
  color: #0843ab !important;
}

.dropdown-content a {
  color: black !important;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  margin-left: 5px;
}

.cy-navbar-menu .dropdown-item{
  margin: 0;
}

.cy-navbar-menu  .btn-secondary{
  border-radius: 6px !important;
}