.cy-sheet__container {
  background-color: #fff;
}
.cy-sheet__recents {
  padding: 3.5rem;
  height: 93vh;
  overflow-y: scroll;

}
.cy-sheet__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767.98px) {
  .cy-sheet__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.cy-sheet__h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.cy-sheet__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (max-width: 767.98px) {
  .cy-sheet__actions {
    margin-top: 0.75rem;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.cy-sheet__search {
  position: relative;
}

.cy-sheet__search-input {
    border-style: solid;
    border-width: 1px 1px 1.5px 1px;
    border-color: #dfdfdf;
    border-radius: 6px !important;
    padding: 9px 15px 9px 35px !important;
    font-size: 0.85rem;
    min-width: 370px
}

@media screen and (max-width:767.98px) {
    .cy-sheet__search-input {
        min-width: unset
    }
}

.cy-sheet__search-input::-webkit-input-placeholder {
    color: #8d8d8d
}

.cy-sheet__search-input::-moz-placeholder {
    color: #8d8d8d
}

.cy-sheet__search-input:-ms-input-placeholder {
    color: #8d8d8d
}

.cy-sheet__search-input::-ms-input-placeholder {
    color: #8d8d8d
}

.cy-sheet__search-input::placeholder {
    color: #8d8d8d
}

.cy-sheet__search-input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px #e7e7e7;
    box-shadow: 0 0 0 3px #e7e7e7
}
.cy-btn--primary {
  background-color: #9ea700;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.cy-btn--primary:hover {
  background-color: #8e9600;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.cy-btn--primary:focus {
  -webkit-box-shadow: 0 0 0 3px #e7e7e7;
          box-shadow: 0 0 0 3px #e7e7e7;
}
.cy-sheet__search-icon {
  position: absolute;
  top: 9.5px;
  left: 12px;
  color: #8d8d8d;
}

.cy-sheet__table-container {
  margin-top: 2rem;
}

.cy-sheet__table-container {
  margin-top: 2rem;
}

.cy-sheet__table {
  width: 100%;
}
.cy-sheet__table thead th {
  padding-bottom: 30px;
}
.cy-sheet__table th {
  font-weight: 400;
  color: #505050;
}
.cy-sheet__table tr td:first-child {
  gap: 5px;
  font-weight: 600;
}
.cy-sheet__table tbody tr td {
  padding: 0.8rem 0;
  border-bottom: 1px solid #E2E2E2;
}
.cy-sheet__table tbody tr:hover {
    background: #eef3f4;
}

.cy-sheet__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.cy-main {
    background-color: #F0F1F3
}

.cy-sheet__table button {
    border-radius: 50%;
    background-color: #F4F4F4;
    border: none;
    color: #909090;
}
.cy-sheet-share-dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(9, 13, 17, 0.78);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 999;
}
.cy-sheet__table button:hover {
  background-color: #e3e3e3;
  color: #7d7c7c;
}
.cy-btn {
  border-radius: 6px;
  padding: 9px 22px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cy-btn i {
  margin-right: 0.5rem;
}
.cy-sheet__icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-image: url("/cyllo_spreadsheet/static/src/img/sheet-icon_.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.grid-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 2rem 0
}
.cy-sheet__grid-icon {
    width: 53px;
    height: 64px
}
.cyllo-sheet--file {
    color: #505050;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.cyllo-sheet--file img {
    width: 100%;
    height: 100%;
}
.cyllo-sheet_name {
    font-weight: 600;
    font-size: 0.9rem
}

.cyllo-sheet_owner {
    font-size: 0.8rem;
    font-weight: 600;
    color: #505050;
    display: block
}

.cyllo-sheet--detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.cyllo-sheet__date {
    font-size: 0.8rem;
    color: #505050
}

.cy-sheet__grid-icon {
    width: 53px;
    height: 64px
}
.cy-edit__btn {
    background-color: #F4F4F4;
    border: none;
    color: #909090;
    border-radius: 30px !important;
    padding: 6px 12px;
}
.cy-edit__btn i {
    font-size: 1rem;
}

.cy-edit__btn:hover {
    background-color: #e3e3e3;
    color: #7d7c7c
}

.cy-sheet-dropdown-btn button{
    border-radius: 50%;
    background-color: #F4F4F4;
    border: none;
    color: #909090;
    padding: 6px 11px;
}
.cy-view-btn{
    padding: 10px 16px;
}
.cy-sheet-grid-dropdown-btn button{
    background: none !important;
}
.cy-sheet-row-selected{
    background: #e6f2f3;
}
.cy-sheet-grid-selected{
    background: #e6f2f3 !important;
}
.cy-grid-item {
    padding: 0.4rem;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}
.cy-grid-item:hover {
    border: 1px solid #9b9999;
}
.cy-no-sheet_head {
    font-size: 1.5rem !important;
    font-weight: 600;
    color: #0E3A5D;
    white-space: nowrap;
}
.cy-no-sheet-main{
    margin-top: 200px;
}
.cy-no-sheet-icon {
    font-size: 2.5rem;
}
.cy-sheet-name-div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 186px;
}
.cy-sheet__recents .cy-edit__btn {
    font-size: 14px !important;
}